Repository mhsnook/sunlo: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, oxlint --fix, eslint --fix, tsc --noEmit

.lintstagedrc.json:

{
	"*.{js,jsx,ts,tsx,json,css,md}": ["prettier --write", "oxlint --fix"],
	"*.{ts,tsx}": ["eslint --fix", "tsc --noEmit"]
}

Enhance review completion screen with stats and navigation links
  contexts/2026-01-17-work-doc.md
  src/components/review/when-review-complete-screen.tsx
Due: prettier --write, oxlint --fix, eslint --fix, tsc --noEmit

Use correct values in tsconfig, like es2022
  tsconfig.app.json
  tsconfig.node.json
Due: prettier --write, oxlint --fix

Add cover image option to playlists
  contexts/2026-01-17-work-doc.md
  src/components/fields/cover-image-field.tsx
  src/components/playlists/playlist-list-item.tsx
  src/components/playlists/update-playlist-dialog.tsx
  src/lib/hooks.ts
  src/lib/schemas-playlist.ts
  src/routes/_user/learn/$lang.playlists.new.tsx
  src/types/supabase.ts
  supabase/migrations/20260117130000_add_playlist_cover_image.sql
  supabase/schemas/base.sql
Due: prettier --write, oxlint --fix, eslint --fix, tsc --noEmit

Add BEFORE INSERT trigger to validate friend request actions
  contexts/2026-01-17-work-doc.md
  supabase/migrations/20260117140000_friend_request_validation_trigger.sql
  supabase/test-friend-request-trigger.sql
Due: prettier --write, oxlint --fix

Make smaller 'Edit translations' and 'Add tags' buttons, tweak preview cards
  src/routes/_user/friends/-card-preview.tsx
Due: prettier --write, oxlint --fix, eslint --fix, tsc --noEmit

Hide cover image field when URL is embeddable
  src/components/playlists/playlist-embed.tsx
  src/components/playlists/playlist-list-item.tsx
  src/components/playlists/update-playlist-dialog.tsx
  src/routes/_user/learn/$lang.playlists.new.tsx
Due: prettier --write, oxlint --fix, eslint --fix, tsc --noEmit

Fix crash when phrase has no translations in PhraseTinyCard
  src/components/cards/phrase-tiny-card.tsx
Due: prettier --write, oxlint --fix, eslint --fix, tsc --noEmit

Fix one tiny form bug tripping a test
  src/routes/_user/learn/$lang.add-phrase.tsx
Due: prettier --write, oxlint --fix, eslint --fix, tsc --noEmit

Update schema and types for the playlist chat share
  src/types/supabase.ts
  supabase/schemas/base.sql
Due: prettier --write, oxlint --fix, eslint --fix, tsc --noEmit

Fix chat preview components and add playlist sharing support
  src/components/cards/card-result-simple.tsx
  src/lib/schemas.ts
  src/routes/_user/friends/-card-preview.tsx
  src/routes/_user/friends/-chats-sidebar.tsx
  src/routes/_user/friends/-playlist-preview.tsx
  src/routes/_user/friends/-request-preview.tsx
  src/routes/_user/friends/chats.$friendUid.tsx
  supabase/migrations/20260117181611_add_playlist_to_chat_message.sql
Due: prettier --write, oxlint --fix, eslint --fix, tsc --noEmit

Move buttonVariants back to button.tsx
  src/routes/_user/friends/-card-preview.tsx
Due: prettier --write, oxlint --fix, eslint --fix, tsc --noEmit

Add send-playlist-to-friend button
  src/components/playlists/playlist-list-item.tsx
  src/components/playlists/send-playlist-to-friend.tsx
  src/components/playlists/share-playlist-button.tsx
Due: prettier --write, oxlint --fix, eslint --fix, tsc --noEmit

Update pnpm-lock.yaml
  pnpm-lock.yaml
Due: none

Fix user_client_event policy to prevent null uid spoofing
  supabase/migrations/20260117150000_fix_rls_insert_policies.sql
Due: none

Enhance review completion screen with stats and navigation links
  contexts/2026-01-17-work-doc.md
Due: prettier --write, oxlint --fix

Update schema/run linters etc
  supabase/migrations/20260117140000_friend_request_validation_trigger.sql
  supabase/migrations/20260117150000_fix_rls_insert_policies.sql
  supabase/schemas/base.sql
  supabase/tests/friend-request-trigger.psql
Due: none

Fix RLS INSERT policies to validate user ownership
  supabase/migrations/20260117150000_fix_rls_insert_policies.sql
Due: none

Add BEFORE INSERT trigger to validate friend request actions
  contexts/2026-01-17-work-doc.md
Due: prettier --write, oxlint --fix

Add smart search feature with trigram similarity ranking
  package.json
  src/hooks/use-smart-search.ts
  src/lib/schemas.ts
  src/routes/_user/learn/$lang.search.tsx
  supabase/migrations/20260117150000_add_smart_search.sql
Due: prettier --write, oxlint --fix, eslint --fix, tsc --noEmit

Run formatter, remove extraneous badge-variants
  contexts/2026-01-17-work-doc.md
  src/components/language-is-empty.tsx
  src/components/phrase-extra-info.tsx
  src/components/ui/badge-variants.tsx
  src/components/ui/badge.tsx
  src/components/ui/button-variants.tsx
  src/components/ui/sheet.tsx
  src/styles/globals.css
Due: prettier --write, oxlint --fix, eslint --fix, tsc --noEmit

Fix recommended phrases showing cards already in deck
  src/hooks/composite-pids.ts
Due: prettier --write, oxlint --fix, eslint --fix, tsc --noEmit

Improve this accordion result component a bit
  src/components/phrase-accordion-item.tsx
Due: prettier --write, oxlint --fix, eslint --fix, tsc --noEmit

Fix migration
  supabase/migrations/20260117160000_add_smart_search.sql
Due: none

Accidentally improve some unrelated component
  src/components/feed/feed-phrase-group-item.tsx
  supabase/migrations/20260117160000_add_smart_search.sql
Due: prettier --write, oxlint --fix, eslint --fix, tsc --noEmit

Fix the window height in the chat interface
  src/routes/_user/friends/-chats-sidebar.tsx
  src/routes/_user/friends/chats.$friendUid.tsx
Due: prettier --write, oxlint --fix, eslint --fix, tsc --noEmit

Fix the review-flow logic, making it more explicit and local-first
  e2e/mutations/reviews.spec.ts
  readme/review-interface-flow-logic.md
  src/components/review/review-single-card.tsx
  src/hooks/use-reviews.ts
Due: prettier --write, oxlint --fix, eslint --fix, tsc --noEmit

Improve the review-stats message
  e2e/mutations/reviews.spec.ts
  src/components/review/when-review-complete-screen.tsx
  src/hooks/use-reviews.ts
Due: prettier --write, oxlint --fix, eslint --fix, tsc --noEmit

Fix LanguagesKnownField layout by constraining proficiency selector width
  src/components/fields/languages-known-field.tsx
Due: prettier --write, oxlint --fix, eslint --fix, tsc --noEmit

Move /add-phrase Route to /phrases/new
  contexts/completed-items.md
  e2e/mutations/phrases.spec.ts
  readme/api-test-data-pattern.md
  readme/testing-checklist.md
  src/components/language-is-empty.tsx
  src/components/navs/nav-main.tsx
  src/components/plus-menu.tsx
  src/components/review/not-enough-cards.tsx
  src/hooks/links.ts
  src/routeTree.gen.ts
  src/routes/_user/learn/$lang.phrases.new.tsx
  src/routes/_user/learn/$lang.search.tsx
  src/routes/_user/learn/$lang.stats.tsx
  src/routes/_user/learn/$lang.tsx
  src/routes/_user/learn/-contributions.tsx
Due: prettier --write, oxlint --fix, eslint --fix, tsc --noEmit

Clean up some linter errors
  e2e/mutations/reviews.spec.ts
  src/components/feed/feed-filter-menu.tsx
  src/components/fields/languages-known-field.tsx
  src/components/fields/types.d.ts
  src/hooks/use-smart-search.ts
Due: prettier --write, oxlint --fix, eslint --fix, tsc --noEmit

Add types and schema updates from text search
  contexts/2026-01-17-work-doc.md
  src/types/supabase.ts
  supabase/migrations/20260117160000_add_smart_search.sql
  supabase/schemas/base.sql
Due: prettier --write, oxlint --fix, eslint --fix, tsc --noEmit

Make some improvements to the chat preview items
  contexts/2026-01-17-work-doc.md
  contexts/completed-items.md
  src/components/plus-menu.tsx
  src/routes/_user/friends/-playlist-preview.tsx
  src/routes/_user/friends/-request-preview.tsx
  src/routes/_user/learn/-contributions.tsx
Due: prettier --write, oxlint --fix, eslint --fix, tsc --noEmit

Add language feed dropdown to browse page
  src/routes/_user/learn/browse.tsx
Due: prettier --write, oxlint --fix, eslint --fix, tsc --noEmit

Combine language dropdown with auth buttons on same line
  src/routes/_user/learn/browse.tsx
Due: prettier --write, oxlint --fix, eslint --fix, tsc --noEmit

Touch up the language selector on the browse page
  contexts/2026-01-17-work-doc.md
  readme/project-bidirectional-cards.md
  src/lib/collections.ts
  src/lib/languages.ts
  src/routes/_user/learn/browse.tsx
Due: prettier --write, oxlint --fix, eslint --fix, tsc --noEmit
