Repository mhsnook/sunlo: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, oxlint --fix, eslint --fix, tsc --noEmit

.lintstagedrc.json:

{
	"*.{js,jsx,ts,tsx,json,css,md}": ["prettier --write", "oxlint --fix"],
	"*.{ts,tsx}": ["eslint --fix", "tsc --noEmit"]
}

Add /search/test diagnostic page with score-based blending formula
  src/hooks/use-hybrid-search.ts
  src/routeTree.gen.ts
  src/routes/_user/search.index.tsx
  src/routes/_user/search.test.tsx
  src/routes/_user/search.tsx
Due: prettier --write, oxlint --fix, eslint --fix, tsc --noEmit

Generalize search_corpus + search edge function: phrases + translations + requests + playlists
  README.md
  scripts/README.md
  scripts/backfill-chat-corpus.ts
  scripts/backfill-search-corpus.ts
  src/features/chat/api.ts
  src/hooks/use-hybrid-search.ts
  src/routes/_user/search.tsx
  supabase/config.toml
  supabase/functions/chat-search/index.ts
  supabase/functions/search/index.ts
  supabase/migrations/20260429120000_chat_corpus.sql
  supabase/migrations/20260429120000_search_corpus.sql
  supabase/migrations/20260429120100_fix_chat_anchor_search_ambiguity.sql
Due: prettier --write, oxlint --fix, eslint --fix, tsc --noEmit

Widen search_phrases_smart's lang_filter to text[]; remove route gate
  src/features/phrases/index.ts
  src/hooks/use-hybrid-search.ts
  src/hooks/use-smart-search.ts
  src/routes/_user/search.tsx
  src/types/supabase.ts
  supabase/migrations/20260506120000_widen_smart_search_lang_filter.sql
  supabase/schemas/base.sql
Due: prettier --write, oxlint --fix, eslint --fix, tsc --noEmit

Extract semantic / trigram / local primitives; fix /search ranking
  src/components/browse-search-overlay.tsx
  src/features/chat/api.ts
  src/hooks/use-hybrid-search.ts
  src/hooks/use-local-search.ts
  src/hooks/use-semantic-search.ts
  src/hooks/use-trigram-search.ts
  src/routes/_user/search.tsx
Due: prettier --write, oxlint --fix, eslint --fix, tsc --noEmit

Extract useMergedSearch; drop double debounce and intermediate types
  src/components/browse-search-overlay.tsx
  src/hooks/search-config.ts
  src/hooks/use-hybrid-search.ts
  src/hooks/use-local-search.ts
  src/hooks/use-merged-search.ts
  src/hooks/use-semantic-search.ts
  src/hooks/use-trigram-search.ts
  src/routes/_user/friends/chats.$friendUid.recommend.tsx
  src/routes/_user/search.tsx
  src/types/search-result.ts
Due: prettier --write, oxlint --fix, eslint --fix, tsc --noEmit

SearchPage takes a rowExtras render prop; ScoreBreakdown moves to diagnostic chunk
  src/routes/_user/-score-breakdown.tsx
  src/routes/_user/-search-page.tsx
  src/routes/_user/search.test.lazy.tsx
Due: prettier --write, oxlint --fix, eslint --fix, tsc --noEmit

Lazy-load /search and /search/test; pull SearchPage out of main bundle
  src/routeTree.gen.ts
  src/routes/_user/-search-page.tsx
  src/routes/_user/search.index.lazy.tsx
  src/routes/_user/search.index.tsx
  src/routes/_user/search.test.lazy.tsx
  src/routes/_user/search.test.tsx
  src/routes/_user/search.tsx
Due: prettier --write, oxlint --fix, eslint --fix, tsc --noEmit

Release v0.24 — Smart Search, Chat-style Discovery, TanStack Form
  CHANGELOG.md
  package.json
Due: prettier --write, oxlint --fix

Move trigram search onto search_corpus; simplify scoring + rendering
  scripts/backfill-search-corpus.ts
  src/components/browse-search-overlay.tsx
  src/hooks/use-hybrid-search.ts
  src/hooks/use-semantic-search.ts
  src/hooks/use-trigram-search.ts
  src/routes/_user/search.tsx
  src/types/supabase.ts
  supabase/migrations/20260506130000_search_corpus_trigram.sql
Due: prettier --write, oxlint --fix, eslint --fix, tsc --noEmit

Backend: pgvector corpus, RPCs, edge function, backfill
  .oxlintrc.json
  eslint.config.js
  scripts/backfill-chat-corpus.ts
  src/features/chat/api.ts
  src/features/chat/normalize.ts
  supabase/config.toml
  supabase/functions/_shared/normalize.ts
  supabase/functions/chat-search/index.ts
  supabase/migrations/20260429120000_chat_corpus.sql
  supabase/migrations/20260429120100_fix_chat_anchor_search_ambiguity.sql
Due: prettier --write, oxlint --fix, eslint --fix, tsc --noEmit

Hybrid smart search: blend trigram + semantic into /search with Enter-flush
  README.md
  scripts/README.md
  src/hooks/use-debounce.ts
  src/hooks/use-hybrid-search.ts
  src/routes/_user/search.tsx
Due: prettier --write, oxlint --fix, eslint --fix, tsc --noEmit

Upgrade scenetest to fix panel dupes
  package.json
  pnpm-lock.yaml
Due: prettier --write, oxlint --fix

Upgrade scenetest to v0.9.0 and confirm tests still work
  package.json
  pnpm-lock.yaml
  scenetest/scenes/comments-and-answers.spec.md
  scenetest/scenes/decks.spec.md
  scenetest/scenes/learn.spec.md
  scenetest/scenes/playlists-hin-kan.spec.md
  scenetest/scenes/profile-edit.spec.md
Due: prettier --write, oxlint --fix

Per-language chat routes: /chats index + /chats/$lang sessions
  scenetest/TEST_IDS.md
  scenetest/scenes/chat.spec.md
  src/features/chat/components/cart-button.tsx
  src/features/chat/components/chat-page.tsx
  src/features/chat/components/language-picker.tsx
  src/features/chat/components/phrase-result-card.tsx
  src/features/chat/components/selection-bar.tsx
  src/features/chat/hooks.ts
  src/features/chat/index.ts
  src/features/chat/store.ts
  src/routeTree.gen.ts
  src/routes/chat.lazy.tsx
  src/routes/chats.$lang.lazy.tsx
  src/routes/chats.index.lazy.tsx
  src/routes/chats.tsx
Due: prettier --write, oxlint --fix, eslint --fix, tsc --noEmit

User-approved normalization with suggestion strip + JSON rules
  scenetest/scenes/chat.spec.md
  scripts/backfill-chat-corpus.ts
  src/features/chat/api.ts
  src/features/chat/components/chat-input.tsx
  src/features/chat/components/chat-page.tsx
  src/features/chat/components/suggestion-strip.tsx
  src/features/chat/normalize.ts
  src/features/chat/rules/hin.json
  src/features/chat/rules/spa.json
  src/features/chat/store.ts
  src/features/chat/suggestions.ts
  supabase/functions/_shared/normalize.ts
Due: prettier --write, oxlint --fix, eslint --fix, tsc --noEmit

Chat prototype: chat-style search UI with cart/pivot pattern
  scenetest/TEST_IDS.md
  scenetest/scenes/chat.spec.md
  src/features/chat/api.ts
  src/features/chat/components/cart-button.tsx
  src/features/chat/components/chat-input.tsx
  src/features/chat/components/chat-message.tsx
  src/features/chat/components/chat-page.tsx
  src/features/chat/components/language-picker.tsx
  src/features/chat/components/phrase-result-card.tsx
  src/features/chat/components/selection-bar.tsx
  src/features/chat/hooks.ts
  src/features/chat/index.ts
  src/features/chat/schemas.ts
  src/features/chat/store.ts
  src/routeTree.gen.ts
  src/routes/chat.lazy.tsx
Due: prettier --write, oxlint --fix, eslint --fix, tsc --noEmit

Add dev:local and build:test scripts to mock the AI search
  .github/workflows/test.yaml
  package.json
  scenetest/scenes/chat.spec.md
Due: prettier --write, oxlint --fix

Loosen SQL prettier expressionWidth from 64 to 120
  prettier.config.mjs
Due: none

Wire smart search into the send-to-friend recommend dialog
  src/routes/_user/friends/chats.$friendUid.recommend.tsx
Due: prettier --write, oxlint --fix, eslint --fix, tsc --noEmit

scenetest: introduce team2 with concurrent-team support
  scenetest/actors/default.ts
  scenetest/actors/team2.ts
  scenetest/config.ts
  scenetest/scenes/admin-phrases.spec.md
  scenetest/scenes/auth.spec.md
  scenetest/scenes/bidirectional-review.spec.md
  scenetest/scenes/comment-crud.spec.md
  scenetest/scenes/comments-and-answers.spec.md
  scenetest/scenes/decks.spec.md
  scenetest/scenes/feed.spec.md
  scenetest/scenes/learn.spec.md
  scenetest/scenes/phrase-create.spec.md
  scenetest/scenes/phrase-edit-tags-translations.spec.md
  scenetest/scenes/phrase-from-chat-request.spec.md
  scenetest/scenes/playlists-hin-kan.spec.md
  scenetest/scenes/playlists.spec.md
  scenetest/scenes/profile-edit.spec.md
  scenetest/scenes/requests.spec.md
  scenetest/scenes/review-answer-mode.spec.md
  scenetest/scenes/review-stats-consistency.spec.ts
  scenetest/scenes/reviews.spec.ts
  scenetest/scenes/set-membership-invariants.spec.ts
  supabase/seed-team2.sql
Due: prettier --write, oxlint --fix, eslint --fix, tsc --noEmit

Add floating dev-only identity switcher
  src/components/dev-identity-switcher.tsx
  src/routes/__root.tsx
Due: prettier --write, oxlint --fix, eslint --fix, tsc --noEmit

Use pnpm exec instead of pnpx in pre-commit hook
  .husky/pre-commit
Due: none

Add dump-new-seeds script and rearrange
  README.md
  package.json
  scripts/README.md
  scripts/dump-new-seeds.ts
  supabase/seed-meta.sql
  supabase/seed-team1.sql
  supabase/seed.sql
Due: prettier --write, oxlint --fix, eslint --fix, tsc --noEmit

Fix specs
  scenetest/scenes/comments-and-answers.spec.md
  scenetest/scenes/feed.spec.md
  scenetest/scenes/phrase-create.spec.md
  scenetest/scenes/phrase-from-chat-request.spec.md
Due: prettier --write, oxlint --fix

Make the seeds and script idempotent
  CLAUDE.md
  package.json
  scripts/dump-new-seeds.ts
  supabase/.gitignore
  supabase/config.toml
  supabase/seed-team1.sql
  supabase/seed-team2.sql
  supabase/seed-v018-extras.sql
  supabase/seed-z-comments.sql
  supabase/seed-z-playlists.sql
  supabase/seeds/seed-0-auth.sql
  supabase/seeds/seed-1-team-none.sql
  supabase/seeds/seed-1-team1.sql
  supabase/seeds/seed-1-team2.sql
  supabase/seeds/seed-2-team-none.sql
  supabase/seeds/seed-2-team1.sql
  supabase/seeds/seed-2-team2.sql
  supabase/seeds/seed-meta.sql
  supabase/seeds/seed-zzz.sql
  supabase/seeds/seed.sql
Due: prettier --write, oxlint --fix, eslint --fix, tsc --noEmit

Update seeds for second team-iness
  supabase/seed-team1.sql
  supabase/seed-team2.sql
  supabase/seed-v018-extras.sql
  supabase/seed-z-comments.sql
  supabase/seed-z-playlists.sql
  supabase/seed.sql
Due: none

Add datestamp metadata and regen schemas
  src/types/supabase.ts
  supabase/migrations/20260507120000_add_db_meta.sql
  supabase/schemas/base.sql
Due: prettier --write, oxlint --fix, eslint --fix, tsc --noEmit
