Repository mhsnook/sunlo: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, oxlint --fix, eslint --fix, tsc --noEmit

.lintstagedrc.json:

{
	"*.{js,jsx,ts,tsx,json,css,md}": ["prettier --write", "oxlint --fix"],
	"*.{ts,tsx}": ["eslint --fix", "tsc --noEmit"]
}

Allow users to select font OpenDyslexic in display preferences
  contexts/2026-01-15-work-doc.md
  src/hooks/use-font-preference.ts
  src/lib/schemas.ts
  src/routes/_user.tsx
  src/routes/_user/profile/-display-preferences.tsx
  src/routes/_user/profile/index.tsx
  src/styles/globals.css
  src/types/supabase.ts
  supabase/migrations/20260115130000_add_font_preference.sql
Due: prettier --write, oxlint --fix, eslint --fix, tsc --noEmit

Add search box to browse page for phrases, playlists, and requests
  contexts/2026-01-15-work-doc.md
  src/routes/_user/learn/browse.tsx
Due: prettier --write, oxlint --fix, eslint --fix, tsc --noEmit

Add 'browse' to the Learning Center menu even when logged in
  contexts/2026-01-15-work-doc.md
  contexts/completed-items.md
  src/components/navs/nav-main.tsx
Due: prettier --write, oxlint --fix, eslint --fix, tsc --noEmit

Prevent long content from malforming filter buttons
  src/routes/_user/learn/browse.tsx
Due: prettier --write, oxlint --fix, eslint --fix, tsc --noEmit

Fix: Embeds not working in production
  contexts/2026-01-15-work-doc.md
  src/components/playlists/playlist-embed.tsx
Due: prettier --write, oxlint --fix, eslint --fix, tsc --noEmit

Fix: Poor RLS performance for chat messages
  contexts/completed-items.md
  supabase/migrations/20260115120000_fix_chat_message_rls_performance.sql
  supabase/schemas/base.sql
Due: prettier --write, oxlint --fix

Begin work doc for next deploy
  contexts/2026-01-16-work-doc.md
  contexts/completed-items.md
Due: prettier --write, oxlint --fix

Add navigation-only e2e tests (no DB mutations)
  e2e/navigations/deck-workflows.spec.ts
  e2e/navigations/logged-in.spec.ts
  e2e/navigations/logged-out.spec.ts
  package.json
Due: prettier --write, oxlint --fix, eslint --fix, tsc --noEmit

Fix navigation test selectors for actual UI structure
  contexts/2026-01-16-work-doc.md
  contexts/completed-items.md
  e2e/navigations/deck-workflows.spec.ts
  e2e/navigations/logged-in.spec.ts
  e2e/navigations/logged-out.spec.ts
Due: prettier --write, oxlint --fix, eslint --fix, tsc --noEmit

Fix deck navigation test to use click navigation instead of page.goto
  e2e/navigations/deck-workflows.spec.ts
Due: prettier --write, oxlint --fix, eslint --fix, tsc --noEmit

Use distinct test users per browser to avoid DB conflicts
  e2e/helpers/auth-helpers.ts
  e2e/navigations/deck-workflows.spec.ts
  e2e/navigations/logged-in.spec.ts
  package.json
  supabase/seed.sql
Due: prettier --write, oxlint --fix, eslint --fix, tsc --noEmit

Clean up review state after navigation test and add seed data
  e2e/helpers/db-helpers.ts
  e2e/navigations/deck-workflows.spec.ts
  supabase/seed.sql
Due: prettier --write, oxlint --fix, eslint --fix, tsc --noEmit

Enable fully parallel mode for navigation tests
  contexts/2026-01-16-work-doc.md
  e2e/navigations/deck-workflows.spec.ts
  package.json
Due: prettier --write, oxlint --fix, eslint --fix, tsc --noEmit

Tests: navigation-only so we can run quickly without db reset (#283)
  contexts/2026-01-16-work-doc.md
  contexts/completed-items.md
  e2e/helpers/auth-helpers.ts
  e2e/helpers/db-helpers.ts
  e2e/navigations/deck-workflows.spec.ts
  e2e/navigations/logged-in.spec.ts
  e2e/navigations/logged-out.spec.ts
  package.json
  supabase/seed.sql
Due: prettier --write, oxlint --fix, eslint --fix, tsc --noEmit

Add GitHub Actions workflow for running tests
  .github/workflows/test.yaml
  contexts/2026-01-16-work-doc.md
Due: prettier --write, oxlint --fix

Run only navigation tests in CI for speed
  .github/workflows/test.yaml
Due: none

Add caching for Playwright browsers and Docker images
  .github/workflows/test.yaml
Due: none

Initial refactor to FSRS in TS
  contexts/2026-01-16-work-doc.md
  e2e/mutations/reviews.spec.ts
  src/components/review/review-single-card.tsx
  src/hooks/use-reviews.ts
  src/lib/fsrs.ts
  src/types/supabase.ts
  supabase/migrations/20260116000000_client_side_fsrs.sql
  supabase/schemas/base.sql
Due: prettier --write, oxlint --fix, eslint --fix, tsc --noEmit

Make it all work / add intervals to answer buttons
  CLAUDE.md
  src/components/phrase-extra-info.tsx
  src/components/review/review-single-card.tsx
  src/hooks/use-reviews.ts
  src/lib/dayjs.ts
  src/lib/fsrs.ts
  src/lib/utils.ts
  src/types/supabase.ts
  supabase/migrations/20260116000000_client_side_fsrs.sql
  supabase/schemas/base.sql
Due: prettier --write, oxlint --fix, eslint --fix, tsc --noEmit

Move all FSRS calculations to the client
  src/hooks/use-deck.ts
  src/lib/schemas.ts
  src/types/supabase.ts
  supabase/migrations/20260116100000_remove_sql_retrievability.sql
  supabase/schemas/base.sql
Due: prettier --write, oxlint --fix, eslint --fix, tsc --noEmit

Replace roundAndTrim with toFixed (standard js)
  src/components/phrase-extra-info.tsx
  src/lib/utils.ts
Due: prettier --write, oxlint --fix, eslint --fix, tsc --noEmit

Improve signup flow: auto-login if already registered, redirect if authenticated
  src/routes/_auth/signup.tsx
Due: prettier --write, oxlint --fix, eslint --fix, tsc --noEmit

Fix sidebar not updating after inline login
  src/components/auth-context.tsx
Due: prettier --write, oxlint --fix, eslint --fix, tsc --noEmit

Feature: Edit and soft-delete your own translations
  src/components/card-pieces/add-translations.tsx
  src/lib/schemas.ts
  src/types/supabase.ts
  supabase/migrations/20260116130436_add_translation_edit_delete.sql
  supabase/schemas/base.sql
Due: prettier --write, oxlint --fix, eslint --fix, tsc --noEmit

Improve the signup page's redirects for when logged in
  contexts/2026-01-16-work-doc.md
  contexts/completed-items.md
  src/routes/_auth/signup.tsx
Due: prettier --write, oxlint --fix, eslint --fix, tsc --noEmit

Style the 'manage translations' dialog a bit more, allow un-archive
  src/components/card-pieces/add-translations.tsx
  src/components/cards/big-phrase-card.tsx
  src/components/confirm-destructive-action-dialog.tsx
  src/components/ui/authenticated-dialog.tsx
Due: prettier --write, oxlint --fix, eslint --fix, tsc --noEmit

Improve [re]fetching user collections on auth state change
  CLAUDE.md
  contexts/2026-01-16-work-doc.md
  src/components/auth-context.tsx
  src/routes/_auth/signup.tsx
Due: prettier --write, oxlint --fix, eslint --fix, tsc --noEmit

Add only_reverse field to phrase table for reverse reviews feature
  package.json
  src/components/phrases/inline-phrase-creator.tsx
  src/lib/schemas.ts
  src/routes/_user/learn/$lang.add-phrase.tsx
  src/routes/_user/learn/$lang.bulk-add.tsx
  src/types/supabase.ts
  supabase/migrations/20260116195845_add_phrase_no_reverse.sql
  supabase/schemas/base.sql
Due: prettier --write, oxlint --fix, eslint --fix, tsc --noEmit

Add project doc for bidirectional cards feature
  contexts/2026-01-16-work-doc.md
  contexts/project-bidirectional-cards.md
Due: prettier --write, oxlint --fix
