Repository mhsnook/sunlo: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, oxlint --fix, eslint --fix, tsc --noEmit

Remove playlists.spec.md drafts superseded by playlist-mutations.spec.ts
  scenetest/scenes/playlists.spec.md
Due: prettier --write, oxlint --fix

Hide $lang appnav and prompt to start learning when no active deck
  scenetest/TEST_IDS.md
  src/components/card-pieces/card-status-dropdown.tsx
  src/features/deck/mutations.ts
  src/routes/_user.tsx
Due: prettier --write, oxlint --fix, eslint --fix, tsc --noEmit

Begin playlists e2e migration: delete and ownership
  scenetest/scenes/playlist-mutations.spec.ts
Due: prettier --write, oxlint --fix, eslint --fix, tsc --noEmit

Add scene covering new-user signup via the start-learning bookmark
  scenetest/actors/default.ts
  scenetest/scenes/start-learning-from-bookmark.spec.md
Due: prettier --write, oxlint --fix, eslint --fix, tsc --noEmit

Route CardStatusDropdown through the start-learning dialog too
  src/components/card-pieces/card-status-dropdown.tsx
Due: prettier --write, oxlint --fix, eslint --fix, tsc --noEmit

Slim the CardStatusDropdown trigger: status dot + label + chevron
  src/components/card-pieces/card-status-dropdown.tsx
Due: prettier --write, oxlint --fix, eslint --fix, tsc --noEmit

Fix back button: use replace:true for transient search param changes
  src/components/comments/comment-dialog.tsx
  src/components/comments/comment-with-replies.tsx
  src/components/comments/reply-dialog.tsx
  src/components/feed/feed-filter-menu.tsx
  src/routes/_user/learn/$lang.feed.tsx
  src/routes/_user/learn/$lang.requests.$id.tsx
Due: prettier --write, oxlint --fix, eslint --fix, tsc --noEmit

Darken default/red button background for stronger active contrast
  src/components/ui/button.tsx
Due: prettier --write, oxlint --fix, eslint --fix, tsc --noEmit

Add chromeless route flag to drop the top navbar
  src/routes/_user.tsx
  src/routes/_user/getting-started.tsx
  src/types/route-static-data.ts
Due: prettier --write, oxlint --fix, eslint --fix, tsc --noEmit

Bundle the auth lifecycle into a single named-operation unit
  src/components/auth-context.tsx
  src/lib/auth-lifecycle.ts
  src/lib/collections/clear-user.ts
  src/lib/collections/local-cache.ts
  src/main.tsx
  src/routes/_user.tsx
Due: prettier --write, oxlint --fix, eslint --fix, tsc --noEmit

Add PhraseSheet: phrase detail as a bottom sheet via ?phrase=<uuid>
  src/components/phrase-sheet.tsx
  src/routes/_user.tsx
Due: prettier --write, oxlint --fix, eslint --fix, tsc --noEmit

Add ResponsiveSheet primitive: Drawer on mobile, Dialog on desktop
  src/components/phrase-sheet.tsx
  src/components/ui/responsive-sheet.tsx
Due: prettier --write, oxlint --fix, eslint --fix, tsc --noEmit

Tighten start-learning scene selector for the heart click
  scenetest/scenes/start-learning-from-bookmark.spec.md
Due: prettier --write, oxlint --fix

Simplify upvote buttons: collection.insert/delete + handlers (#625)
  src/components/comments/upvote-comment-button.tsx
  src/components/playlists/upvote-playlist-button.tsx
  src/components/requests/upvote-request-button.tsx
  src/features/playlists/collections.ts
  src/features/requests/collections.ts
Due: prettier --write, oxlint --fix, eslint --fix, tsc --noEmit

Preload languagesCollection before the auth gate
  src/routes/_user.tsx
Due: prettier --write, oxlint --fix, eslint --fix, tsc --noEmit

Add message-level grouping and admin-curated tags for requests
  src/features/requests/collections.ts
  src/features/requests/hooks.ts
  src/features/requests/index.ts
  src/features/requests/schemas.ts
  src/types/supabase.ts
  supabase/migrations/20260526120000_request_messages_and_tags.sql
Due: prettier --write, oxlint --fix, eslint --fix, tsc --noEmit

Consolidate auth lifecycle into single class with named phases (#694)
  src/components/auth-context.tsx
  src/lib/auth-lifecycle.ts
  src/lib/collections/clear-user.ts
  src/lib/collections/local-cache.ts
  src/main.tsx
  src/routes/_user.tsx
Due: prettier --write, oxlint --fix, eslint --fix, tsc --noEmit

Scope comment-crud cleanup so it doesn't wipe seeded friend phrase links
  scenetest/scenes/comment-crud.spec.md
Due: prettier --write, oxlint --fix

Fire phrase_request message trigger in replica mode for seed loads
  supabase/migrations/20260526120000_request_messages_and_tags.sql
Due: none

Drop ambiguous toast assertion from start-learning-from-bookmark scene
  scenetest/scenes/start-learning-from-bookmark.spec.md
Due: prettier --write, oxlint --fix

Fire one combined toast from the start-learning dialog
  scenetest/scenes/start-learning-from-bookmark.spec.md
  src/components/card-pieces/card-status-dropdown.tsx
Due: prettier --write, oxlint --fix, eslint --fix, tsc --noEmit

add install:st / uninstall:st scripts for local scenetest-js dev
  package.json
Due: prettier --write, oxlint --fix

Drop appnav assertions from start-learning-from-bookmark scene
  scenetest/scenes/start-learning-from-bookmark.spec.md
Due: prettier --write, oxlint --fix

Add focused coverage for the deck-scoped appnav gate
  scenetest/scenes/deck-scoped-appnav.spec.md
Due: prettier --write, oxlint --fix

Simplify card status dropdown, defer deck setup to dialog (#693)
  scenetest/actors/default.ts
  scenetest/scenes/comment-crud.spec.md
  scenetest/scenes/deck-scoped-appnav.spec.md
  scenetest/scenes/start-learning-from-bookmark.spec.md
  src/components/card-pieces/card-status-dropdown.tsx
Due: prettier --write, oxlint --fix, eslint --fix, tsc --noEmit

Add message-level grouping and admin-curated tags for requests (#696)
  src/features/requests/collections.ts
  src/features/requests/hooks.ts
  src/features/requests/index.ts
  src/features/requests/schemas.ts
  src/types/supabase.ts
  supabase/migrations/20260526120000_request_messages_and_tags.sql
Due: prettier --write, oxlint --fix, eslint --fix, tsc --noEmit

Extract translations into their own collection
  middleware.ts
  src/components/card-pieces/add-translations.tsx
  src/components/library-charts.tsx
  src/components/phrases/inline-phrase-creator.tsx
  src/features/phrases/collections.ts
  src/features/phrases/hooks.ts
  src/features/phrases/index.ts
  src/features/phrases/live.ts
  src/features/phrases/schemas.ts
  src/routes/_user/admin/$lang.phrases.$id.lazy.tsx
  src/routes/_user/admin/$lang.tsx
  src/routes/_user/browse.tsx
  src/routes/_user/friends/chats.$friendUid.recommend.tsx
  src/routes/_user/learn/$lang.bulk-add.tsx
  src/routes/_user/learn/$lang.phrases.$id.tsx
  src/routes/_user/learn/$lang.phrases.new.tsx
  src/routes/_user/learn/$lang.tsx
Due: prettier --write, oxlint --fix, eslint --fix, tsc --noEmit

Add smol-components showcase to /themes
  src/routes/themes.index.lazy.tsx
Due: prettier --write, oxlint --fix, eslint --fix, tsc --noEmit

Wire card status dropdown menus open by default, switch grid to columns
  src/routes/themes.index.lazy.tsx
Due: prettier --write, oxlint --fix, eslint --fix, tsc --noEmit

Add component showcase for pickers, menus, and callouts (#698)
  src/routes/themes.index.lazy.tsx
Due: prettier --write, oxlint --fix, eslint --fix, tsc --noEmit

Clarify deployment gate: branch base determines PR target
  CLAUDE.md
Due: prettier --write, oxlint --fix

Add social/onboarding showcase section to /themes
  src/routes/themes.index.lazy.tsx
Due: prettier --write, oxlint --fix, eslint --fix, tsc --noEmit

Guarantee phrase.translations is always an array
  src/components/card-pieces/add-translations.tsx
  src/components/cards/phrase-tiny-card.tsx
  src/components/cards/tap-to-select.tsx
  src/components/feed/feed-phrase-group-item.tsx
  src/features/phrases/live.ts
  src/hooks/composite-phrase.ts
  src/routes/_user/friends/-card-preview.tsx
Due: prettier --write, oxlint --fix, eslint --fix, tsc --noEmit

Path conditions:
  prettier --write: any of: *.{js,jsx,ts,tsx,json,css,md}
  oxlint --fix: any of: *.{js,jsx,ts,tsx,json,css,md}
  eslint --fix: any of: *.{ts,tsx}
  tsc --noEmit: any of: *.{ts,tsx}
