Repository mhsnook/sunlo: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, oxlint --fix, eslint --fix, tsc --noEmit

Add typecheck job to CI, remove standalone workflow file
  .github/workflows/test.yaml
  .github/workflows/typecheck.yml
Due: none

Fix blank password causing silent hang on login form
  package.json
  pnpm-lock.yaml
  src/components/phrases/inline-phrase-creator.tsx
  src/components/review/new-cards-preview.tsx
  src/features/playlists/schemas.ts
  src/routes/_user/learn/$lang.phrases.new.tsx
Due: prettier --write, oxlint --fix, eslint --fix, tsc --noEmit

Fix invalid UUIDs in seed data for Zod v4 compatibility
  supabase/seed.sql
Due: none

Rework typecheck job: PR-only, diff-based with comment
  .github/workflows/test.yaml
Due: none

Fix invalid UUIDs in remaining seed files
  supabase/seed-comments.sql
  supabase/seed-v018-extras.sql
Due: none

Move playlist owner action buttons under avatar instead of stacking vertically
  src/components/playlists/playlist-list-item.tsx
Due: prettier --write, oxlint --fix, eslint --fix, tsc --noEmit

Apply prettier formatting to files touched by pnpm format
  src/components/card-pieces/user-permalink.tsx
  src/components/comments/add-comment-dialog.tsx
  src/components/comments/select-phrases-for-comment.tsx
  src/routes/_user/learn/add-deck.tsx
Due: prettier --write, oxlint --fix, eslint --fix, tsc --noEmit

Apply prettier formatting and remove unused lang param in CommentForm
  src/components/comments/answering-dialog.tsx
Due: prettier --write, oxlint --fix, eslint --fix, tsc --noEmit

Bump version to prepare v0.19
  CHANGELOG.md
  package.json
Due: prettier --write, oxlint --fix

Revert "Apply prettier formatting and remove unused lang param in CommentForm"
  src/components/comments/answering-dialog.tsx
Due: prettier --write, oxlint --fix, eslint --fix, tsc --noEmit

Revert "Apply prettier formatting to files touched by pnpm format"
  src/components/card-pieces/user-permalink.tsx
  src/components/comments/add-comment-dialog.tsx
  src/components/comments/select-phrases-for-comment.tsx
  src/routes/_user/learn/add-deck.tsx
Due: prettier --write, oxlint --fix, eslint --fix, tsc --noEmit

Add TypeScript type checking to CI with PR comments (#500)
  .github/workflows/test.yaml
Due: none

Add 'Reviewed today!' indicator to manage deck table
  src/routes/_user/learn/$lang.manage-deck.tsx
Due: prettier --write, oxlint --fix, eslint --fix, tsc --noEmit

Add edit comment form parity with markdown hints and flashcard support
  src/components/comments/comment-with-replies.tsx
  src/components/comments/select-phrases-for-comment.tsx
  src/components/comments/update-comment-dialog.tsx
  src/routes/_user/learn/$lang.requests.$id.tsx
  supabase/migrations/20260401110000_add_comment_phrase_link_delete_policy.sql
Due: prettier --write, oxlint --fix, eslint --fix, tsc --noEmit

Consolidate 6+ comment components into CommentDialog + ReplyDialog
  src/components/comments/answering-dialog.tsx
  src/components/comments/comment-dialog.tsx
  src/components/comments/comment-with-replies.tsx
  src/components/comments/reply-dialog.tsx
  src/components/comments/update-comment-dialog.tsx
  src/routes/_user/learn/$lang.requests.$id.tsx
Due: prettier --write, oxlint --fix, eslint --fix, tsc --noEmit

Simplify URL state: collapse 7 search params into focus + mode
  e2e/mutations/requests.spec.ts
  src/components/comments/add-comment-dialog.tsx
  src/components/comments/comment-context-menu.tsx
  src/components/comments/comment-dialog.tsx
  src/components/comments/comment-with-replies.tsx
  src/components/comments/reply-dialog.tsx
  src/components/notifications/notification-item.tsx
  src/routes/_user/learn/$lang.requests.$id.tsx
  src/routes/_user/learn/-contributions.tsx
Due: prettier --write, oxlint --fix, eslint --fix, tsc --noEmit

Unify focus styling and scale down reply thread
  src/components/comments/comment-with-replies.tsx
Due: prettier --write, oxlint --fix, eslint --fix, tsc --noEmit

Improve reply thread UX: keep focus on close, consolidate reply prompt
  src/components/comments/comment-dialog.tsx
  src/components/comments/comment-with-replies.tsx
  src/components/comments/reply-dialog.tsx
Due: prettier --write, oxlint --fix, eslint --fix, tsc --noEmit

Clean up MarkdownHint: export, reuse, and fix copy
  src/components/comments/add-comment-dialog.tsx
  src/components/comments/comment-dialog.tsx
  src/components/comments/reply-dialog.tsx
  src/components/requests/request-form.tsx
Due: prettier --write, oxlint --fix, eslint --fix, tsc --noEmit

Prioritize deck preferred_translation_lang in review card translation order
  src/components/review/review-single-card.tsx
  src/hooks/composite-phrase.ts
Due: prettier --write, oxlint --fix, eslint --fix, tsc --noEmit

Update cardsCollection after review so manage-deck stays in sync
  src/features/review/hooks.ts
Due: prettier --write, oxlint --fix, eslint --fix, tsc --noEmit

Dim skipped cards and hide their due dates in manage deck
  src/routes/_user/learn/$lang.manage-deck.tsx
Due: prettier --write, oxlint --fix, eslint --fix, tsc --noEmit

Add phrase comment system with threaded discussions and translation attachments
  src/components/cards/big-phrase-card.tsx
  src/components/comments/add-phrase-comment-dialog.tsx
  src/components/comments/phrase-comment-with-replies.tsx
  src/components/comments/upvote-phrase-comment-button.tsx
  src/components/notifications/notification-item.tsx
  src/features/comments/collections.ts
  src/features/comments/index.ts
  src/features/comments/schemas.ts
  src/features/notifications/schemas.ts
  src/lib/collections/clear-user.ts
  src/routes/_user/learn/$lang.phrases.$id.tsx
  supabase/migrations/20260402100000_add_phrase_comments.sql
Due: prettier --write, oxlint --fix, eslint --fix, tsc --noEmit

Refactor phrase comments to URL-driven dialogs, limit 1 translation per comment
  src/components/cards/big-phrase-card.tsx
  src/components/comments/add-phrase-comment-dialog.tsx
  src/components/comments/delete-phrase-comment-dialog.tsx
  src/components/comments/phrase-comment-dialog.tsx
  src/components/comments/phrase-comment-with-replies.tsx
  src/components/comments/phrase-reply-dialog.tsx
  src/routes/_user/learn/$lang.phrases.$id.tsx
  supabase/migrations/20260402100000_add_phrase_comments.sql
Due: prettier --write, oxlint --fix, eslint --fix, tsc --noEmit

Fix formatting from rebase onto next
  src/components/card-pieces/user-permalink.tsx
  src/routes/_user/learn/add-deck.tsx
Due: prettier --write, oxlint --fix, eslint --fix, tsc --noEmit

Allow translation suggestions in replies, extract shared translation form
  src/components/comments/add-translation-inline.tsx
  src/components/comments/phrase-comment-dialog.tsx
  src/components/comments/phrase-reply-dialog.tsx
Due: prettier --write, oxlint --fix, eslint --fix, tsc --noEmit

Path conditions:
  prettier --write: any of: *.{js,jsx,ts,tsx,json,css,md}
  oxlint --fix: any of: *.{js,jsx,ts,tsx,json,css,md}
  eslint --fix: any of: *.{ts,tsx}
  tsc --noEmit: any of: *.{ts,tsx}
