Repository mhsnook/sunlo: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, oxlint --fix, eslint --fix, tsc --noEmit

.lintstagedrc.json:

{
	"*.{js,jsx,ts,tsx,json,css,md}": ["prettier --write", "oxlint --fix"],
	"*.{ts,tsx}": ["eslint --fix", "tsc --noEmit"]
}

Bump @supabase/supabase-js to 2.106
  package.json
  pnpm-lock.yaml
  src/features/deck/collections.ts
Due: prettier --write, oxlint --fix, eslint --fix, tsc --noEmit

Back up user collections to local SQLite via TanStack DB persistence
  package.json
  pnpm-lock.yaml
  src/features/deck/collections.ts
  src/features/profile/collections.ts
  src/features/review/collections.ts
  src/lib/collections/persistence.ts
  vite.config.ts
Due: prettier --write, oxlint --fix, eslint --fix, tsc --noEmit

Refine persistence wrapper: drop "backup" framing and the null fallback
  src/features/deck/collections.ts
  src/features/profile/collections.ts
  src/features/review/collections.ts
  src/lib/collections/persistence.ts
Due: prettier --write, oxlint --fix, eslint --fix, tsc --noEmit

Use single-comment icon for request comment count
  src/components/requests/request-buttons-row.tsx
Due: prettier --write, oxlint --fix, eslint --fix, tsc --noEmit

Gate dev-only UI on local hostname, not just build mode
  src/components/dev-identity-switcher.tsx
  src/components/flagged.tsx
  src/lib/dev-mode.ts
Due: prettier --write, oxlint --fix, eslint --fix, tsc --noEmit

Pin Vercel build command to a production Vite build
  vercel.json
Due: prettier --write, oxlint --fix

Lighten default Callout variant for a softer success state
  src/components/ui/callout.tsx
Due: prettier --write, oxlint --fix, eslint --fix, tsc --noEmit

Add CI scan to catch dev-only code leaking into prod builds
  .github/workflows/test.yaml
  scripts/check-prod-bundle.sh
Due: none

Remove placeholder Delete/Edit buttons from the phrase card
  src/components/cards/big-phrase-card.tsx
Due: prettier --write, oxlint --fix, eslint --fix, tsc --noEmit

Keep Callout surface at lc-1, only fix the gray icon tile
  src/components/ui/callout.tsx
Due: prettier --write, oxlint --fix, eslint --fix, tsc --noEmit

Add phrase text-to-speech via Cloudflare Workers AI
  src/components/cards/big-phrase-card.tsx
  src/components/phrase-speaker-button.tsx
  src/components/review/review-single-card.tsx
  supabase/config.toml
  supabase/functions/tts/index.ts
Due: prettier --write, oxlint --fix, eslint --fix, tsc --noEmit

Fix Callout icon tile via LC/C only, keep inherited hue
  src/components/ui/callout.tsx
Due: prettier --write, oxlint --fix, eslint --fix, tsc --noEmit

Auto-create user profiles via trigger; replace onboarding redirect with a nudge
  scenetest/TEST_IDS.md
  scenetest/scenes/auth.spec.md
  scenetest/scenes/duplicate-profile-race.spec.ts
  scenetest/scenes/duplicate-profile.spec.md
  scenetest/scenes/login-test.spec.md
  scenetest/scenes/onboarding.spec.md
  src/components/navs/app-sidebar.tsx
  src/components/navs/onboarding-nudge.tsx
  src/features/profile/collections.ts
  src/features/profile/schemas.ts
  src/lib/username.ts
  src/routes/_user.tsx
  src/routes/_user/getting-started.tsx
  src/routes/_user/welcome.tsx
  src/types/supabase.ts
  supabase/migrations/20260520120000_auto_create_user_profile.sql
  supabase/schemas/base.sql
  supabase/seeds/seed-1-team1.sql
  supabase/seeds/seed-1-team2.sql
Due: prettier --write, oxlint --fix, eslint --fix, tsc --noEmit

Switch tailwind-oklch to git dependency pinned at main
  package.json
  pnpm-lock.yaml
Due: prettier --write, oxlint --fix

Cache profile and decks collections in localStorage for instant paint
  src/lib/collections/local-cache.ts
  src/main.tsx
Due: prettier --write, oxlint --fix, eslint --fix, tsc --noEmit

Rename the boot phase "sync" → "bootstrap" and document the lifecycle latches
  src/components/auth-context.tsx
  src/lib/collections/local-cache.ts
  src/main.tsx
Due: prettier --write, oxlint --fix, eslint --fix, tsc --noEmit

Add decks to the localStorage cache alongside the profile
  src/lib/collections/local-cache.ts
Due: prettier --write, oxlint --fix, eslint --fix, tsc --noEmit

Scope local cache to profile only, gate on Supabase session, name lifecycle hooks
  src/lib/collections/clear-user.ts
  src/lib/collections/local-cache.ts
  src/main.tsx
Due: prettier --write, oxlint --fix, eslint --fix, tsc --noEmit

Inline chat message-type caption with the timestamp
  src/routes/_user/friends/chats.$friendUid.tsx
Due: prettier --write, oxlint --fix, eslint --fix, tsc --noEmit

Add react-to-solid-feasibility skill
  .claude/skills/react-to-solid-feasibility/SKILL.md
  .claude/skills/react-to-solid-feasibility/examples/sunlo-report.md
  .claude/skills/react-to-solid-feasibility/reference/dependency-registry.md
  .claude/skills/react-to-solid-feasibility/reference/solid-2-semantic-map.md
  .claude/skills/react-to-solid-feasibility/reference/system-archetypes.md
Due: prettier --write, oxlint --fix

Log the boot lifecycle phases to the console
  src/components/auth-context.tsx
  src/lib/collections/clear-user.ts
  src/lib/collections/local-cache.ts
Due: prettier --write, oxlint --fix, eslint --fix, tsc --noEmit

Make bundle measurement the skill's headline deliverable
  .claude/skills/react-to-solid-feasibility/SKILL.md
Due: prettier --write, oxlint --fix

Lead the sunlo report with measured bundle projection
  .claude/skills/react-to-solid-feasibility/examples/sunlo-report.md
Due: prettier --write, oxlint --fix

Refine themes showcase: bookmark toggle, toasts, global hue, swatch order
  src/routes/themes.index.lazy.tsx
Due: prettier --write, oxlint --fix, eslint --fix, tsc --noEmit

Keep reset-hue button from shifting layout
  src/routes/themes.index.lazy.tsx
Due: prettier --write, oxlint --fix, eslint --fix, tsc --noEmit

Add brand swatch, click-to-theme, and collapse palette walk sections
  src/routes/themes.index.lazy.tsx
Due: prettier --write, oxlint --fix, eslint --fix, tsc --noEmit

Add component showcase to top of /themes page
  src/routes/themes.index.lazy.tsx
Due: prettier --write, oxlint --fix, eslint --fix, tsc --noEmit

Use brand hue on themes showcase, add toggling upvotes and button/type panel
  src/routes/themes.index.lazy.tsx
Due: prettier --write, oxlint --fix, eslint --fix, tsc --noEmit

Edge-align chat timestamp by message ownership
  src/routes/_user/friends/chats.$friendUid.tsx
Due: prettier --write, oxlint --fix, eslint --fix, tsc --noEmit

Pair received-message caption with the sender avatar
  src/routes/_user/friends/chats.$friendUid.tsx
Due: prettier --write, oxlint --fix, eslint --fix, tsc --noEmit
