Repository mhsnook/sunlo: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, oxlint --fix, eslint --fix, tsc --noEmit

.lintstagedrc.json:

{
	"*.{js,jsx,ts,tsx,json,css,md}": ["prettier --write", "oxlint --fix"],
	"*.{ts,tsx}": ["eslint --fix", "tsc --noEmit"]
}

Add lint diff job mirroring the typecheck job
  .github/workflows/test.yaml
Due: none

docs: rewrite migration plan with Supabase branching and CF AI bindings
  contexts/MIGRATION-PLAN.md
Due: prettier --write, oxlint --fix

Redesign /learn home: hero, review banner, deck tiles, feed
  scenetest/TEST_IDS.md
  scenetest/config.ts
  scenetest/scenes/learn.spec.md
  src/routes/_user/learn/-community-feed.tsx
  src/routes/_user/learn/-deck-ranking.tsx
  src/routes/_user/learn/-deck-tile.tsx
  src/routes/_user/learn/-review-banner.tsx
  src/routes/_user/learn/index.tsx
Due: prettier --write, oxlint --fix, eslint --fix, tsc --noEmit

Redesign /learn/archived: compact tiles + big-button restore dialog
  src/routes/_user/learn/-archived-deck-tile.tsx
  src/routes/_user/learn/archived.tsx
Due: prettier --write, oxlint --fix, eslint --fix, tsc --noEmit

Consolidate duplicated useLiveQuery hooks across features
  src/components/browse-search-overlay.tsx
  src/components/comments/add-comment-dialog.tsx
  src/components/comments/comment-with-replies.tsx
  src/components/comments/reply-dialog.tsx
  src/components/comments/upvote-comment-button.tsx
  src/components/library-charts.tsx
  src/components/navs/deck-switcher.tsx
  src/components/notifications/notification-item.tsx
  src/components/playlists/upvote-playlist-button.tsx
  src/components/requests/upvote-request-button.tsx
  src/features/comments/collections.ts
  src/features/comments/hooks.ts
  src/features/comments/index.ts
  src/features/languages/hooks.ts
  src/features/languages/index.ts
  src/features/phrases/hooks.ts
  src/features/phrases/index.ts
  src/features/playlists/collections.ts
  src/features/playlists/hooks.ts
  src/features/playlists/index.ts
  src/features/playlists/live.ts
  src/features/requests/hooks.ts
  src/features/requests/index.ts
  src/features/requests/live.ts
  src/features/social/hooks.ts
  src/routes/_user/friends/chats.$friendUid.recommend.tsx
  src/routes/_user/learn/$lang.manage-deck.tsx
  src/routes/_user/learn/$lang.requests.$id.tsx
  src/routes/_user/learn/-contributions.tsx
  src/routes/_user/learn/browse.index.tsx
  src/routes/_user/search.tsx
  src/routes/_user/welcome.tsx
Due: prettier --write, oxlint --fix, eslint --fix, tsc --noEmit

Extract query hooks and live collections for better reusability (#566)
  src/components/browse-search-overlay.tsx
  src/components/comments/add-comment-dialog.tsx
  src/components/comments/comment-with-replies.tsx
  src/components/comments/reply-dialog.tsx
  src/components/comments/upvote-comment-button.tsx
  src/components/library-charts.tsx
  src/components/navs/deck-switcher.tsx
  src/components/notifications/notification-item.tsx
  src/components/playlists/upvote-playlist-button.tsx
  src/components/requests/upvote-request-button.tsx
  src/features/comments/collections.ts
  src/features/comments/hooks.ts
  src/features/comments/index.ts
  src/features/languages/hooks.ts
  src/features/languages/index.ts
  src/features/phrases/hooks.ts
  src/features/phrases/index.ts
  src/features/playlists/collections.ts
  src/features/playlists/hooks.ts
  src/features/playlists/index.ts
  src/features/playlists/live.ts
  src/features/requests/hooks.ts
  src/features/requests/index.ts
  src/features/requests/live.ts
  src/features/social/hooks.ts
  src/routes/_user/friends/chats.$friendUid.recommend.tsx
  src/routes/_user/learn/$lang.manage-deck.tsx
  src/routes/_user/learn/$lang.requests.$id.tsx
  src/routes/_user/learn/-contributions.tsx
  src/routes/_user/learn/browse.index.tsx
  src/routes/_user/search.tsx
  src/routes/_user/welcome.tsx
Due: prettier --write, oxlint --fix, eslint --fix, tsc --noEmit

Fix wording
  scripts/README.md
  src/components/awaiting-auth-loader.tsx
Due: prettier --write, oxlint --fix, eslint --fix, tsc --noEmit

Handle Supabase connection errors gracefully (#565)
  scripts/README.md
  src/components/auth-context.tsx
  src/components/awaiting-auth-loader.tsx
  src/lib/supabase-client.ts
  src/lib/use-auth.ts
  src/routes.tsx
Due: prettier --write, oxlint --fix, eslint --fix, tsc --noEmit

Redo the friends feed, add quick-link shortcuts to deck dialog
  scenetest/TEST_IDS.md
  src/features/feed/hooks.ts
  src/features/feed/index.ts
  src/routes/_user/learn/-community-feed.tsx
  src/routes/_user/learn/-deck-card.tsx
  src/routes/_user/learn/-deck-tile.tsx
  src/routes/_user/learn/-friends-feed.tsx
  src/routes/_user/learn/index.tsx
Due: prettier --write, oxlint --fix, eslint --fix, tsc --noEmit

Redesign learn page with review banner, simpler deck tiles, friends feed (#567)
  scenetest/TEST_IDS.md
  scenetest/config.ts
  scenetest/scenes/learn.spec.md
  src/features/feed/hooks.ts
  src/features/feed/index.ts
  src/routes/_user/learn/-archived-deck-tile.tsx
  src/routes/_user/learn/-deck-card.tsx
  src/routes/_user/learn/-deck-ranking.tsx
  src/routes/_user/learn/-deck-tile.tsx
  src/routes/_user/learn/-friends-feed.tsx
  src/routes/_user/learn/-review-banner.tsx
  src/routes/_user/learn/archived.tsx
  src/routes/_user/learn/index.tsx
Due: prettier --write, oxlint --fix, eslint --fix, tsc --noEmit

Upgrade scenetest to 0.8.2
  package.json
  pnpm-lock.yaml
Due: prettier --write, oxlint --fix

Disable scenetest panel unles :ui is specified
  package.json
Due: prettier --write, oxlint --fix

Fix card permalink and redesign practice-history dialog
  src/components/card-pieces/card-status-dropdown.tsx
  src/components/comments/comment-context-menu.tsx
  src/components/extra-info.tsx
  src/components/feed/feed-filter-menu.tsx
  src/components/navs/app-nav.tsx
  src/components/navs/deck-switcher.tsx
  src/components/navs/mode-toggle.tsx
  src/components/navs/nav-user.tsx
  src/components/phrase-extra-info.tsx
  src/components/plus-menu.tsx
  src/components/practice-history-dialog.tsx
  src/components/review/review-single-card.tsx
  src/components/ui/dropdown-menu.tsx
  src/routes/_user/learn/-contributions.tsx
  src/routes/components.lazy.tsx
Due: prettier --write, oxlint --fix, eslint --fix, tsc --noEmit

Fix scene test selectors after learn page redo
  scenetest/scenes/decks.spec.md
  scenetest/scenes/learn.spec.md
  src/routes/_user/learn/-archived-deck-tile.tsx
  src/routes/_user/learn/-deck-tile.tsx
Due: prettier --write, oxlint --fix, eslint --fix, tsc --noEmit

Fix scenetest console errors: fonts, Base UI button warning, view-transition duplicates
  package.json
  pnpm-lock.yaml
  src/components/cards/card-result-simple.tsx
  src/components/ui/dropdown-menu.tsx
  src/styles/globals.css
Due: prettier --write, oxlint --fix, eslint --fix, tsc --noEmit

test(scenetest): add testids for onboarding, chat request, phrase-create, and deck-stats flows
  scenetest/TEST_IDS.md
  src/components/comments/comment-dialog.tsx
  src/components/fields/username-field.tsx
  src/components/phrases/inline-phrase-creator.tsx
  src/components/stats-badges.tsx
  src/routes/_user/friends/-request-preview.tsx
  src/routes/_user/getting-started.tsx
Due: prettier --write, oxlint --fix, eslint --fix, tsc --noEmit

test(scenetest): add regression scenes for issues #104, #134, #156, #202
  scenetest/scenes/duplicate-profile-race.spec.ts
  scenetest/scenes/duplicate-profile.spec.md
  scenetest/scenes/phrase-from-chat-request.spec.md
  scenetest/scenes/review-stats-consistency.spec.ts
  scenetest/scenes/set-membership-invariants.spec.ts
Due: prettier --write, oxlint --fix, eslint --fix, tsc --noEmit

fix(ui): silence Base UI nativeButton mismatch warnings
  src/components/ui/dropdown-menu.tsx
  src/routes/_user/learn/-deck-tile.tsx
Due: prettier --write, oxlint --fix, eslint --fix, tsc --noEmit

Verify manifest cards are in local collection before review starts
  src/features/review/hooks.ts
  src/routes/_user/learn/$lang.review.go.tsx
  src/routes/_user/learn/$lang.review.preview.tsx
Due: prettier --write, oxlint --fix, eslint --fix, tsc --noEmit

Fix misleading "error posting review" toast when review actually succeeds
  src/features/review/hooks.ts
Due: prettier --write, oxlint --fix, eslint --fix, tsc --noEmit

feat: add admin_user table, is_admin(), and admin RLS policies
  package.json
  src/features/phrases/schemas.ts
  src/types/supabase.ts
  supabase/migrations/20260420120000_admin_phrase_archive.sql
  supabase/schemas/base.sql
Due: prettier --write, oxlint --fix, eslint --fix, tsc --noEmit

ci(scenetest): emit JSON report and post pasteable failure comment on PRs
  .github/workflows/test.yaml
  package.json
Due: prettier --write, oxlint --fix

feat: add admin phrase management UI
  src/components/card-pieces/add-tags.tsx
  src/components/cards/admin-archive-phrase.tsx
  src/routes/_user/admin/$lang.phrases.$id.tsx
  src/routes/_user/admin/$lang.phrases.index.tsx
  src/routes/_user/admin/$lang.phrases.tsx
Due: prettier --write, oxlint --fix, eslint --fix, tsc --noEmit

feat: add admin request management UI
  src/routes/_user/admin/$lang.requests.$id.tsx
  src/routes/_user/admin/$lang.requests.index.tsx
  src/routes/_user/admin/$lang.requests.tsx
Due: prettier --write, oxlint --fix, eslint --fix, tsc --noEmit

feat: add admin index page, routing, and appnav links
  src/components/auth-context.tsx
  src/components/cards/big-phrase-card.tsx
  src/hooks/links.ts
  src/lib/use-auth.ts
  src/routeTree.gen.ts
  src/routes/_user/admin.tsx
  src/routes/_user/admin/$lang.index.tsx
  src/routes/_user/admin/$lang.tsx
  src/routes/_user/admin/index.tsx
Due: prettier --write, oxlint --fix, eslint --fix, tsc --noEmit

fix: QA polish — non-admin guards, markdown prompts, scenetest fixes
  scenetest/TEST_IDS.md
  scenetest/scenes/admin-phrases.spec.md
Due: prettier --write, oxlint --fix

ci(scenetest): drop per-scene console errors, show total in headline
  .github/workflows/test.yaml
Due: none
