Repository mhsnook/sunlo: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, oxlint --fix, eslint --fix, tsc --noEmit

.lintstagedrc.json:

{
	"*.{js,jsx,ts,tsx,json,css,md}": ["prettier --write", "oxlint --fix"],
	"*.{ts,tsx}": ["eslint --fix", "tsc --noEmit"]
}

Fix loading spinner (no more scroll bars coming and going!)
  contexts/2026-01-12-misc-work-doc.md
  src/main.tsx
  src/routes/_user/friends.tsx
  src/routes/_user/learn/browse.tsx
Due: prettier --write, oxlint --fix, eslint --fix, tsc --noEmit

Initial commit for this 01-13 phase of work
  contexts/2026-01-13-work-doc.md
  contexts/completed-items.md
  contexts/instructions-for-coding-agent.md
  e2e/mutations/cards.spec.ts
  src/routes/_user/learn/-contributions.tsx
  todo.md
Due: prettier --write, oxlint --fix, eslint --fix, tsc --noEmit

Throw 404s for lang/undefined type mistaken URLs
  src/main.tsx
  src/routes/_user/learn/$lang.tsx
Due: prettier --write, oxlint --fix, eslint --fix, tsc --noEmit

Create new view 'phrase_meta' which does much less, better
  src/components/card-pieces/card-status-dropdown.tsx
  src/components/phrase-extra-info.tsx
  src/components/phrases/inline-phrase-creator.tsx
  src/lib/collections.ts
  src/lib/schemas.ts
  src/routes/_user/learn/$lang.add-phrase.tsx
  src/routes/_user/learn/$lang.bulk-add.tsx
  src/types/supabase.ts
  supabase/migrations/20260113100000_fix_phrase_meta_view.sql
  supabase/schemas/base.sql
Due: prettier --write, oxlint --fix, eslint --fix, tsc --noEmit

Fix loading spinner (no more scroll bars coming and going!)
  contexts/2026-01-12-misc-work-doc.md
Due: prettier --write, oxlint --fix

Remove a bunch of memoisations
  eslint.config.js
  src/components/ui/sidebar.tsx
Due: prettier --write, oxlint --fix, eslint --fix, tsc --noEmit

Adjust oxlint config to stop warning about lacking memos
  eslint.config.js
  src/components/ui/sidebar.tsx
Due: prettier --write, oxlint --fix, eslint --fix, tsc --noEmit

Fix ago() function returning '1 mo ago' for null dates
  src/components/cards/big-phrase-card.tsx
  src/components/stats-badges.tsx
  src/lib/dayjs.ts
  src/routes/_user/learn/$lang.stats.tsx
Due: prettier --write, oxlint --fix, eslint --fix, tsc --noEmit

Change default theme from dark to light
  src/main.tsx
Due: prettier --write, oxlint --fix, eslint --fix, tsc --noEmit

Make the review buttons have colours again
  contexts/completed-items.md
  src/components/review/review-single-card.tsx
Due: prettier --write, oxlint --fix, eslint --fix, tsc --noEmit

Fix coalescing values in phrase_meta
  contexts/2026-01-13-work-doc.md
  contexts/completed-items.md
  src/components/cards/big-phrase-card.tsx
  supabase/migrations/20260113100000_fix_phrase_meta_view.sql
  supabase/schemas/base.sql
Due: prettier --write, oxlint --fix, eslint --fix, tsc --noEmit

Allow to throw NotFoundError
  contexts/2026-01-13-work-doc.md
  contexts/completed-items.md
  eslint.config.js
Due: prettier --write, oxlint --fix

Add 'add to my deck' option to bulk-add page
  src/routes/_user/learn/$lang.bulk-add.tsx
Due: prettier --write, oxlint --fix, eslint --fix, tsc --noEmit

Add DialogDescription to dialogs for accessibility
  src/components/comments/add-comment-dialog.tsx
  src/components/comments/select-phrases-for-comment.tsx
  src/components/comments/update-comment-dialog.tsx
  src/components/playlists/update-playlist-dialog.tsx
  src/components/requests/update-request-dialog.tsx
Due: prettier --write, oxlint --fix, eslint --fix, tsc --noEmit

Add 'learned' and 'skip' options to review context menu
  src/components/review/review-single-card.tsx
Due: prettier --write, oxlint --fix, eslint --fix, tsc --noEmit

Correct the phrase_meta def in base.sql
  supabase/migrations/20260113100000_fix_phrase_meta_view.sql
  supabase/schemas/base.sql
Due: none

Don't make 'next' branch persistent any more (it's messing up preview branch)
  supabase/config.toml
Due: none

Fix: Embeds not working in production
  contexts/2026-01-13-work-doc.md
Due: prettier --write, oxlint --fix

Fix: Poor RLS performance for chat messages
  contexts/2026-01-15-work-doc.md
  supabase/migrations/20260115120000_fix_chat_message_rls_performance.sql
  supabase/schemas/base.sql
Due: prettier --write, oxlint --fix

Fix: Embeds not working in production
  contexts/2026-01-15-work-doc.md
  src/components/playlists/playlist-embed.tsx
Due: prettier --write, oxlint --fix, eslint --fix, tsc --noEmit

Fix: Poor RLS performance for chat messages
  contexts/completed-items.md
  supabase/migrations/20260115120000_fix_chat_message_rls_performance.sql
  supabase/schemas/base.sql
Due: prettier --write, oxlint --fix
