Repository mhsnook/sunlo: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, oxlint --fix, eslint --fix, tsc --noEmit

Format scenetest report HTML (auto-formatted by prettier)
  scenetest-reports/report-2026-01-23T07-50-23-589Z.html
Due: none

Add inline phrase creator to playlist manage dialog
  src/components/playlists/manage-playlist-phrases-dialog.tsx
Due: prettier --write, oxlint --fix, eslint --fix, tsc --noEmit

Subtle card transitions + nav button animations + prettierignore fix
  .prettierignore
  scenetest-reports/report-2026-01-23T07-50-23-589Z.html
  src/routes/_user/learn/$lang.review.go.tsx
  src/styles/globals.css
Due: prettier --write, oxlint --fix, eslint --fix, tsc --noEmit

Skip new-cards interstitial when there are no new cards to preview
  src/hooks/use-review-store.ts
Due: prettier --write, oxlint --fix, eslint --fix, tsc --noEmit

Fix URL validation: trust server data, validate on client
  src/components/playlists/manage-playlist-phrases-dialog.tsx
  src/components/playlists/update-playlist-dialog.tsx
  src/lib/schemas-playlist.ts
Due: prettier --write, oxlint --fix, eslint --fix, tsc --noEmit

Fix missing React import in intro-callout.tsx
  src/components/intro-callout.tsx
Due: prettier --write, oxlint --fix, eslint --fix, tsc --noEmit

Fix broken test selectors after aria-label cleanup
  e2e/mutations/decks.spec.ts
  scenetest/TEST_IDS.md
  scenetest/scenes/decks.spec.md
  src/components/intros/deck-settings-intro.tsx
Due: prettier --write, oxlint --fix, eslint --fix, tsc --noEmit

Replace review score toasts with slide card transitions
  src/components/review/review-single-card.tsx
  src/hooks/use-reviews.ts
  src/routes/_user/learn/$lang.review.go.tsx
  src/styles/globals.css
Due: prettier --write, oxlint --fix, eslint --fix, tsc --noEmit

Add scenetest-reports to .prettierignore
  .prettierignore
Due: none

Set create-playlist form to validate on blur
  src/routes/_user/learn/$lang.playlists.new.tsx
Due: prettier --write, oxlint --fix, eslint --fix, tsc --noEmit

Add Vitest for unit testing pure logic (FSRS, utils, dayjs)
  package.json
  src/lib/dayjs.test.ts
  src/lib/fsrs.test.ts
  src/lib/utils.test.ts
  vitest.config.ts
Due: prettier --write, oxlint --fix, eslint --fix, tsc --noEmit

Convert color system from HSL to OKLCH and add theme editor
  src/lib/deck-themes.ts
  src/routeTree.gen.ts
  src/routes/themes.lazy.tsx
  src/styles/globals.css
Due: prettier --write, oxlint --fix, eslint --fix, tsc --noEmit

Rewrite theme editor to use real components, add advanced L/C panel
  src/routes/themes.lazy.tsx
Due: prettier --write, oxlint --fix, eslint --fix, tsc --noEmit

Boost dark mode chroma, double c-lo, use c-lo for invert colors
  src/routes/themes.lazy.tsx
  src/styles/globals.css
Due: prettier --write, oxlint --fix, eslint --fix, tsc --noEmit

Add unit test job to CI workflow
  .github/workflows/test.yaml
Due: none

Add vitest to lockfile so CI can install it
  package.json
  pnpm-lock.yaml
Due: prettier --write, oxlint --fix

Add @prettier/plugin-oxc for faster parsing with experimental ternaries
  package.json
  pnpm-lock.yaml
  prettier.config.mjs
  src/components/phrase-extra-info.tsx
  src/components/ui/badge.tsx
  src/components/ui/button.tsx
  src/components/ui/sheet.tsx
  src/styles/globals.css
Due: prettier --write, oxlint --fix, eslint --fix, tsc --noEmit

Make optional the supabase CLI & its postinstall script
  .github/workflows/cloud-publish.yaml
  .github/workflows/test.yaml
  package.json
  pnpm-lock.yaml
Due: prettier --write, oxlint --fix

Fix Playwright CI: add workers=auto, run only chromium, increase timeout
  .github/workflows/test.yaml
  e2e/login-flow.spec.ts
  package.json
  playwright.config.ts
Due: prettier --write, oxlint --fix, eslint --fix, tsc --noEmit

Fix security vulnerabilities in signup and RLS policy
  src/routes/_auth/signup.tsx
  supabase/migrations/20260123100000_fix_request_comment_rls.sql
Due: prettier --write, oxlint --fix, eslint --fix, tsc --noEmit

Update types, base.sql, run linter
  src/components/card-pieces/card-status-dropdown.tsx
  src/lib/fsrs.test.ts
  src/lib/utils.test.ts
  src/types/supabase.ts
  supabase/migrations/20260123100000_fix_request_comment_rls.sql
  supabase/schemas/base.sql
Due: prettier --write, oxlint --fix, eslint --fix, tsc --noEmit

Fix --workers=auto (invalid) to --workers=100%, inline CI test command
  .github/workflows/test.yaml
  package.json
Due: prettier --write, oxlint --fix

Restore test:nav to dev-friendly defaults (no --workers override)
  package.json
Due: prettier --write, oxlint --fix

Path conditions:
  prettier --write: any of: *.{js,jsx,ts,tsx,json,css,md}
  oxlint --fix: any of: *.{js,jsx,ts,tsx,json,css,md}
  eslint --fix: any of: *.{ts,tsx}
  tsc --noEmit: any of: *.{ts,tsx}
