Repository mhsnook/sunlo: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, oxlint --fix, eslint --fix, tsc --noEmit

.lintstagedrc.json:

{
	"*.{js,jsx,ts,tsx,json,css,md}": ["prettier --write", "oxlint --fix"],
	"*.{ts,tsx}": ["eslint --fix", "tsc --noEmit"]
}

Bump version to prepare v0.19
  CHANGELOG.md
  package.json
Due: prettier --write, oxlint --fix

Improve reply thread UX: keep focus on close, consolidate reply prompt
  src/components/comments/add-comment-dialog.tsx
  src/components/comments/comment-dialog.tsx
  src/components/comments/comment-with-replies.tsx
  src/components/comments/reply-dialog.tsx
  src/components/requests/request-form.tsx
Due: prettier --write, oxlint --fix, eslint --fix, tsc --noEmit

Keep subthread open when comment is focused, even with dialog open
  src/components/comments/comment-with-replies.tsx
Due: prettier --write, oxlint --fix, eslint --fix, tsc --noEmit

Fix format/lint
  src/components/card-pieces/user-permalink.tsx
  src/components/ui/authenticated-dialog.tsx
  src/routes/_user/learn/$lang.manage-deck.tsx
  src/routes/_user/learn/add-deck.tsx
Due: prettier --write, oxlint --fix, eslint --fix, tsc --noEmit

Update changelog for v0.19 release
  CHANGELOG.md
Due: prettier --write, oxlint --fix

Consolidate 6+ comment components into CommentDialog + ReplyDialog
  src/components/comments/answering-dialog.tsx
  src/components/comments/comment-dialog.tsx
  src/components/comments/comment-with-replies.tsx
  src/components/comments/reply-dialog.tsx
  src/components/comments/update-comment-dialog.tsx
  src/routes/_user/learn/$lang.requests.$id.tsx
Due: prettier --write, oxlint --fix, eslint --fix, tsc --noEmit

Add comment CRUD scenetest spec with TypeScript fixes and passing tests
  scenetest/scenes/comment-crud.spec.md
  src/components/comments/comment-dialog.tsx
  src/components/comments/delete-comment-dialog.tsx
  src/components/review/review-share-button.tsx
  src/components/ui/card-like.tsx
  src/routes/_user/learn/$lang.deck-settings.tsx
Due: prettier --write, oxlint --fix, eslint --fix, tsc --noEmit

Add TypeScript type checking to CI with PR comments (#500)
  .github/workflows/test.yaml
Due: none

Simplify URL state: collapse 7 search params into focus + mode
  e2e/mutations/requests.spec.ts
  src/components/comments/add-comment-dialog.tsx
  src/components/comments/comment-context-menu.tsx
  src/components/comments/comment-dialog.tsx
  src/components/comments/comment-with-replies.tsx
  src/components/comments/reply-dialog.tsx
  src/components/notifications/notification-item.tsx
  src/routes/_user/learn/$lang.requests.$id.tsx
  src/routes/_user/learn/-contributions.tsx
Due: prettier --write, oxlint --fix, eslint --fix, tsc --noEmit

Update changelog for release
  CHANGELOG.md
Due: prettier --write, oxlint --fix

Add reply link to top-level comments with no replies
  src/components/comments/comment-with-replies.tsx
Due: prettier --write, oxlint --fix, eslint --fix, tsc --noEmit

Unify focus styling and scale down reply thread
  src/components/comments/comment-with-replies.tsx
Due: prettier --write, oxlint --fix, eslint --fix, tsc --noEmit

Upgrade @base-ui/react to 1.3.0 for popover/combobox positioning fix
  package.json
  pnpm-lock.yaml
Due: prettier --write, oxlint --fix

Fix YAML syntax error in CI workflow (block scalar for pipe commands)
  .github/workflows/test.yaml
Due: none

Add edit comment form parity with markdown hints and flashcard support
  src/components/comments/comment-with-replies.tsx
  src/components/comments/select-phrases-for-comment.tsx
  src/components/comments/update-comment-dialog.tsx
  src/routes/_user/learn/$lang.requests.$id.tsx
  supabase/migrations/20260401110000_add_comment_phrase_link_delete_policy.sql
Due: prettier --write, oxlint --fix, eslint --fix, tsc --noEmit

Fix comment collection "not ready" errors by preloading and adding retry logic
  src/components/comments/add-comment-dialog.tsx
  src/components/comments/comment-dialog.tsx
  src/components/comments/delete-comment-dialog.tsx
  src/components/comments/reply-dialog.tsx
  src/components/comments/upvote-comment-button.tsx
  src/lib/collections/safe-write.ts
  src/routes/_user/learn/$lang.requests.$id.tsx
Due: prettier --write, oxlint --fix, eslint --fix, tsc --noEmit

Remove green tint from completed review button
  src/routes/_user/learn/-deck-card.tsx
Due: prettier --write, oxlint --fix, eslint --fix, tsc --noEmit

Show review completion on deck card: rocket becomes a check
  src/routes/_user/learn/-deck-card.tsx
Due: prettier --write, oxlint --fix, eslint --fix, tsc --noEmit

Show phrase links on comments in Contributions tab
  src/routes/_user/learn/-contributions.tsx
Due: prettier --write, oxlint --fix, eslint --fix, tsc --noEmit

Add useEffect review hook to flag new useEffect additions
  .claude/hooks/review-useeffect.sh
  .claude/settings.json
Due: prettier --write, oxlint --fix

Add related cards section to phrase detail page
  src/components/cards/big-phrase-card.tsx
  src/features/phrases/hooks.ts
Due: prettier --write, oxlint --fix, eslint --fix, tsc --noEmit

fix: remove extra # from comment hash in phrase provenance link
  src/components/cards/big-phrase-card.tsx
Due: prettier --write, oxlint --fix, eslint --fix, tsc --noEmit

Silently discard malformed focus search param, show neutral toast
  src/routes/_user/learn/$lang.requests.$id.tsx
Due: prettier --write, oxlint --fix, eslint --fix, tsc --noEmit

Remove duplicate search link and route file
  src/hooks/links.ts
  src/routeTree.gen.ts
  src/routes/_user/learn/$lang.stats.tsx
  src/routes/_user/learn/quick-search.tsx
Due: prettier --write, oxlint --fix, eslint --fix, tsc --noEmit

Move malformed focus toast to loader
  src/routes/_user/learn/$lang.requests.$id.tsx
Due: prettier --write, oxlint --fix, eslint --fix, tsc --noEmit

Guard toast behind cause !== preload, console.error for preload case
  src/routes/_user/learn/$lang.requests.$id.tsx
Due: prettier --write, oxlint --fix, eslint --fix, tsc --noEmit

Move focus check after preload awaits
  src/routes/_user/learn/$lang.requests.$id.tsx
Due: prettier --write, oxlint --fix, eslint --fix, tsc --noEmit

Fix loader TS error: validate focus UUID directly from location
  src/routes/_user/learn/$lang.requests.$id.tsx
Due: prettier --write, oxlint --fix, eslint --fix, tsc --noEmit

Use z.string().uuid().safeParse instead of hand-rolled regex
  src/routes/_user/learn/$lang.requests.$id.tsx
Due: prettier --write, oxlint --fix, eslint --fix, tsc --noEmit

Add sound + coin-pop feedback for review score buttons
  src/components/review/review-single-card.tsx
  src/lib/review-sounds.ts
  src/styles/globals.css
Due: prettier --write, oxlint --fix, eslint --fix, tsc --noEmit

Add validation and toast notification for invalid focus comment IDs (#514)
  src/routes/_user/learn/$lang.requests.$id.tsx
Due: prettier --write, oxlint --fix, eslint --fix, tsc --noEmit

Hide notification bell in focus mode
  src/components/navs/navbar.tsx
Due: prettier --write, oxlint --fix, eslint --fix, tsc --noEmit

Fix overflow in Callout component on review page
  src/components/language-is-empty.tsx
  src/components/ui/callout.tsx
Due: prettier --write, oxlint --fix, eslint --fix, tsc --noEmit

Simplify feed page title to just "{Language} Feed"
  src/routes/_user/learn/$lang.feed.tsx
Due: prettier --write, oxlint --fix, eslint --fix, tsc --noEmit

Add sound_enabled preference to user profile
  src/components/review/review-single-card.tsx
  src/features/profile/hooks.ts
  src/features/profile/index.ts
  src/features/profile/schemas.ts
  src/lib/review-sounds.ts
  src/routes/_user/profile/-display-preferences.tsx
  src/types/supabase.ts
  supabase/migrations/20260404120000_add_sound_enabled_to_profile.sql
Due: prettier --write, oxlint --fix, eslint --fix, tsc --noEmit
