Repository mhsnook/sunlo: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, oxlint --fix, eslint --fix, tsc --noEmit

.lintstagedrc.json:

{
	"*.{js,jsx,ts,tsx,json,css,md}": ["prettier --write", "oxlint --fix"],
	"*.{ts,tsx}": ["eslint --fix", "tsc --noEmit"]
}

Fix one tiny form bug tripping a test
  src/routes/_user/learn/$lang.phrases.new.tsx
Due: prettier --write, oxlint --fix, eslint --fix, tsc --noEmit

Fix chat preview components and add playlist sharing support
  src/components/cards/card-result-simple.tsx
  src/lib/schemas.ts
  src/routes/_user/friends/-card-preview.tsx
  src/routes/_user/friends/-chats-sidebar.tsx
  src/routes/_user/friends/-playlist-preview.tsx
  src/routes/_user/friends/-request-preview.tsx
  src/routes/_user/friends/chats.$friendUid.tsx
  supabase/migrations/20260117181611_add_playlist_to_chat_message.sql
Due: prettier --write, oxlint --fix, eslint --fix, tsc --noEmit

Update schema and types for the playlist chat share
  src/types/supabase.ts
  supabase/schemas/base.sql
Due: prettier --write, oxlint --fix, eslint --fix, tsc --noEmit

Add send-playlist-to-friend button
  src/components/playlists/playlist-list-item.tsx
  src/components/playlists/send-playlist-to-friend.tsx
  src/components/playlists/share-playlist-button.tsx
Due: prettier --write, oxlint --fix, eslint --fix, tsc --noEmit

Run formatter, remove extraneous badge-variants
  contexts/2026-01-17-work-doc.md
  src/components/language-is-empty.tsx
  src/components/phrase-extra-info.tsx
  src/components/ui/badge-variants.tsx
  src/components/ui/badge.tsx
  src/components/ui/button-variants.tsx
  src/components/ui/sheet.tsx
  src/styles/globals.css
Due: prettier --write, oxlint --fix, eslint --fix, tsc --noEmit

Fix chat window layout to fill available space and add scroll indicator
  src/routes/_user/friends/chats.$friendUid.tsx
Due: prettier --write, oxlint --fix, eslint --fix, tsc --noEmit

Add smart search feature with trigram similarity ranking
  package.json
  src/hooks/use-smart-search.ts
  src/lib/schemas.ts
  src/routes/_user/learn/$lang.search.tsx
  supabase/migrations/20260117150000_add_smart_search.sql
Due: prettier --write, oxlint --fix, eslint --fix, tsc --noEmit

Update pnpm-lock.yaml
  pnpm-lock.yaml
Due: none

Fix the review-flow logic, making it more explicit and local-first
  e2e/mutations/reviews.spec.ts
  readme/review-interface-flow-logic.md
  src/components/review/review-single-card.tsx
  src/hooks/use-reviews.ts
Due: prettier --write, oxlint --fix, eslint --fix, tsc --noEmit

Fix recommended phrases showing cards already in deck
  src/hooks/composite-pids.ts
Due: prettier --write, oxlint --fix, eslint --fix, tsc --noEmit

Fix LanguagesKnownField layout by constraining proficiency selector width
  src/components/fields/languages-known-field.tsx
Due: prettier --write, oxlint --fix, eslint --fix, tsc --noEmit

Fix ChatMessageSchema to accept undefined for nullable fields
  src/lib/schemas.ts
Due: prettier --write, oxlint --fix, eslint --fix, tsc --noEmit

Improve the review-stats message
  e2e/mutations/reviews.spec.ts
  src/components/review/when-review-complete-screen.tsx
  src/hooks/use-reviews.ts
Due: prettier --write, oxlint --fix, eslint --fix, tsc --noEmit

Fix user_client_event policy to prevent null uid spoofing
  supabase/migrations/20260117150000_fix_rls_insert_policies.sql
Due: none

Fix RLS INSERT policies to validate user ownership
  supabase/migrations/20260117150000_fix_rls_insert_policies.sql
Due: none

Update schema/run linters etc
  supabase/migrations/20260117140000_friend_request_validation_trigger.sql
  supabase/migrations/20260117150000_fix_rls_insert_policies.sql
  supabase/schemas/base.sql
  supabase/tests/friend-request-trigger.psql
Due: none

Use calculated viewport height for chat window container
  src/routes/_user/friends/chats.$friendUid.tsx
Due: prettier --write, oxlint --fix, eslint --fix, tsc --noEmit

Accidentally improve some unrelated component
  src/components/feed/feed-phrase-group-item.tsx
  supabase/migrations/20260117160000_add_smart_search.sql
Due: prettier --write, oxlint --fix, eslint --fix, tsc --noEmit

Improve this accordion result component a bit
  src/components/phrase-accordion-item.tsx
Due: prettier --write, oxlint --fix, eslint --fix, tsc --noEmit

Fix migration
  supabase/migrations/20260117160000_add_smart_search.sql
Due: none

Update work docs for v0.4.9 next deploy
  contexts/2026-01-17-work-doc.md
  contexts/completed-items.md
  package.json
Due: prettier --write, oxlint --fix

Make Friends and Popular feeds polymorphic with filter support
  contexts/2026-01-17-work-doc.md
  src/hooks/use-feed.ts
  src/routes/_user/learn/$lang.feed.tsx
Due: prettier --write, oxlint --fix, eslint --fix, tsc --noEmit

Add unified popularity column and fix Popular feed sorting
  e2e/mutations/feed.spec.ts
  src/components/feed/feed-item.tsx
  src/hooks/use-feed.ts
  src/lib/schemas.ts
  src/types/supabase.ts
  supabase/migrations/20260117120000_add_popularity_to_feed_view.sql
  supabase/schemas/base.sql
Due: prettier --write, oxlint --fix, eslint --fix, tsc --noEmit

Fix TypeScript errors across codebase
  src/components/activity-chart.tsx
  src/components/card-pieces/add-tags.tsx
  src/components/feed/feed-filter-menu.tsx
  src/components/fields/languages-known-field.tsx
  src/components/fields/types.d.ts
  src/components/language-is-empty.tsx
  src/components/phrase-extra-info.tsx
  src/components/ui/badge-variants.tsx
  src/components/ui/button-variants.tsx
  src/components/ui/label.tsx
  src/components/ui/sheet.tsx
  src/hooks/composite-phrase.ts
  src/hooks/use-language.ts
  src/hooks/use-playlists.ts
  src/lib/schemas.ts
  src/routes/_user/learn/$lang.deck-settings.tsx
  src/routes/_user/learn/$lang.requests.new.tsx
  src/routes/_user/learn/$lang.review.index.tsx
  src/routes/_user/learn/-archive-deck-button.tsx
  src/routes/_user/learn/-contributions.tsx
  src/routes/_user/learn/contributions.tsx
  src/styles/globals.css
  tsconfig.app.json
Due: prettier --write, oxlint --fix, eslint --fix, tsc --noEmit

Fix Popular feed to preserve popularity order
  contexts/2026-01-17-work-doc.md
  e2e/mutations/feed.spec.ts
  src/hooks/use-feed.ts
  src/hooks/use-requests.tsx
  src/routes/_user/learn/$lang.feed.tsx
  src/routes/_user/learn/$lang.requests.$id.tsx
Due: prettier --write, oxlint --fix, eslint --fix, tsc --noEmit

Make smaller 'Edit translations' and 'Add tags' buttons, tweak preview cards
  src/components/card-pieces/add-tags.tsx
  src/components/card-pieces/add-translations.tsx
  src/components/cards/big-phrase-card.tsx
  src/routes/_user/friends/-card-preview.tsx
  src/routes/_user/friends/chats.$friendUid.tsx
Due: prettier --write, oxlint --fix, eslint --fix, tsc --noEmit
