Repository mhsnook/sunlo: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, oxlint --fix, eslint --fix, tsc --noEmit

Extract SortIcon to module scope in admin tables
  src/routes/_user/admin/$lang.phrases.index.tsx
  src/routes/_user/admin/$lang.requests.index.tsx
Due: prettier --write, oxlint --fix, eslint --fix, tsc --noEmit

Remove dead code: 5 unused files and 15 unused type aliases
  src/components/display-phrase-query.tsx
  src/components/navs/types.ts
  src/components/phrase-accordion-item.tsx
  src/components/ui/multi-select.tsx
  src/components/ui/radio-group.tsx
  src/features/chat/index.ts
  src/features/chat/schemas.ts
  src/features/deck/hooks.ts
  src/features/deck/index.ts
  src/features/deck/schemas.ts
  src/features/languages/index.ts
  src/features/languages/schemas.ts
  src/features/phrases/index.ts
  src/features/phrases/schemas.ts
  src/features/playlists/index.ts
  src/features/playlists/schemas.ts
  src/features/profile/index.ts
  src/features/profile/schemas.ts
  src/features/requests/hooks.ts
  src/features/requests/index.ts
  src/lib/deck-themes.ts
  src/types/main.ts
Due: prettier --write, oxlint --fix, eslint --fix, tsc --noEmit

Pilot: lock notifications feature behind its barrel
  .oxlintrc.json
  CLAUDE.md
  src/components/notifications/notification-bell.tsx
  src/components/notifications/notification-item.tsx
  src/components/notifications/notification-list.tsx
  src/features/notifications/schemas.test.ts
  src/hooks/links.ts
  src/lib/collections/clear-user.ts
  src/routes/_user.tsx
  src/routes/_user/notifications.tsx
Due: prettier --write, oxlint --fix, eslint --fix, tsc --noEmit

Add initiate-transform skill
  .claude/skills/initiate-transform/SKILL.md
Due: prettier --write, oxlint --fix

Rework: barrel = type-only registry, not value gateway
  .oxlintrc.json
  CLAUDE.md
  src/components/notifications/notification-bell.tsx
  src/components/notifications/notification-item.tsx
  src/components/notifications/notification-list.tsx
  src/features/notifications/index.ts
  src/hooks/links.ts
  src/lib/collections/clear-user.ts
  src/routes/_user.tsx
  src/routes/_user/notifications.tsx
Due: prettier --write, oxlint --fix, eslint --fix, tsc --noEmit

Fix react/no-array-index-key warnings
  src/components/spreadsheet-import-dialog.tsx
  src/routes/_user/learn/$lang.bulk-add.tsx
Due: prettier --write, oxlint --fix, eslint --fix, tsc --noEmit

reorganize navigation around top-level sections
  src/components/library-charts.tsx
  src/components/navs/app-sidebar.tsx
  src/components/navs/deck-switcher.tsx
  src/components/navs/nav-main.tsx
  src/components/navs/nav-user.tsx
  src/components/review/when-review-complete-screen.tsx
  src/hooks/links.ts
  src/routeTree.gen.ts
  src/routes/-homepage/crowd-sourced-section.tsx
  src/routes/-homepage/hero-section.tsx
  src/routes/_user/browse.charts.tsx
  src/routes/_user/browse.index.tsx
  src/routes/_user/browse.tsx
  src/routes/_user/friends.tsx
  src/routes/_user/friends/-friends-feed.tsx
  src/routes/_user/friends/index.tsx
  src/routes/_user/learn.tsx
  src/routes/_user/learn/index.tsx
  src/routes/_user/profile/-display-preferences.tsx
  src/routes/_user/profile/index.tsx
  src/routes/_user/welcome.tsx
  src/routes/index.tsx
Due: prettier --write, oxlint --fix, eslint --fix, tsc --noEmit

move /learn/browse to /browse and add force-directed similarity graph
  src/components/library-charts.tsx
  src/components/navs/deck-switcher.tsx
  src/components/navs/nav-main.tsx
  src/components/review/when-review-complete-screen.tsx
  src/hooks/links.ts
  src/routeTree.gen.ts
  src/routes/-homepage/crowd-sourced-section.tsx
  src/routes/-homepage/hero-section.tsx
  src/routes/_user/browse.charts.lazy.tsx
  src/routes/_user/browse.charts.tsx
  src/routes/_user/browse.graph.lazy.tsx
  src/routes/_user/browse.graph.tsx
  src/routes/_user/browse.index.lazy.tsx
  src/routes/_user/browse.tsx
  src/routes/_user/learn/browse.tsx
  src/routes/_user/learn/index.tsx
  src/routes/_user/welcome.tsx
  src/routes/index.tsx
  supabase/migrations/20260509120000_phrase_similarity_graph.sql
Due: prettier --write, oxlint --fix, eslint --fix, tsc --noEmit

update scenetest specs for new navigation
  scenetest/TEST_IDS.md
  scenetest/scenes/auth.spec.md
  scenetest/scenes/bidirectional-review.spec.md
  scenetest/scenes/friends.spec.md
  scenetest/scenes/learn.spec.md
Due: prettier --write, oxlint --fix

Add optimistic-mutation handler to cardsCollection
  src/features/deck/collections.ts
  src/features/deck/hooks.ts
Due: prettier --write, oxlint --fix, eslint --fix, tsc --noEmit

Switch review context-menu to optimistic card-status updates
  src/components/review/review-single-card.tsx
Due: prettier --write, oxlint --fix, eslint --fix, tsc --noEmit

Codify collection-config mutation pattern in CLAUDE.md
  CLAUDE.md
Due: prettier --write, oxlint --fix

fix /learn/browse → /browse in playwright spec
  e2e/navigations/logged-out.spec.ts
Due: prettier --write, oxlint --fix, eslint --fix, tsc --noEmit

Migrate profile preferences to collection.update pattern (#625 batch 7)
  src/features/profile/collections.ts
  src/routes/_user/profile/-display-preferences.tsx
  src/routes/_user/profile/-update-profile-form.tsx
Due: prettier --write, oxlint --fix, eslint --fix, tsc --noEmit

Migrate card-status-dropdown to cardsCollection optimistic ops
  src/components/card-pieces/card-status-dropdown.tsx
  src/features/deck/collections.ts
Due: prettier --write, oxlint --fix, eslint --fix, tsc --noEmit

Migrate deck settings to collection.update pattern (#625 batch 6)
  src/features/deck/collections.ts
  src/routes/_user/learn/$lang.deck-settings.tsx
Due: prettier --write, oxlint --fix, eslint --fix, tsc --noEmit

Migrate deck archive/restore to collection.update pattern (#625 batch 6)
  src/routes/_user/learn/-archive-deck-button.tsx
  src/routes/_user/learn/-archived-deck-tile.tsx
Due: prettier --write, oxlint --fix, eslint --fix, tsc --noEmit

ci(lint): pair shifted lint errors within 10 lines as the same issue
  .github/workflows/test.yaml
Due: none

ci(typecheck): pair shifted type errors within 10 lines as the same error
  .github/workflows/test.yaml
Due: none

ci: require same column when pairing shifted lint/type errors
  .github/workflows/test.yaml
Due: none

Improve error/lint reporting by detecting shifted issues (#629)
  .github/workflows/test.yaml
Due: none

move login-page link checks to scenetest
  e2e/navigations/logged-out.spec.ts
  scenetest/TEST_IDS.md
  scenetest/scenes/auth.spec.md
  src/components/login-card-body.tsx
Due: prettier --write, oxlint --fix, eslint --fix, tsc --noEmit

delete obsolete logged-out playwright spec
  e2e/navigations/logged-out.spec.ts
Due: prettier --write, oxlint --fix, eslint --fix, tsc --noEmit

docs: initiate transform — decommission Playwright e2e/ in favor of scenetest
  CLAUDE.md
Due: prettier --write, oxlint --fix

docs: tighten transform recipe — markdown + inline checks as strong default
  CLAUDE.md
Due: prettier --write, oxlint --fix

Update specs for /browse URL, remove redundant playwright specs
  e2e/navigations/logged-out.spec.ts
  scenetest/TEST_IDS.md
  scenetest/scenes/auth.spec.md
  src/components/login-card-body.tsx
Due: prettier --write, oxlint --fix, eslint --fix, tsc --noEmit

Add inline serverCheck verifying card status persists to siblings
  src/components/card-pieces/card-status-dropdown.tsx
  src/types/scenetest.d.ts
Due: prettier --write, oxlint --fix, eslint --fix, tsc --noEmit

add /admin/routes introspection page
  src/routeTree.gen.ts
  src/routes/_user/admin/routes.tsx
  src/routes/_user/friends/chats.tsx
  src/routes/_user/learn/$lang.review.go.tsx
  src/routes/_user/learn/$lang.review.preview.tsx
  src/routes/_user/search.tsx
Due: prettier --write, oxlint --fix, eslint --fix, tsc --noEmit

Path conditions:
  prettier --write: any of: *.{js,jsx,ts,tsx,json,css,md}
  oxlint --fix: any of: *.{js,jsx,ts,tsx,json,css,md}
  eslint --fix: any of: *.{ts,tsx}
  tsc --noEmit: any of: *.{ts,tsx}
