Repository mhsnook/sunlo: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, oxlint --fix, eslint --fix, tsc --noEmit

.lintstagedrc.json:

{
	"*.{js,jsx,ts,tsx,json,css,md}": ["prettier --write", "oxlint --fix"],
	"*.{ts,tsx}": ["eslint --fix", "tsc --noEmit"]
}

Move preferred translation lang ordering into usePhrase hook
  src/components/review/review-single-card.tsx
  src/hooks/composite-phrase.ts
Due: prettier --write, oxlint --fix, eslint --fix, tsc --noEmit

Add related cards section to phrase detail page
  src/components/cards/big-phrase-card.tsx
  src/features/phrases/hooks.ts
Due: prettier --write, oxlint --fix, eslint --fix, tsc --noEmit

Show review completion on deck card: rocket becomes a check
  src/routes/_user/learn/-deck-card.tsx
Due: prettier --write, oxlint --fix, eslint --fix, tsc --noEmit

Prioritize deck preferred_translation_lang in review card translation order
  src/components/review/review-single-card.tsx
  src/hooks/composite-phrase.ts
Due: prettier --write, oxlint --fix, eslint --fix, tsc --noEmit

Simplify URL state: collapse 7 search params into focus + mode
  e2e/mutations/requests.spec.ts
  src/components/comments/add-comment-dialog.tsx
  src/components/comments/comment-context-menu.tsx
  src/components/comments/comment-dialog.tsx
  src/components/comments/comment-with-replies.tsx
  src/components/comments/reply-dialog.tsx
  src/components/notifications/notification-item.tsx
  src/routes/_user/learn/$lang.requests.$id.tsx
  src/routes/_user/learn/-contributions.tsx
Due: prettier --write, oxlint --fix, eslint --fix, tsc --noEmit

Clean up MarkdownHint: export, reuse, and fix copy
  src/components/comments/add-comment-dialog.tsx
  src/components/comments/comment-dialog.tsx
  src/components/comments/reply-dialog.tsx
  src/components/requests/request-form.tsx
Due: prettier --write, oxlint --fix, eslint --fix, tsc --noEmit

Add edit comment form parity with markdown hints and flashcard support
  src/components/comments/comment-with-replies.tsx
  src/components/comments/select-phrases-for-comment.tsx
  src/components/comments/update-comment-dialog.tsx
  src/routes/_user/learn/$lang.requests.$id.tsx
  supabase/migrations/20260401110000_add_comment_phrase_link_delete_policy.sql
Due: prettier --write, oxlint --fix, eslint --fix, tsc --noEmit

Consolidate 6+ comment components into CommentDialog + ReplyDialog
  src/components/comments/answering-dialog.tsx
  src/components/comments/comment-dialog.tsx
  src/components/comments/comment-with-replies.tsx
  src/components/comments/reply-dialog.tsx
  src/components/comments/update-comment-dialog.tsx
  src/routes/_user/learn/$lang.requests.$id.tsx
Due: prettier --write, oxlint --fix, eslint --fix, tsc --noEmit

Unify focus styling and scale down reply thread
  src/components/comments/comment-with-replies.tsx
Due: prettier --write, oxlint --fix, eslint --fix, tsc --noEmit

Bump version to prepare v0.19
  CHANGELOG.md
  package.json
Due: prettier --write, oxlint --fix

Improve reply thread UX: keep focus on close, consolidate reply prompt
  src/components/comments/comment-dialog.tsx
  src/components/comments/comment-with-replies.tsx
  src/components/comments/reply-dialog.tsx
Due: prettier --write, oxlint --fix, eslint --fix, tsc --noEmit

Add TypeScript type checking to CI with PR comments (#500)
  .github/workflows/test.yaml
Due: none

Update changelog for release
  CHANGELOG.md
Due: prettier --write, oxlint --fix

Fix combobox popover scroll jump by using fixed positioning
  src/components/ui/popover.tsx
Due: prettier --write, oxlint --fix, eslint --fix, tsc --noEmit

Make reply button clickable and show reply input for empty threads
  src/components/comments/comment-with-replies.tsx
Due: prettier --write, oxlint --fix, eslint --fix, tsc --noEmit

Add reply link to CommentReply so nested comments can be replied to
  src/components/comments/comment-with-replies.tsx
Due: prettier --write, oxlint --fix, eslint --fix, tsc --noEmit

Add reply link to top-level comments with 0 replies
  src/components/comments/comment-with-replies.tsx
Due: prettier --write, oxlint --fix, eslint --fix, tsc --noEmit

Add reply link to top-level comments with no replies
  src/components/comments/comment-with-replies.tsx
Due: prettier --write, oxlint --fix, eslint --fix, tsc --noEmit

Fix reply link toggling subthread closed when dialog opens
  src/components/comments/comment-with-replies.tsx
Due: prettier --write, oxlint --fix, eslint --fix, tsc --noEmit

Simplify: drop isFocusedWithMode, let normal focus handle subthread
  src/components/comments/comment-with-replies.tsx
Due: prettier --write, oxlint --fix, eslint --fix, tsc --noEmit

Keep subthread open when comment is focused, even with dialog open
  src/components/comments/comment-with-replies.tsx
Due: prettier --write, oxlint --fix, eslint --fix, tsc --noEmit

Simplify: use isFocused for both highlight and subthread visibility
  src/components/comments/comment-with-replies.tsx
Due: prettier --write, oxlint --fix, eslint --fix, tsc --noEmit

Improve reply thread UX: keep focus on close, consolidate reply prompt
  src/components/comments/add-comment-dialog.tsx
  src/components/comments/comment-dialog.tsx
  src/components/comments/comment-with-replies.tsx
  src/components/comments/reply-dialog.tsx
  src/components/requests/request-form.tsx
Due: prettier --write, oxlint --fix, eslint --fix, tsc --noEmit

Upgrade @base-ui/react to 1.3.0 for popover/combobox positioning fix
  package.json
  pnpm-lock.yaml
Due: prettier --write, oxlint --fix

Fix YAML syntax error in CI workflow (block scalar for pipe commands)
  .github/workflows/test.yaml
Due: none

Fix TypeScript errors: parse deck data through schema, flatten link types, void clipboard promise
  src/components/comments/comment-dialog.tsx
  src/components/review/review-share-button.tsx
  src/routes/_user/learn/$lang.deck-settings.tsx
Due: prettier --write, oxlint --fix, eslint --fix, tsc --noEmit

Add comment CRUD scenetest spec with test IDs for delete, phrase attach/remove
  scenetest/scenes/comment-crud.spec.md
  src/components/comments/comment-dialog.tsx
  src/components/comments/delete-comment-dialog.tsx
Due: prettier --write, oxlint --fix, eslint --fix, tsc --noEmit

Update changelog with release prep fixes for v0.19
  CHANGELOG.md
Due: prettier --write, oxlint --fix

Remove green tint from completed review button
  src/routes/_user/learn/-deck-card.tsx
Due: prettier --write, oxlint --fix, eslint --fix, tsc --noEmit

Fix format/lint
  src/components/card-pieces/user-permalink.tsx
  src/components/ui/authenticated-dialog.tsx
  src/routes/_user/learn/$lang.manage-deck.tsx
  src/routes/_user/learn/add-deck.tsx
Due: prettier --write, oxlint --fix, eslint --fix, tsc --noEmit

Add voting on answer card linkages in comment threads
  src/components/comments/comment-with-replies.tsx
  src/components/comments/upvote-link-button.tsx
  src/features/comments/collections.ts
  src/features/comments/index.ts
  src/features/comments/schemas.ts
  src/lib/collections/clear-user.ts
  src/types/supabase.ts
  supabase/migrations/20260403120000_add_answer_link_voting.sql
Due: prettier --write, oxlint --fix, eslint --fix, tsc --noEmit

Fix comment-crud scenetest scope management and pass both scenes
  scenetest/scenes/comment-crud.spec.md
  src/components/ui/card-like.tsx
Due: prettier --write, oxlint --fix, eslint --fix, tsc --noEmit

Add seed data and Playwright test for answer link voting
  e2e/mutations/requests.spec.ts
  supabase/seed-comments.sql
Due: prettier --write, oxlint --fix, eslint --fix, tsc --noEmit

Add comment CRUD scenetest spec with TypeScript fixes and passing tests
  scenetest/scenes/comment-crud.spec.md
  src/components/comments/comment-dialog.tsx
  src/components/comments/delete-comment-dialog.tsx
  src/components/review/review-share-button.tsx
  src/components/ui/card-like.tsx
  src/routes/_user/learn/$lang.deck-settings.tsx
Due: prettier --write, oxlint --fix, eslint --fix, tsc --noEmit

Update changelog for v0.19 release
  CHANGELOG.md
Due: prettier --write, oxlint --fix
