Repository mhsnook/sunlo: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, oxlint --fix, eslint --fix, tsc --noEmit

Add book icons to font preference selector buttons
  src/routes/_user/profile/-display-preferences.tsx
Due: prettier --write, oxlint --fix, eslint --fix, tsc --noEmit

fix: match navbar icon spacing to app-nav (gap-2)
  src/components/navs/navbar.tsx
Due: prettier --write, oxlint --fix, eslint --fix, tsc --noEmit

Add Wordle-style share button to review completion screen
  src/components/review/review-share-button.tsx
  src/components/review/when-review-complete-screen.tsx
Due: prettier --write, oxlint --fix, eslint --fix, tsc --noEmit

Fix docs to replace react-hot-toast with sonner, and remove code-rules.md
  CLAUDE.md
  code-rules.md
Due: prettier --write, oxlint --fix

Add SessionStart hook to install pnpm dependencies on remote sessions
  .claude/hooks/session-start.sh
  .claude/settings.json
Due: prettier --write, oxlint --fix

Fix floating promise lint error in review share button
  src/components/review/review-share-button.tsx
Due: prettier --write, oxlint --fix, eslint --fix, tsc --noEmit

Fix: populate phrase_search_index after recreation
  supabase/migrations/20260401100000_populate_phrase_search_index.sql
Due: none

Bump version to v0.18.1 and add changelog entry
  CHANGELOG.md
  package.json
Due: prettier --write, oxlint --fix

Add incident reports doc with phrase_search_index outage
  readme/incident-reports.md
Due: prettier --write, oxlint --fix

Fix button text overflow by shortening to 'Browse the Feed'
  src/components/review/not-enough-cards.tsx
Due: prettier --write, oxlint --fix, eslint --fix, tsc --noEmit

Add Comments tab to Contributions + responsive dropdown
  src/features/contributions/hooks.ts
  src/features/contributions/index.ts
  src/routes/_user/learn/-contributions.tsx
Due: prettier --write, oxlint --fix, eslint --fix, tsc --noEmit

Style: lowercase SQL keywords in migration
  supabase/migrations/20260401100000_populate_phrase_search_index.sql
Due: none

Minor component updates supporting comment/flashcard UX
  src/components/card-pieces/user-permalink.tsx
  src/components/cards/phrase-tiny-card.tsx
  src/components/phrases/inline-phrase-creator.tsx
  src/components/ui/button.tsx
Due: prettier --write, oxlint --fix, eslint --fix, tsc --noEmit

Simplify comment dialog: remove inline/suffix/controlled complexity
  src/components/comments/add-comment-dialog.tsx
  src/components/comments/select-phrases-for-comment.tsx
Due: prettier --write, oxlint --fix, eslint --fix, tsc --noEmit

Add URL-driven AnsweringDialog for request thread answers
  src/components/comments/answering-dialog.tsx
Due: prettier --write, oxlint --fix, eslint --fix, tsc --noEmit

Wire AnsweringDialog into request route with Flashcard button
  src/routes/_user/learn/$lang.requests.$id.tsx
Due: prettier --write, oxlint --fix, eslint --fix, tsc --noEmit

Add archived decks link on add-deck page
  src/routes/_user/learn/add-deck.tsx
Due: prettier --write, oxlint --fix, eslint --fix, tsc --noEmit

Stretch buttons to fill width when they wrap to stacked layout
  src/components/review/not-enough-cards.tsx
Due: prettier --write, oxlint --fix, eslint --fix, tsc --noEmit

Navigate to language feed after restoring an archived deck
  src/routes/_user/learn/-archive-deck-button.tsx
Due: prettier --write, oxlint --fix, eslint --fix, tsc --noEmit

Add gap above sticky review button, remove outlet bottom padding in focus mode
  src/components/review/new-cards-preview.tsx
  src/routes/_user.tsx
Due: prettier --write, oxlint --fix, eslint --fix, tsc --noEmit

Make review start buttons sticky at bottom of viewport (#488)
  src/components/review/new-cards-preview.tsx
  src/routes/_user.tsx
Due: prettier --write, oxlint --fix, eslint --fix, tsc --noEmit

Fix button default size regression and recommended-phrases grid gap
  src/components/ui/button.tsx
  src/routes/_user/learn/-recommended-phrases.tsx
Due: prettier --write, oxlint --fix, eslint --fix, tsc --noEmit

Add archived decks management and navigation (#495)
  src/routes/_user/learn/-archive-deck-button.tsx
  src/routes/_user/learn/add-deck.tsx
Due: prettier --write, oxlint --fix, eslint --fix, tsc --noEmit

Fix blank password causing silent hang on login form
  package.json
  pnpm-lock.yaml
  src/components/phrases/inline-phrase-creator.tsx
  src/components/review/new-cards-preview.tsx
  src/features/playlists/schemas.ts
  src/routes/_user/learn/$lang.phrases.new.tsx
  supabase/migrations/20260401100000_populate_phrase_search_index.sql
Due: prettier --write, oxlint --fix, eslint --fix, tsc --noEmit

Add GitHub Actions workflow for TypeScript type checking
  .github/workflows/typecheck.yml
Due: none

Fix invalid UUIDs in seed data for Zod v4 compatibility
  supabase/seed.sql
Due: none

Path conditions:
  prettier --write: any of: *.{js,jsx,ts,tsx,json,css,md}
  oxlint --fix: any of: *.{js,jsx,ts,tsx,json,css,md}
  eslint --fix: any of: *.{ts,tsx}
  tsc --noEmit: any of: *.{ts,tsx}
