Repository mhsnook/sunlo: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, oxlint --fix, eslint --fix, tsc --noEmit

Add datestamp metadata and regen schemas
  src/types/supabase.ts
  supabase/migrations/20260507120000_add_db_meta.sql
  supabase/schemas/base.sql
Due: prettier --write, oxlint --fix, eslint --fix, tsc --noEmit

scenetest: introduce team2 with concurrent-team support
  scenetest/actors/default.ts
  scenetest/actors/team2.ts
  scenetest/config.ts
  scenetest/scenes/admin-phrases.spec.md
  scenetest/scenes/auth.spec.md
  scenetest/scenes/bidirectional-review.spec.md
  scenetest/scenes/comment-crud.spec.md
  scenetest/scenes/comments-and-answers.spec.md
  scenetest/scenes/decks.spec.md
  scenetest/scenes/feed.spec.md
  scenetest/scenes/learn.spec.md
  scenetest/scenes/phrase-create.spec.md
  scenetest/scenes/phrase-edit-tags-translations.spec.md
  scenetest/scenes/phrase-from-chat-request.spec.md
  scenetest/scenes/playlists-hin-kan.spec.md
  scenetest/scenes/playlists.spec.md
  scenetest/scenes/profile-edit.spec.md
  scenetest/scenes/requests.spec.md
  scenetest/scenes/review-answer-mode.spec.md
  scenetest/scenes/review-stats-consistency.spec.ts
  scenetest/scenes/reviews.spec.ts
  scenetest/scenes/set-membership-invariants.spec.ts
  supabase/seed-team2.sql
Due: prettier --write, oxlint --fix, eslint --fix, tsc --noEmit

Add dump-new-seeds script and rearrange
  README.md
  package.json
  scripts/README.md
  scripts/dump-new-seeds.ts
  supabase/seed-meta.sql
  supabase/seed-team1.sql
  supabase/seed.sql
Due: prettier --write, oxlint --fix, eslint --fix, tsc --noEmit

Loosen SQL prettier expressionWidth from 64 to 120
  prettier.config.mjs
Due: none

Make the seeds and script idempotent
  CLAUDE.md
  package.json
  scripts/dump-new-seeds.ts
  supabase/.gitignore
  supabase/config.toml
  supabase/seed-team1.sql
  supabase/seed-team2.sql
  supabase/seed-v018-extras.sql
  supabase/seed-z-comments.sql
  supabase/seed-z-playlists.sql
  supabase/seeds/seed-0-auth.sql
  supabase/seeds/seed-1-team-none.sql
  supabase/seeds/seed-1-team1.sql
  supabase/seeds/seed-1-team2.sql
  supabase/seeds/seed-2-team-none.sql
  supabase/seeds/seed-2-team1.sql
  supabase/seeds/seed-2-team2.sql
  supabase/seeds/seed-meta.sql
  supabase/seeds/seed-zzz.sql
  supabase/seeds/seed.sql
Due: prettier --write, oxlint --fix, eslint --fix, tsc --noEmit

Use pnpm exec instead of pnpx in pre-commit hook
  .husky/pre-commit
Due: none

Wire smart search into the send-to-friend recommend dialog
  src/routes/_user/friends/chats.$friendUid.recommend.tsx
Due: prettier --write, oxlint --fix, eslint --fix, tsc --noEmit

Database: auto-sync the search corpus on every source-table write
  scripts/README.md
  scripts/backfill-search-corpus.ts
  src/hooks/use-trigram-search.ts
  src/types/supabase.ts
  supabase/config.toml
  supabase/migrations/20260507130000_search_corpus_auto_sync.sql
  supabase/schemas/base.sql
Due: prettier --write, oxlint --fix, eslint --fix, tsc --noEmit

Edge functions: embed-corpus-row + Cloudflare-aware /search fallback
  deno.json
  supabase/functions/deno.json
  supabase/functions/embed-corpus-row/index.ts
  supabase/functions/search/index.ts
Due: prettier --write, oxlint --fix, eslint --fix, tsc --noEmit

Seed corpus + dump-new-seeds --corpus-only + architecture docs
  README.md
  package.json
  scripts/dump-new-seeds.ts
  supabase/seeds/seed-corpus.sql
  supabase/seeds/seed-zzz.sql
Due: prettier --write, oxlint --fix, eslint --fix, tsc --noEmit

Cut v0.25: auto-sync search corpus, send-to-friend, concurrent-team tests
  CHANGELOG.md
  package.json
Due: prettier --write, oxlint --fix

Convert flaky logged-out Playwright tests to scenetest specs
  e2e/navigations/logged-out.spec.ts
  scenetest/scenes/auth.spec.md
Due: prettier --write, oxlint --fix, eslint --fix, tsc --noEmit

Replace auth-state-transitions Playwright spec with scenetest scenes
  e2e/race-conditions/auth-state-transitions.spec.ts
  scenetest/TEST_IDS.md
  scenetest/scenes/auth.spec.md
Due: prettier --write, oxlint --fix, eslint --fix, tsc --noEmit

Update seeds for second team-iness
  supabase/seed-team1.sql
  supabase/seed-team2.sql
  supabase/seed-v018-extras.sql
  supabase/seed-z-comments.sql
  supabase/seed-z-playlists.sql
  supabase/seed.sql
Due: none

Add floating dev-only identity switcher
  src/components/dev-identity-switcher.tsx
  src/routes/__root.tsx
Due: prettier --write, oxlint --fix, eslint --fix, tsc --noEmit

Fix specs
  scenetest/scenes/comments-and-answers.spec.md
  scenetest/scenes/feed.spec.md
  scenetest/scenes/phrase-create.spec.md
  scenetest/scenes/phrase-from-chat-request.spec.md
Due: prettier --write, oxlint --fix

Fix one spec (reload macro does not exist)
  scenetest/scenes/auth.spec.md
Due: prettier --write, oxlint --fix

Extract SortIcon to module scope in admin tables
  src/routes/_user/admin/$lang.phrases.index.tsx
  src/routes/_user/admin/$lang.requests.index.tsx
Due: prettier --write, oxlint --fix, eslint --fix, tsc --noEmit

Fix dialog close trigger overflow on padding-overridden popups
  src/components/intro-sheet.tsx
  src/components/ui/dialog.tsx
Due: prettier --write, oxlint --fix, eslint --fix, tsc --noEmit

Remove dead code: 5 unused files and 15 unused type aliases
  src/components/display-phrase-query.tsx
  src/components/navs/types.ts
  src/components/phrase-accordion-item.tsx
  src/components/ui/multi-select.tsx
  src/components/ui/radio-group.tsx
  src/features/chat/index.ts
  src/features/chat/schemas.ts
  src/features/deck/hooks.ts
  src/features/deck/index.ts
  src/features/deck/schemas.ts
  src/features/languages/index.ts
  src/features/languages/schemas.ts
  src/features/phrases/index.ts
  src/features/phrases/schemas.ts
  src/features/playlists/index.ts
  src/features/playlists/schemas.ts
  src/features/profile/index.ts
  src/features/profile/schemas.ts
  src/features/requests/hooks.ts
  src/features/requests/index.ts
  src/lib/deck-themes.ts
  src/types/main.ts
Due: prettier --write, oxlint --fix, eslint --fix, tsc --noEmit

Drop redundant py-4 on intro-sheet scroll body
  src/components/intro-sheet.tsx
Due: prettier --write, oxlint --fix, eslint --fix, tsc --noEmit

Improve dialog layout and close button positioning (#614)
  src/components/intro-sheet.tsx
  src/components/ui/dialog.tsx
Due: prettier --write, oxlint --fix, eslint --fix, tsc --noEmit

Path conditions:
  prettier --write: any of: *.{js,jsx,ts,tsx,json,css,md}
  oxlint --fix: any of: *.{js,jsx,ts,tsx,json,css,md}
  eslint --fix: any of: *.{ts,tsx}
  tsc --noEmit: any of: *.{ts,tsx}
