Repository mhsnook/sunlo: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, oxlint --fix, eslint --fix, tsc --noEmit

Install improve-codebase-architecture skill from mattpocock/skills
  .claude/skills/domain-model/ADR-FORMAT.md
  .claude/skills/domain-model/CONTEXT-FORMAT.md
  .claude/skills/improve-codebase-architecture/INTERFACE-DESIGN.md
  .claude/skills/improve-codebase-architecture/LANGUAGE.md
  .claude/skills/improve-codebase-architecture/SKILL.md
  CLAUDE.md
Due: prettier --write, oxlint --fix

feat: add admin index page, routing, and appnav links
  src/components/auth-context.tsx
  src/components/cards/big-phrase-card.tsx
  src/hooks/links.ts
  src/lib/use-auth.ts
  src/routeTree.gen.ts
  src/routes/_user/admin.tsx
  src/routes/_user/admin/$lang.index.tsx
  src/routes/_user/admin/$lang.tsx
  src/routes/_user/admin/index.tsx
Due: prettier --write, oxlint --fix, eslint --fix, tsc --noEmit

feat: add admin_user table, is_admin(), and admin RLS policies
  package.json
  src/features/phrases/schemas.ts
  src/types/supabase.ts
  supabase/migrations/20260420120000_admin_phrase_archive.sql
  supabase/schemas/base.sql
Due: prettier --write, oxlint --fix, eslint --fix, tsc --noEmit

feat: add admin request management UI
  src/routes/_user/admin/$lang.requests.$id.tsx
  src/routes/_user/admin/$lang.requests.index.tsx
  src/routes/_user/admin/$lang.requests.tsx
Due: prettier --write, oxlint --fix, eslint --fix, tsc --noEmit

feat: add admin phrase management UI
  src/components/card-pieces/add-tags.tsx
  src/components/cards/admin-archive-phrase.tsx
  src/routes/_user/admin/$lang.phrases.$id.tsx
  src/routes/_user/admin/$lang.phrases.index.tsx
  src/routes/_user/admin/$lang.phrases.tsx
Due: prettier --write, oxlint --fix, eslint --fix, tsc --noEmit

fix: QA polish — non-admin guards, markdown prompts, scenetest fixes
  scenetest/TEST_IDS.md
  scenetest/scenes/admin-phrases.spec.md
Due: prettier --write, oxlint --fix

Release v0.23 — Admin Panel, Learn Page Redesign, Recognise & Recall
  CHANGELOG.md
  package.json
Due: prettier --write, oxlint --fix

fix: scenetest fixes — admin phrase table, timing, new-user cleanup
  scenetest/config.ts
  scenetest/scenes/auth.spec.md
  scenetest/scenes/comment-crud.spec.md
  scenetest/scenes/feed.spec.md
  scenetest/scenes/learn.spec.md
  src/routes/_user/admin/$lang.phrases.index.tsx
Due: prettier --write, oxlint --fix, eslint --fix, tsc --noEmit

Fix phrase meta lacking security_invoker rule
  package.json
  src/types/supabase.ts
  supabase/migrations/20260427120000_fix_phrase_meta_security_invoker.sql
  supabase/schemas/base.sql
Due: prettier --write, oxlint --fix, eslint --fix, tsc --noEmit

Fix leaked debug message on friend-request-response button (#262)
  src/components/profile-with-relationship.tsx
Due: prettier --write, oxlint --fix, eslint --fix, tsc --noEmit

Colocate ProfileWithRelationship with its only consumer
  src/components/friend-search-overlay.tsx
  src/components/profile-with-relationship.tsx
Due: prettier --write, oxlint --fix, eslint --fix, tsc --noEmit

Fix unique and unique-ify test selectors
  scenetest/TEST_IDS.md
  scenetest/scenes/admin-phrases.spec.md
  scenetest/scenes/comment-crud.spec.md
  scenetest/scenes/login-test.spec.md
  src/components/comments/comment-with-replies.tsx
Due: prettier --write, oxlint --fix, eslint --fix, tsc --noEmit

Upgrade scenetest
  .github/workflows/test.yaml
  package.json
  pnpm-lock.yaml
  scenetest/TEST_IDS.md
  scenetest/scenes/comment-crud.spec.md
  scenetest/scenes/feed.spec.md
  src/components/comments/comment-with-replies.tsx
  src/components/playlists/upvote-playlist-button.tsx
Due: prettier --write, oxlint --fix, eslint --fix, tsc --noEmit

Dissolve contributions feature module (#583)
  CLAUDE.md
  src/features/comments/hooks.ts
  src/features/comments/index.ts
  src/features/contributions/hooks.ts
  src/features/contributions/index.ts
  src/features/contributions/schemas.ts
  src/features/phrases/hooks.ts
  src/features/phrases/index.ts
  src/features/requests/hooks.ts
  src/features/requests/index.ts
  src/routes/_user/learn/$lang.contributions.tsx
  src/routes/_user/learn/-contributions.tsx
  src/routes/_user/learn/contributions.tsx
Due: prettier --write, oxlint --fix, eslint --fix, tsc --noEmit

Add comments-tab scene + annotate actors with seed data
  scenetest/TEST_IDS.md
  scenetest/actors/default.ts
  scenetest/scenes/comments-and-answers.spec.md
  src/routes/_user/learn/-contributions.tsx
Due: prettier --write, oxlint --fix, eslint --fix, tsc --noEmit

Bury siblings when a phrase has both forward and reverse cards eligible
  src/features/review/bury-siblings.test.ts
  src/features/review/bury-siblings.ts
  src/features/review/index.ts
  src/routes/_user/learn/$lang.review.index.tsx
Due: prettier --write, oxlint --fix, eslint --fix, tsc --noEmit

docs: add Cloudflare-Supabase dashboard integration to plan
  contexts/MIGRATION-PLAN.md
Due: prettier --write, oxlint --fix

Restore main-bundle code-splitting around contributions routes
  src/routes/_user/learn/$lang.contributions.tsx
  src/routes/_user/learn/-contributions-tabs.ts
  src/routes/_user/learn/-contributions.tsx
  src/routes/_user/learn/contributions.tsx
Due: prettier --write, oxlint --fix, eslint --fix, tsc --noEmit

Add bundle-size diff job to PR CI
  .github/workflows/test.yaml
Due: none

First-day exception: keep both siblings of a brand-new pair
  src/features/review/bury-siblings.test.ts
  src/features/review/bury-siblings.ts
Due: prettier --write, oxlint --fix, eslint --fix, tsc --noEmit

Disambiguate phrase-link badge in comment-crud scene
  scenetest/scenes/comment-crud.spec.md
  supabase/seed-comments.sql
Due: prettier --write, oxlint --fix

Hoist comment-crud seed dependencies into team tags
  scenetest/actors/default.ts
  scenetest/scenes/comment-crud.spec.md
  supabase/seed-comments.sql
Due: prettier --write, oxlint --fix, eslint --fix, tsc --noEmit

Add ownership-gating scene to comment-crud
  scenetest/scenes/comment-crud.spec.md
Due: prettier --write, oxlint --fix

Path conditions:
  prettier --write: any of: *.{js,jsx,ts,tsx,json,css,md}
  oxlint --fix: any of: *.{js,jsx,ts,tsx,json,css,md}
  eslint --fix: any of: *.{ts,tsx}
  tsc --noEmit: any of: *.{ts,tsx}
