Repository mhsnook/sunlo: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, oxlint --fix, eslint --fix, tsc --noEmit

.lintstagedrc.json:

{
	"*.{js,jsx,ts,tsx,json,css,md}": ["prettier --write", "oxlint --fix"],
	"*.{ts,tsx}": ["eslint --fix", "tsc --noEmit"]
}

Bump to v0.33 and write its changelog entry
  CHANGELOG.md
  package.json
Due: prettier --write, oxlint --fix

Drop the deprecated pgjwt extension
  CHANGELOG.md
  supabase/dev-native/extensions/README.md
  supabase/migrations/20260826120000_drop_pgjwt.sql
  supabase/schemas/base.sql
Due: prettier --write, oxlint --fix

Fix a duplicate migration timestamp
  supabase/migrations/20260826130000_enable_realtime_for_user_profile.sql
Due: none

Fold friend summaries from the action log, retiring the last refetch (#777)
  CLAUDE.md
  docs/mutations.md
  scenetest/TEST_IDS.md
  scenetest/scenes/social.spec.md
  src/components/profile-with-relationship.tsx
  src/components/share/friend-picker.tsx
  src/components/share/send-phrase.tsx
  src/components/share/send-playlist.tsx
  src/components/share/send-request.tsx
  src/features/feed/hooks.ts
  src/features/notifications/hooks.ts
  src/features/social/collections.ts
  src/features/social/friend-summary-fold.test.ts
  src/features/social/friend-summary-fold.ts
  src/features/social/hooks.ts
  src/features/social/index.ts
  src/features/social/live.ts
  src/features/social/public-profile.ts
  src/features/social/schemas.ts
  src/hooks/use-user-realtime.ts
  src/lib/auth-lifecycle.ts
  src/lib/collections/realtime-row.ts
  src/routes/_user/accept-invite.tsx
  src/routes/_user/friends.tsx
  src/routes/_user/friends/$uid.tsx
  src/routes/_user/friends/-relationship-actions.tsx
  src/routes/_user/friends/chats.$friendUid.recommend.tsx
Due: prettier --write, oxlint --fix, eslint --fix, tsc --noEmit

Step 3 of #757: the tail — write-backs, profile realtime, and one way into the synced layer (#780)
  docs/mutations.md
  scenetest/scenes/feed.spec.md
  src/components/comments/comment-dialog.tsx
  src/components/comments/upvote-comment-button.tsx
  src/components/playlists/upvote-playlist-button.tsx
  src/components/requests/request-form.tsx
  src/components/requests/upvote-request-button.tsx
  src/features/deck/collections.ts
  src/features/notifications/collections.ts
  src/features/notifications/hooks.ts
  src/features/playlists/collections.ts
  src/features/playlists/hooks.ts
  src/features/playlists/index.ts
  src/features/playlists/schemas.ts
  src/features/profile/collections.ts
  src/features/requests/collections.ts
  src/features/requests/hooks.ts
  src/features/requests/index.ts
  src/features/requests/schemas.ts
  src/features/review/collections.ts
  src/features/social/collections.ts
  src/features/social/hooks.ts
  src/hooks/use-user-realtime.ts
  src/lib/collections/realtime-row.ts
  src/lib/collections/safe-write.ts
  src/lib/collections/synced-row.test.ts
  src/lib/collections/synced-row.ts
  src/routes/_user/learn/$lang.playlists.new.tsx
  src/routes/_user/learn/$lang.review.index.tsx
  src/routes/_user/learn/$lang.tsx
  supabase/migrations/20260826120000_enable_realtime_for_user_profile.sql
  supabase/schemas/base.sql
Due: prettier --write, oxlint --fix, eslint --fix, tsc --noEmit

Stub pgsodium in db-native.sh so a native reset loads base.sql
  CHANGELOG.md
  scripts/db-native.sh
  supabase/dev-native/extensions/README.md
Due: prettier --write, oxlint --fix

Correct the embed-corpus-row comment in config.toml
  supabase/config.toml
Due: none

Write the server's rows back in 14 more handlers (#758)
  src/features/languages/collections.ts
  src/features/phrases/collections.ts
  src/features/playlists/collections.ts
  src/features/requests/collections.ts
Due: prettier --write, oxlint --fix, eslint --fix, tsc --noEmit

Drop the insert-time view merge and the narration comments
  src/features/languages/collections.ts
  src/features/phrases/collections.ts
  src/features/playlists/collections.ts
  src/features/requests/collections.ts
Due: prettier --write, oxlint --fix, eslint --fix, tsc --noEmit

Say what the write-back does instead of calling it a promise
  CLAUDE.md
  docs/mutations.md
Due: prettier --write, oxlint --fix

Point the doc examples at writeSyncedRow and drop the last four comments
  docs/mutations.md
  src/features/notifications/collections.ts
  src/features/social/collections.ts
Due: prettier --write, oxlint --fix, eslint --fix, tsc --noEmit

Put the flag in a parenthetical instead of a sentence about itself
  CLAUDE.md
  docs/mutations.md
Due: prettier --write, oxlint --fix

Rewrite the mutations doc around the patterns we actually use
  CLAUDE.md
  docs/mutations.md
Due: prettier --write, oxlint --fix

Write the server's rows back in 14 more handlers (#758) (#784)
  CLAUDE.md
  docs/mutations.md
  src/features/languages/collections.ts
  src/features/notifications/collections.ts
  src/features/phrases/collections.ts
  src/features/playlists/collections.ts
  src/features/requests/collections.ts
  src/features/social/collections.ts
Due: prettier --write, oxlint --fix, eslint --fix, tsc --noEmit

Batch the last four fan-out insert and delete handlers
  src/features/phrases/collections.ts
  src/features/requests/collections.ts
Due: prettier --write, oxlint --fix, eslint --fix, tsc --noEmit

Drop the unreachable hard-delete handler on phrase translations
  src/features/phrases/collections.ts
Due: prettier --write, oxlint --fix, eslint --fix, tsc --noEmit

Drop three comments that restate the house pattern
  src/features/phrases/collections.ts
  src/features/requests/collections.ts
Due: prettier --write, oxlint --fix, eslint --fix, tsc --noEmit

Batch the last fan-out handlers, and drop the unreachable translation delete (#785)
  src/features/phrases/collections.ts
  src/features/requests/collections.ts
Due: prettier --write, oxlint --fix, eslint --fix, tsc --noEmit

Soft-delete the last six hard deletes (#786)
  docs/mutations.md
  src/components/card-pieces/add-tags.tsx
  src/components/comments/comment-dialog.tsx
  src/components/comments/comment-with-replies.tsx
  src/components/comments/delete-comment-dialog.tsx
  src/components/playlists/manage-playlist-phrases-dialog.tsx
  src/features/phrases/collections.ts
  src/features/phrases/live.ts
  src/features/phrases/schemas.ts
  src/features/playlists/collections.ts
  src/features/playlists/hooks.ts
  src/features/playlists/schemas.ts
  src/features/requests/collections.ts
  src/features/requests/hooks.ts
  src/features/requests/index.ts
  src/features/requests/mutations.ts
  src/features/requests/schemas.ts
  src/routes/_user/-browse-discover.tsx
  src/routes/_user/admin/$lang.requests.$id.lazy.tsx
  src/routes/_user/admin/messages.$id.lazy.tsx
  src/routes/_user/admin/messages.index.lazy.tsx
  src/routes/_user/browse.index.tsx
  src/routes/_user/learn/$lang.requests.$id.tsx
  src/types/supabase.ts
  supabase/migrations/20260828120000_soft_delete_the_last_five.sql
  supabase/schemas/base.sql
Due: prettier --write, oxlint --fix, eslint --fix, tsc --noEmit

Tombstone removed comments; key the link tables on id
  docs/database.md
  docs/mutations.md
  src/components/card-pieces/add-tags.tsx
  src/components/comments/comment-with-replies.tsx
  src/components/comments/delete-comment-dialog.tsx
  src/features/phrases/collections.ts
  src/features/phrases/mutations.ts
  src/features/phrases/schemas.ts
  src/features/requests/collections.ts
  src/features/requests/mutations.ts
  src/features/requests/schemas.ts
  src/routes/_user/admin/$lang.requests.$id.lazy.tsx
  src/routes/_user/admin/messages.$id.lazy.tsx
  src/routes/_user/admin/messages.index.lazy.tsx
  src/routes/_user/learn/$lang.bulk-add.tsx
  src/routes/_user/learn/$lang.requests.$id.tsx
  src/routes/microcopy.lazy.tsx
  src/types/supabase.ts
  supabase/migrations/20260828120000_soft_delete_the_last_five.sql
  supabase/schemas/base.sql
Due: prettier --write, oxlint --fix, eslint --fix, tsc --noEmit

Apply /simplify: state the deleted filter once, in derived collections
  docs/mutations.md
  src/components/card-pieces/add-tags.tsx
  src/components/comments/comment-dialog.tsx
  src/components/comments/comment-with-replies.tsx
  src/components/comments/delete-comment-dialog.tsx
  src/features/languages/schemas.ts
  src/features/phrases/collections.ts
  src/features/phrases/live.ts
  src/features/phrases/mutations.ts
  src/features/phrases/schemas.ts
  src/features/playlists/collections.ts
  src/features/playlists/hooks.ts
  src/features/playlists/live.ts
  src/features/requests/collections.ts
  src/features/requests/hooks.ts
  src/features/requests/index.ts
  src/features/requests/live.ts
  src/features/requests/mutations.ts
  src/routes/_user/-browse-discover.tsx
  src/routes/_user/admin/$lang.requests.$id.lazy.tsx
  src/routes/_user/admin/messages.$id.lazy.tsx
  src/routes/_user/admin/messages.index.lazy.tsx
  src/routes/_user/browse.index.tsx
  src/routes/_user/learn/$lang.requests.$id.tsx
  supabase/migrations/20260828120000_soft_delete_the_last_five.sql
  supabase/schemas/base.sql
Due: prettier --write, oxlint --fix, eslint --fix, tsc --noEmit

Assert the soft-delete contract in the playlist removal scene
  scenetest/scenes/playlist-mutations.spec.ts
Due: prettier --write, oxlint --fix, eslint --fix, tsc --noEmit

Regenerate/update base.sql
  supabase/schemas/base.sql
Due: none

Stop filtering `deleted` in the collections' queryFn
  docs/database.md
  docs/mutations.md
  src/features/phrases/collections.ts
  src/features/playlists/collections.ts
  src/features/requests/collections.ts
Due: prettier --write, oxlint --fix, eslint --fix, tsc --noEmit

Fix stale docs and cut the arguing comments
  docs/database.md
  docs/mutations.md
  src/components/card-pieces/add-tags.tsx
  src/components/comments/delete-comment-dialog.tsx
  src/components/feed/feed-empty-state.tsx
  src/components/feed/feed-phrase-item.tsx
  src/components/fields/multi-select-creatable.tsx
  src/components/navs/one-sidebar-menu.tsx
  src/components/permalink-button.tsx
  src/components/review/not-enough-cards.tsx
  src/components/review/select-phrases-to-add-to-review.tsx
  src/components/select-one-language.tsx
  src/components/ui/chart.tsx
  src/components/with-phrase.tsx
  src/features/phrases/live.ts
  src/features/phrases/schemas.ts
  src/features/requests/collections.ts
  src/features/requests/mutations.ts
  src/hooks/composite-pids.ts
  src/routes/-homepage/social-learning-section.tsx
  src/routes/_user/learn/$lang.playlists.index.tsx
  src/routes/_user/learn/-recommended-phrases.tsx
  src/routes/_user/profile/-avatar-section.tsx
  src/routes/_user/profile/change-email-confirm.tsx
Due: prettier --write, oxlint --fix, eslint --fix, tsc --noEmit

Fail the build when a published table hides rows by a soft-delete flag
  src/lib/realtime-publication.test.ts
Due: prettier --write, oxlint --fix, eslint --fix, tsc --noEmit

Add per-entity realtime channels for request, playlist and phrase threads
  CLAUDE.md
  docs/mutations.md
  src/features/phrases/hooks.ts
  src/features/playlists/hooks.ts
  src/features/requests/hooks.ts
  src/features/requests/index.ts
  src/hooks/use-user-realtime.ts
  src/lib/collections/realtime.ts
  src/routes/_user/admin/$lang.requests.$id.lazy.tsx
  src/routes/_user/learn/$lang.phrases.$id.tsx
  src/routes/_user/learn/$lang.playlists.$playlistId.tsx
  src/routes/_user/learn/$lang.requests.$id.tsx
  supabase/migrations/20260831120000_enable_realtime_for_thread_tables.sql
  supabase/schemas/base.sql
Due: prettier --write, oxlint --fix, eslint --fix, tsc --noEmit

Publish only open-policy thread tables, and open the link policies to qualify
  docs/database.md
  docs/mutations.md
  package.json
  src/components/comments/comment-dialog.tsx
  src/features/phrases/hooks.ts
  src/features/playlists/hooks.ts
  src/features/requests/hooks.ts
  supabase/migrations/20260831120000_enable_realtime_for_thread_tables.sql
  supabase/schemas/base.sql
Due: prettier --write, oxlint --fix, eslint --fix, tsc --noEmit

Spike: build the chat surfaces on shadcn's Message and Bubble
  scenetest/TEST_IDS.md
  src/components/ui/bubble.tsx
  src/components/ui/compose-bar.tsx
  src/components/ui/message-scroller.tsx
  src/components/ui/message.tsx
  src/features/chat/components/chat-input.tsx
  src/features/chat/components/chat-message.tsx
  src/features/chat/components/chat-page.tsx
  src/routeTree.gen.ts
  src/routes/_user/friends/chats.$friendUid.tsx
  src/routes/themes.chat.lazy.tsx
Due: prettier --write, oxlint --fix, eslint --fix, tsc --noEmit

Per-entity realtime channels for request, playlist and phrase threads (#790)
  CLAUDE.md
  docs/database.md
  docs/mutations.md
  package.json
  src/components/comments/comment-dialog.tsx
  src/features/phrases/hooks.ts
  src/features/playlists/hooks.ts
  src/features/requests/hooks.ts
  src/features/requests/index.ts
  src/hooks/use-user-realtime.ts
  src/lib/collections/realtime.ts
  src/routes/_user/admin/$lang.requests.$id.lazy.tsx
  src/routes/_user/learn/$lang.phrases.$id.tsx
  src/routes/_user/learn/$lang.playlists.$playlistId.tsx
  src/routes/_user/learn/$lang.requests.$id.tsx
  supabase/migrations/20260831120000_enable_realtime_for_thread_tables.sql
  supabase/schemas/base.sql
Due: prettier --write, oxlint --fix, eslint --fix, tsc --noEmit

Cut the PR rationale from the MessageScroller comment
  src/components/ui/message-scroller.tsx
Due: prettier --write, oxlint --fix, eslint --fix, tsc --noEmit

Add format:changed, extracting CI's drift definition into a script
  .gitignore
  CLAUDE.md
  package.json
  scripts/format-changed.sh
  scripts/format-drift.sh
Due: prettier --write, oxlint --fix

Stop archived phrases and translations leaking into the reading surfaces
  docs/mutations.md
  src/components/card-pieces/add-translations.tsx
  src/components/cards/big-phrase-card.tsx
  src/features/phrases/hooks.ts
  src/features/phrases/index.ts
  src/features/phrases/live.ts
  supabase/migrations/20260901120000_admins_can_read_removed_requests.sql
  supabase/schemas/base.sql
Due: prettier --write, oxlint --fix, eslint --fix, tsc --noEmit

Name the collections in the phrases filtering docs
  docs/mutations.md
  src/components/card-pieces/add-translations.tsx
  src/features/phrases/hooks.ts
  src/features/phrases/live.ts
Due: prettier --write, oxlint --fix, eslint --fix, tsc --noEmit

Colocate the archived-translations query in the dialog that uses it
  docs/mutations.md
  src/components/card-pieces/add-translations.tsx
  src/features/phrases/hooks.ts
  src/features/phrases/index.ts
Due: prettier --write, oxlint --fix, eslint --fix, tsc --noEmit

Keep archived phrases and translations off the reading surfaces (#794)
  docs/mutations.md
  src/components/card-pieces/add-translations.tsx
  src/components/cards/big-phrase-card.tsx
  src/features/phrases/live.ts
  supabase/migrations/20260901120000_admins_can_read_removed_requests.sql
  supabase/schemas/base.sql
Due: prettier --write, oxlint --fix, eslint --fix, tsc --noEmit
