Repository mhsnook/sunlo: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, oxlint --fix, eslint --fix, tsc --noEmit

.lintstagedrc.json:

{
	"*.{js,jsx,ts,tsx,json,css,md}": ["prettier --write", "oxlint --fix"],
	"*.{ts,tsx}": ["eslint --fix", "tsc --noEmit"]
}

Cover the whole v0.31..v0.32 range in the changelog
  CHANGELOG.md
Due: prettier --write, oxlint --fix

Retarget at next-0.32: changelog entries and a stale doc line
  CHANGELOG.md
  docs/mutations.md
  src/hooks/use-user-realtime.ts
Due: prettier --write, oxlint --fix, eslint --fix, tsc --noEmit

Port the last 6 e2e specs to scenes and delete the Playwright suite
  .gitignore
  .oxlintrc.json
  CLAUDE.md
  docs/testing.md
  e2e/auth.setup.ts
  e2e/global-setup.ts
  e2e/helpers/auth-helpers.ts
  e2e/helpers/both-helpers.ts
  e2e/helpers/collection-helpers.ts
  e2e/helpers/db-helpers.ts
  e2e/helpers/goto-helpers.ts
  e2e/helpers/test-constants.ts
  e2e/mutations/onboarding.spec.ts
  e2e/mutations/playlists.spec.ts
  e2e/mutations/requests.spec.ts
  e2e/mutations/review-duplicate-cards.spec.ts
  e2e/mutations/review-navigation.spec.ts
  e2e/mutations/reviews.spec.ts
  package.json
  playwright.config.ts
  pnpm-lock.yaml
  scenetest/TEST_IDS.md
  scenetest/config.ts
  scenetest/scenes/cards.spec.ts
  scenetest/scenes/onboarding.spec.md
  scenetest/scenes/playlists.spec.md
  scenetest/scenes/requests.spec.md
  scenetest/scenes/review-duplicate-cards.spec.ts
  scenetest/scenes/review-navigation.spec.ts
  scenetest/scenes/reviews.spec.ts
  scenetest/scenes/social.spec.md
  scenetest/support/db.ts
  src/components/playlists/playlist-embed.tsx
  src/components/review/when-review-complete-screen.tsx
  src/main.tsx
  src/routes/_user/learn/$lang.review.go.tsx
  src/routes/_user/learn/$lang.review.index.tsx
  src/test-runtime-helpers.ts
Due: prettier --write, oxlint --fix, eslint --fix, tsc --noEmit

Drop the user_card_plus view
  CHANGELOG.md
  e2e/helpers/db-helpers.ts
  scripts/README.md
  scripts/dump-new-seeds.ts
  scripts/recompute-reviews.ts
  src/types/supabase.ts
  supabase/migrations/20260825140000_drop_user_card_plus.sql
  supabase/schemas/base.sql
Due: prettier --write, oxlint --fix, eslint --fix, tsc --noEmit

Bump to v0.32 and write its changelog entry
  CHANGELOG.md
  package.json
Due: prettier --write, oxlint --fix

Soft-delete upvotes so un-upvoting is an UPDATE, not a DELETE
  docs/database.md
  docs/mutations.md
  scenetest/scenes/comments-and-answers.spec.md
  src/features/playlists/collections.ts
  src/features/requests/collections.ts
  src/hooks/use-user-realtime.ts
  src/lib/collections/realtime-row.ts
  src/types/supabase.ts
  supabase/migrations/20260825120000_soft_delete_upvotes.sql
  supabase/schemas/base.sql
Due: prettier --write, oxlint --fix, eslint --fix, tsc --noEmit

Drop user_card_plus and make cardsCollection a pure table collection (#772)
  CHANGELOG.md
  CLAUDE.md
  docs/mutations.md
  scripts/README.md
  scripts/dump-new-seeds.ts
  scripts/recompute-reviews.ts
  src/components/card-pieces/card-status-dropdown.tsx
  src/components/playlists/playlist-list-item.tsx
  src/components/review/continue-review.tsx
  src/components/review/new-cards-preview.tsx
  src/components/review/review-single-card.tsx
  src/features/deck/card-scheduling.test.ts
  src/features/deck/card-scheduling.ts
  src/features/deck/collections.ts
  src/features/deck/hooks.ts
  src/features/deck/index.ts
  src/features/deck/is-due-card.ts
  src/features/deck/isDueCard.test.ts
  src/features/deck/live.ts
  src/features/deck/schemas.test.ts
  src/features/deck/schemas.ts
  src/features/phrases/mutations.ts
  src/features/review/fsrs.ts
  src/features/review/hooks.ts
  src/features/review/last-sighting.test.ts
  src/features/review/review-utils.ts
  src/features/review/store.ts
  src/hooks/use-user-realtime.ts
  src/routes/_user/learn/$lang.manage-deck.tsx
  src/routes/_user/learn/$lang.review.go.tsx
  src/routes/_user/learn/$lang.review.index.tsx
  src/routes/_user/learn/$lang.review.preview.tsx
  src/types/supabase.ts
  supabase/migrations/20260825140000_drop_user_card_plus.sql
  supabase/schemas/base.sql
Due: prettier --write, oxlint --fix, eslint --fix, tsc --noEmit

Stop the copy-link scene waiting for its toast to disappear
  scenetest/scenes/requests.spec.md
Due: prettier --write, oxlint --fix

ci: gate the formatter on touched files, not on new drift
  .github/workflows/test.yaml
Due: none

Fold friend summaries from the action log, retiring the last refetch
  CLAUDE.md
  docs/mutations.md
  scenetest/TEST_IDS.md
  scenetest/scenes/social.spec.md
  src/components/profile-with-relationship.tsx
  src/features/feed/hooks.ts
  src/features/social/collections.ts
  src/features/social/friend-summary-fold.test.ts
  src/features/social/friend-summary-fold.ts
  src/features/social/hooks.ts
  src/features/social/index.ts
  src/features/social/live.ts
  src/features/social/public-profile.ts
  src/features/social/schemas.ts
  src/lib/auth-lifecycle.ts
  src/routes/_user/accept-invite.tsx
  src/routes/_user/friends.tsx
  src/routes/_user/friends/$uid.tsx
  src/routes/_user/friends/-relationship-actions.tsx
Due: prettier --write, oxlint --fix, eslint --fix, tsc --noEmit

Apply the /simplify pass over the friend-summary fold
  CLAUDE.md
  src/components/profile-with-relationship.tsx
  src/features/social/collections.ts
  src/features/social/friend-summary-fold.test.ts
  src/features/social/friend-summary-fold.ts
  src/features/social/hooks.ts
  src/features/social/index.ts
  src/features/social/live.ts
  src/features/social/schemas.ts
Due: prettier --write, oxlint --fix, eslint --fix, tsc --noEmit

Upgrade scenetest and drop the toast and clipboard workarounds
  package.json
  pnpm-lock.yaml
  scenetest/config.ts
  scenetest/scenes/admin-mutations.spec.ts
  scenetest/scenes/requests.spec.md
Due: prettier --write, oxlint --fix, eslint --fix, tsc --noEmit

Reuse the sync-write helper for the friend-action write-back
  docs/mutations.md
  src/features/notifications/hooks.ts
  src/features/social/collections.ts
  src/features/social/hooks.ts
  src/hooks/use-user-realtime.ts
  src/lib/collections/realtime-row.ts
Due: prettier --write, oxlint --fix, eslint --fix, tsc --noEmit

Toast a friend-request accept once, not twice
  src/features/social/hooks.ts
Due: prettier --write, oxlint --fix, eslint --fix, tsc --noEmit

Drop the deprecated pgjwt extension
  CHANGELOG.md
  supabase/dev-native/extensions/README.md
  supabase/migrations/20260826120000_drop_pgjwt.sql
  supabase/schemas/base.sql
Due: prettier --write, oxlint --fix

Let the friend-request check settle into the new status
  src/components/profile-with-relationship.tsx
Due: prettier --write, oxlint --fix, eslint --fix, tsc --noEmit

Stub pgsodium in db-native.sh so a native reset loads base.sql
  CHANGELOG.md
  scripts/db-native.sh
  supabase/dev-native/extensions/README.md
Due: prettier --write, oxlint --fix

Correct the embed-corpus-row comment in config.toml
  supabase/config.toml
Due: none

Write chat messages through their collection, not around it
  src/components/share/friend-picker.tsx
  src/components/share/send-phrase.tsx
  src/components/share/send-playlist.tsx
  src/components/share/send-request.tsx
  src/features/social/collections.ts
  src/features/social/hooks.ts
  src/features/social/index.ts
  src/routes/_user/friends/chats.$friendUid.recommend.tsx
Due: prettier --write, oxlint --fix, eslint --fix, tsc --noEmit

Apply the /simplify pass over the chat-message write
  src/components/share/friend-picker.tsx
  src/components/share/send-phrase.tsx
  src/components/share/send-playlist.tsx
  src/components/share/send-request.tsx
  src/features/social/collections.ts
  src/features/social/hooks.ts
  src/features/social/index.ts
  src/routes/_user/friends/chats.$friendUid.recommend.tsx
Due: prettier --write, oxlint --fix, eslint --fix, tsc --noEmit

Fold friend summaries from the action log, retiring the last refetch (#777)
  CLAUDE.md
  docs/mutations.md
  scenetest/TEST_IDS.md
  scenetest/scenes/social.spec.md
  src/components/profile-with-relationship.tsx
  src/components/share/friend-picker.tsx
  src/components/share/send-phrase.tsx
  src/components/share/send-playlist.tsx
  src/components/share/send-request.tsx
  src/features/feed/hooks.ts
  src/features/notifications/hooks.ts
  src/features/social/collections.ts
  src/features/social/friend-summary-fold.test.ts
  src/features/social/friend-summary-fold.ts
  src/features/social/hooks.ts
  src/features/social/index.ts
  src/features/social/live.ts
  src/features/social/public-profile.ts
  src/features/social/schemas.ts
  src/hooks/use-user-realtime.ts
  src/lib/auth-lifecycle.ts
  src/lib/collections/realtime-row.ts
  src/routes/_user/accept-invite.tsx
  src/routes/_user/friends.tsx
  src/routes/_user/friends/$uid.tsx
  src/routes/_user/friends/-relationship-actions.tsx
  src/routes/_user/friends/chats.$friendUid.recommend.tsx
Due: prettier --write, oxlint --fix, eslint --fix, tsc --noEmit

Publish user_profile over realtime
  supabase/migrations/20260826120000_enable_realtime_for_user_profile.sql
  supabase/schemas/base.sql
Due: none

One way into a collection's synced layer
  docs/mutations.md
  src/features/deck/collections.ts
  src/features/notifications/collections.ts
  src/features/notifications/hooks.ts
  src/features/playlists/collections.ts
  src/features/requests/collections.ts
  src/features/social/collections.ts
  src/features/social/hooks.ts
  src/hooks/use-user-realtime.ts
  src/lib/collections/realtime-row.ts
  src/lib/collections/safe-write.ts
  src/lib/collections/synced-row.test.ts
  src/lib/collections/synced-row.ts
Due: prettier --write, oxlint --fix, eslint --fix, tsc --noEmit

Write the tail's acks back, and create the review session through its collection
  src/features/profile/collections.ts
  src/features/review/collections.ts
  src/routes/_user/learn/$lang.review.index.tsx
Due: prettier --write, oxlint --fix, eslint --fix, tsc --noEmit

Stop the upvote buttons preloading their own collection
  scenetest/scenes/feed.spec.md
  src/components/comments/upvote-comment-button.tsx
  src/components/playlists/upvote-playlist-button.tsx
  src/components/requests/upvote-request-button.tsx
  src/routes/_user/learn/$lang.tsx
Due: prettier --write, oxlint --fix, eslint --fix, tsc --noEmit

Un-upvote by flipping deleted, not by deleting from the collection
  docs/mutations.md
  src/components/comments/comment-dialog.tsx
  src/components/comments/upvote-comment-button.tsx
  src/components/playlists/upvote-playlist-button.tsx
  src/components/requests/request-form.tsx
  src/components/requests/upvote-request-button.tsx
  src/features/playlists/collections.ts
  src/features/playlists/hooks.ts
  src/features/playlists/index.ts
  src/features/playlists/schemas.ts
  src/features/requests/collections.ts
  src/features/requests/hooks.ts
  src/features/requests/index.ts
  src/features/requests/schemas.ts
  src/hooks/use-user-realtime.ts
  src/lib/collections/synced-row.test.ts
  src/lib/collections/synced-row.ts
  src/routes/_user/learn/$lang.playlists.new.tsx
Due: prettier --write, oxlint --fix, eslint --fix, tsc --noEmit

Step 3 of #757: the tail — write-backs, profile realtime, and one way into the synced layer (#780)
  docs/mutations.md
  scenetest/scenes/feed.spec.md
  src/components/comments/comment-dialog.tsx
  src/components/comments/upvote-comment-button.tsx
  src/components/playlists/upvote-playlist-button.tsx
  src/components/requests/request-form.tsx
  src/components/requests/upvote-request-button.tsx
  src/features/deck/collections.ts
  src/features/notifications/collections.ts
  src/features/notifications/hooks.ts
  src/features/playlists/collections.ts
  src/features/playlists/hooks.ts
  src/features/playlists/index.ts
  src/features/playlists/schemas.ts
  src/features/profile/collections.ts
  src/features/requests/collections.ts
  src/features/requests/hooks.ts
  src/features/requests/index.ts
  src/features/requests/schemas.ts
  src/features/review/collections.ts
  src/features/social/collections.ts
  src/features/social/hooks.ts
  src/hooks/use-user-realtime.ts
  src/lib/collections/realtime-row.ts
  src/lib/collections/safe-write.ts
  src/lib/collections/synced-row.test.ts
  src/lib/collections/synced-row.ts
  src/routes/_user/learn/$lang.playlists.new.tsx
  src/routes/_user/learn/$lang.review.index.tsx
  src/routes/_user/learn/$lang.tsx
  supabase/migrations/20260826120000_enable_realtime_for_user_profile.sql
  supabase/schemas/base.sql
Due: prettier --write, oxlint --fix, eslint --fix, tsc --noEmit

Fix a duplicate migration timestamp
  supabase/migrations/20260826130000_enable_realtime_for_user_profile.sql
Due: none
