Repository mhsnook/sunlo: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, oxlint --fix, eslint --fix, tsc --noEmit

Fix auth state bugs - clear React Query cache and check auth state
  contexts/2026-01-16-work-doc.md
  e2e/race-conditions/auth-state-transitions.spec.ts
  src/components/navs/nav-user.tsx
  src/lib/collections.ts
  src/routes/_user.tsx
  src/routes/index.tsx
Due: prettier --write, oxlint --fix, eslint --fix, tsc --noEmit

Move all FSRS calculations to the client
  src/hooks/use-deck.ts
  src/lib/schemas.ts
  src/types/supabase.ts
  supabase/migrations/20260116100000_remove_sql_retrievability.sql
  supabase/schemas/base.sql
Due: prettier --write, oxlint --fix, eslint --fix, tsc --noEmit

Add caching for Playwright browsers and Docker images
  .github/workflows/test.yaml
Due: none

Improve signup flow: auto-login if already registered, redirect if authenticated
  src/routes/_auth/signup.tsx
Due: prettier --write, oxlint --fix, eslint --fix, tsc --noEmit

Refactor review card for consistent phrase/translation styling
  src/components/review/review-single-card.tsx
  src/routes/_user/learn/$lang.add-phrase.tsx
Due: prettier --write, oxlint --fix, eslint --fix, tsc --noEmit

Feature: Edit and soft-delete your own translations
  src/components/card-pieces/add-translations.tsx
  src/lib/schemas.ts
  src/types/supabase.ts
  supabase/migrations/20260116130436_add_translation_edit_delete.sql
  supabase/schemas/base.sql
Due: prettier --write, oxlint --fix, eslint --fix, tsc --noEmit

Fix auth state transition bugs causing sign out and login issues
  .gitignore
  contexts/2026-01-16-work-doc.md
  e2e/race-conditions/auth-state-transitions.spec.ts
  readme/fsrs-v5-verification.md
  src/components/navs/nav-user.tsx
  src/routes/_user.tsx
  src/routes/_user/getting-started.tsx
Due: prettier --write, oxlint --fix, eslint --fix, tsc --noEmit

Add project doc for bidirectional cards feature
  contexts/2026-01-16-work-doc.md
  contexts/project-bidirectional-cards.md
Due: prettier --write, oxlint --fix

Add only_reverse field to phrase table for reverse reviews feature
  package.json
  src/components/phrases/inline-phrase-creator.tsx
  src/lib/schemas.ts
  src/routes/_user/learn/$lang.add-phrase.tsx
  src/routes/_user/learn/$lang.bulk-add.tsx
  src/types/supabase.ts
  supabase/migrations/20260116195845_add_phrase_no_reverse.sql
  supabase/schemas/base.sql
Due: prettier --write, oxlint --fix, eslint --fix, tsc --noEmit

Style the 'manage translations' dialog a bit more, allow un-archive
  src/components/card-pieces/add-translations.tsx
  src/components/cards/big-phrase-card.tsx
  src/components/confirm-destructive-action-dialog.tsx
  src/components/ui/authenticated-dialog.tsx
Due: prettier --write, oxlint --fix, eslint --fix, tsc --noEmit

Update work docs for v0.4.9 next deploy
  contexts/2026-01-17-work-doc.md
  contexts/completed-items.md
  package.json
Due: prettier --write, oxlint --fix

Make Friends and Popular feeds polymorphic with filter support
  contexts/2026-01-17-work-doc.md
  src/hooks/use-feed.ts
  src/routes/_user/learn/$lang.feed.tsx
Due: prettier --write, oxlint --fix, eslint --fix, tsc --noEmit

Add unified popularity column and fix Popular feed sorting
  e2e/mutations/feed.spec.ts
  src/components/feed/feed-item.tsx
  src/hooks/use-feed.ts
  src/lib/schemas.ts
  src/types/supabase.ts
  supabase/migrations/20260117120000_add_popularity_to_feed_view.sql
  supabase/schemas/base.sql
Due: prettier --write, oxlint --fix, eslint --fix, tsc --noEmit

Fix Popular feed to preserve popularity order
  contexts/2026-01-17-work-doc.md
  e2e/mutations/feed.spec.ts
  src/hooks/use-feed.ts
  src/hooks/use-requests.tsx
  src/routes/_user/learn/$lang.feed.tsx
  src/routes/_user/learn/$lang.requests.$id.tsx
Due: prettier --write, oxlint --fix, eslint --fix, tsc --noEmit

Fix TypeScript errors across codebase
  src/components/activity-chart.tsx
  src/components/card-pieces/add-tags.tsx
  src/components/feed/feed-filter-menu.tsx
  src/components/fields/languages-known-field.tsx
  src/components/fields/types.d.ts
  src/components/language-is-empty.tsx
  src/components/phrase-extra-info.tsx
  src/components/ui/badge-variants.tsx
  src/components/ui/button-variants.tsx
  src/components/ui/label.tsx
  src/components/ui/sheet.tsx
  src/hooks/composite-phrase.ts
  src/hooks/use-language.ts
  src/hooks/use-playlists.ts
  src/lib/schemas.ts
  src/routes/_user/learn/$lang.deck-settings.tsx
  src/routes/_user/learn/$lang.requests.new.tsx
  src/routes/_user/learn/$lang.review.index.tsx
  src/routes/_user/learn/-archive-deck-button.tsx
  src/routes/_user/learn/-contributions.tsx
  src/routes/_user/learn/contributions.tsx
  src/styles/globals.css
  tsconfig.app.json
Due: prettier --write, oxlint --fix, eslint --fix, tsc --noEmit

Add cover image option to playlists
  contexts/2026-01-17-work-doc.md
  src/components/fields/cover-image-field.tsx
  src/components/playlists/playlist-list-item.tsx
  src/components/playlists/update-playlist-dialog.tsx
  src/lib/hooks.ts
  src/lib/schemas-playlist.ts
  src/routes/_user/learn/$lang.playlists.new.tsx
  src/types/supabase.ts
  supabase/migrations/20260117130000_add_playlist_cover_image.sql
  supabase/schemas/base.sql
Due: prettier --write, oxlint --fix, eslint --fix, tsc --noEmit

Enhance review completion screen with stats and navigation links
  contexts/2026-01-17-work-doc.md
  src/components/review/when-review-complete-screen.tsx
Due: prettier --write, oxlint --fix, eslint --fix, tsc --noEmit

Make smaller 'Edit translations' and 'Add tags' buttons, tweak preview cards
  src/components/card-pieces/add-tags.tsx
  src/components/card-pieces/add-translations.tsx
  src/components/cards/big-phrase-card.tsx
  src/routes/_user/friends/-card-preview.tsx
  src/routes/_user/friends/chats.$friendUid.tsx
Due: prettier --write, oxlint --fix, eslint --fix, tsc --noEmit

Add BEFORE INSERT trigger to validate friend request actions
  contexts/2026-01-17-work-doc.md
  supabase/migrations/20260117140000_friend_request_validation_trigger.sql
  supabase/test-friend-request-trigger.sql
Due: prettier --write, oxlint --fix

Hide cover image field when URL is embeddable
  src/components/playlists/playlist-embed.tsx
  src/components/playlists/playlist-list-item.tsx
  src/components/playlists/update-playlist-dialog.tsx
  src/routes/_user/learn/$lang.playlists.new.tsx
Due: prettier --write, oxlint --fix, eslint --fix, tsc --noEmit

Standardize URL: /learn/$lang/add-phrase → /learn/$lang/phrases/new
  contexts/2026-01-17-work-doc.md
  e2e/mutations/phrases.spec.ts
  readme/api-test-data-pattern.md
  readme/testing-checklist.md
  src/components/language-is-empty.tsx
  src/components/navs/nav-main.tsx
  src/components/plus-menu.tsx
  src/components/review/not-enough-cards.tsx
  src/hooks/links.ts
  src/routeTree.gen.ts
  src/routes/_user/learn/$lang.phrases.new.tsx
  src/routes/_user/learn/$lang.search.tsx
  src/routes/_user/learn/$lang.stats.tsx
  src/routes/_user/learn/$lang.tsx
  src/routes/_user/learn/-contributions.tsx
Due: prettier --write, oxlint --fix, eslint --fix, tsc --noEmit

Fix crash when phrase has no translations in PhraseTinyCard
  src/components/cards/phrase-tiny-card.tsx
Due: prettier --write, oxlint --fix, eslint --fix, tsc --noEmit

Use correct values in tsconfig, like es2022
  tsconfig.app.json
  tsconfig.node.json
Due: prettier --write, oxlint --fix

Make smaller 'Edit translations' and 'Add tags' buttons, tweak preview cards
  src/routes/_user/friends/-card-preview.tsx
Due: prettier --write, oxlint --fix, eslint --fix, tsc --noEmit

Move buttonVariants back to button.tsx
  src/routes/_user/friends/-card-preview.tsx
Due: prettier --write, oxlint --fix, eslint --fix, tsc --noEmit

Add BEFORE INSERT trigger to validate friend request actions
  contexts/2026-01-17-work-doc.md
Due: prettier --write, oxlint --fix

Enhance review completion screen with stats and navigation links
  contexts/2026-01-17-work-doc.md
Due: prettier --write, oxlint --fix

Fix RLS INSERT policies to validate user ownership
  supabase/migrations/20260117150000_fix_rls_insert_policies.sql
Due: none

WIP stash
  src/components/cards/card-result-simple.tsx
  src/routes/_user/friends/-card-preview.tsx
Due: prettier --write, oxlint --fix, eslint --fix, tsc --noEmit

Fix user_client_event policy to prevent null uid spoofing
  supabase/migrations/20260117150000_fix_rls_insert_policies.sql
Due: none

Update schema/run linters etc
  supabase/migrations/20260117140000_friend_request_validation_trigger.sql
  supabase/migrations/20260117150000_fix_rls_insert_policies.sql
  supabase/schemas/base.sql
  supabase/tests/friend-request-trigger.psql
Due: none

Fix one tiny form bug tripping a test
  src/routes/_user/learn/$lang.phrases.new.tsx
Due: prettier --write, oxlint --fix, eslint --fix, tsc --noEmit

Path conditions:
  prettier --write: any of: *.{js,jsx,ts,tsx,json,css,md}
  oxlint --fix: any of: *.{js,jsx,ts,tsx,json,css,md}
  eslint --fix: any of: *.{ts,tsx}
  tsc --noEmit: any of: *.{ts,tsx}
