Repository mhsnook/sunlo: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, oxlint --fix, eslint --fix, tsc --noEmit

Prepare v0.18 release branch
  CHANGELOG.md
  package.json
Due: prettier --write, oxlint --fix

Remove MICROCOPY-INVENTORY.md (duplicated by microcopy route)
  MICROCOPY-INVENTORY.md
Due: prettier --write, oxlint --fix

Extract phrase_stats view from phrase_meta, decouple downstream views
  supabase/migrations/20260117160000_add_smart_search.sql
  supabase/migrations/20260317120000_extract_phrase_stats_view.sql
Due: none

Materialize meta_language view for better read performance
  supabase/migrations/20260317130000_materialize_meta_language.sql
Due: none

Fix count_learners RLS bug: phrase_stats queries user_card directly
  supabase/migrations/20260330100000_fix_count_learners_rls.sql
  supabase/schemas/base.sql
Due: none

Regenerate base.sql schema dump, remove stale is_nsfw columns
  src/components/feed/feed-phrase-group-item.tsx
  supabase/migrations/20260317120000_extract_phrase_stats_view.sql
  supabase/migrations/20260317130000_materialize_meta_language.sql
  supabase/migrations/20260330100000_fix_count_learners_rls.sql
  supabase/schemas/base.sql
Due: prettier --write, oxlint --fix, eslint --fix, tsc --noEmit

Clean up top-level config files
  .gitignore
  .husky/pre-commit
  .lintstagedrc.json
  GEMINI.md
  MICROCOPY-INVENTORY.md
  package.json
  pnpm-lock.yaml
  postcss.config.js
  public/app-icon.png
  vite.config.ts
  vitest.config.ts
Due: prettier --write, oxlint --fix, eslint --fix, tsc --noEmit

docs: add scenetest instructions to CLAUDE.md
  CLAUDE.md
Due: prettier --write, oxlint --fix

docs: prefer scenetest over playwright, explain fallback options
  CLAUDE.md
Due: prettier --write, oxlint --fix

Clean up top-level config files
  .gitignore
  .husky/pre-commit
  .lintstagedrc.json
  GEMINI.md
  package.json
  pnpm-lock.yaml
  postcss.config.js
  public/app-icon.png
  vite.config.ts
  vitest.config.ts
Due: prettier --write, oxlint --fix, eslint --fix, tsc --noEmit

Rename comment button to reply in comment actions row
  src/components/comments/comment-with-replies.tsx
Due: prettier --write, oxlint --fix, eslint --fix, tsc --noEmit

Auto-like on create, backfill existing content, add daily recount
  src/components/comments/add-comment-dialog.tsx
  src/components/requests/request-form.tsx
  src/routes/_user/learn/$lang.playlists.new.tsx
  supabase/migrations/20260330110000_auto_like_and_recount.sql
  supabase/schemas/base.sql
Due: prettier --write, oxlint --fix, eslint --fix, tsc --noEmit

Remove hardcoded tabIndex defaults from email/password fields
  src/components/fields/email-field.tsx
  src/components/fields/password-field.tsx
Due: prettier --write, oxlint --fix, eslint --fix, tsc --noEmit

Add review answer mode setting (2-button or 4-button)
  src/components/review/review-single-card.tsx
  src/features/deck/hooks.ts
  src/features/deck/index.ts
  src/features/deck/schemas.ts
  src/features/profile/index.ts
  src/features/profile/schemas.ts
  src/routes/_user/learn/$lang.deck-settings.tsx
  src/routes/_user/profile/-display-preferences.tsx
  src/types/supabase.ts
  supabase/migrations/20260329120000_add_review_answer_mode.sql
Due: prettier --write, oxlint --fix, eslint --fix, tsc --noEmit

Make Start Review button sticky at bottom of preview page
  src/components/review/new-cards-preview.tsx
Due: prettier --write, oxlint --fix, eslint --fix, tsc --noEmit

Add notification table, triggers, and feature module
  src/features/notifications/collections.ts
  src/features/notifications/hooks.ts
  src/features/notifications/index.ts
  src/features/notifications/schemas.ts
  src/types/supabase.ts
  supabase/migrations/20260331120000_add_notifications.sql
Due: prettier --write, oxlint --fix, eslint --fix, tsc --noEmit

Add notifications UI with bell icon, route, and nav integration
  src/components/navs/nav-main.tsx
  src/components/navs/navbar.tsx
  src/components/notifications/notification-bell.tsx
  src/components/notifications/notification-item.tsx
  src/components/notifications/notification-list.tsx
  src/hooks/links.ts
  src/lib/collections/clear-user.ts
  src/routeTree.gen.ts
  src/routes/_user.tsx
  src/routes/_user/notifications.tsx
Due: prettier --write, oxlint --fix, eslint --fix, tsc --noEmit

Adjust styles for replies, blue dot, clicking, avatar fallback
  src/components/card-pieces/user-permalink.tsx
  src/components/comments/comment-with-replies.tsx
  src/components/feed/feed-phrase-group-item.tsx
  src/components/notifications/notification-item.tsx
  src/components/phrases/inline-phrase-creator.tsx
  src/components/playlists/playlist-list-item.tsx
  src/components/playlists/update-playlist-dialog.tsx
  src/routes/_user/learn/$lang.feed.tsx
  src/routes/_user/learn/$lang.playlists.$playlistId.tsx
  src/routes/_user/learn/-recommended-phrases.tsx
Due: prettier --write, oxlint --fix, eslint --fix, tsc --noEmit

Add v0.18 seed data for HIN/KAN playlists, comments, and reviews
  supabase/seed-v018-extras.sql
Due: none

Add vitest tests for notification, profile, and deck schemas
  src/features/deck/schemas.test.ts
  src/features/notifications/schemas.test.ts
  src/features/profile/schemas.test.ts
Due: prettier --write, oxlint --fix, eslint --fix, tsc --noEmit

Add scenetest specs and v0.18 testing plan
  readme/31-03-2026-v0.18-testing-plan.md
  scenetest/TEST_IDS.md
  scenetest/scenes/comments-and-answers.spec.md
  scenetest/scenes/display-preferences.spec.md
  scenetest/scenes/notifications.spec.md
  scenetest/scenes/playlists-hin-kan.spec.md
  scenetest/scenes/review-answer-mode.spec.md
Due: prettier --write, oxlint --fix

feat: add admin phrase archive functionality
  src/components/auth-context.tsx
  src/components/cards/admin-archive-phrase.tsx
  src/components/cards/big-phrase-card.tsx
  src/features/phrases/schemas.ts
  src/lib/use-auth.ts
  supabase/migrations/20260331130000_admin_phrase_archive.sql
Due: prettier --write, oxlint --fix, eslint --fix, tsc --noEmit

Add data-testid attributes, fix scenetest specs, upgrade scenetest to 0.3.0
  package.json
  pnpm-lock.yaml
  scenetest/SETUP_DIRECTIVE.md
  scenetest/TEST_IDS.md
  scenetest/config.ts
  scenetest/scenes/comments-and-answers.spec.md
  scenetest/scenes/comments-and-answers.spec.skip.md
  scenetest/scenes/display-preferences.spec.md
  scenetest/scenes/notifications.spec.md
  scenetest/scenes/playlists-hin-kan.spec.md
  scenetest/scenes/playlists-hin-kan.spec.skip.md
  scenetest/scenes/review-answer-mode.spec.md
  scenetest/scenes/review-answer-mode.spec.skip.md
  src/components/comments/add-comment-dialog.tsx
  src/components/comments/comment-with-replies.tsx
  src/components/comments/select-phrases-for-comment.tsx
  src/components/comments/upvote-comment-button.tsx
  src/components/fields/fancy-select-field.tsx
  src/components/intros/review-intro.tsx
  src/components/notifications/notification-bell.tsx
  src/components/notifications/notification-list.tsx
  src/components/playlists/playlist-list-item.tsx
  src/components/requests/request-list-item.tsx
  src/routes/_user/learn/$lang.deck-settings.tsx
  src/routes/_user/learn/$lang.playlists.index.tsx
  src/routes/_user/learn/$lang.playlists.new.tsx
  src/routes/_user/notifications.tsx
  src/routes/_user/profile/-display-preferences.tsx
Due: prettier --write, oxlint --fix, eslint --fix, tsc --noEmit

Make sticky review button span full width with inner padding
  src/components/review/new-cards-preview.tsx
Due: prettier --write, oxlint --fix, eslint --fix, tsc --noEmit

Fix seed data: add missing user_cards for Hindi review history
  src/features/notifications/schemas.test.ts
  supabase/seed-v018-extras.sql
Due: prettier --write, oxlint --fix, eslint --fix, tsc --noEmit

Update changelog
  CHANGELOG.md
Due: prettier --write, oxlint --fix

fix: match navbar icon spacing to app-nav (gap-2)
  src/components/navs/navbar.tsx
Due: prettier --write, oxlint --fix, eslint --fix, tsc --noEmit

Restore font selector: side-by-side layout with per-font preview
  src/routes/_user/profile/-display-preferences.tsx
  src/styles/globals.css
Due: prettier --write, oxlint --fix, eslint --fix, tsc --noEmit

Add book icons to font preference selector buttons
  src/routes/_user/profile/-display-preferences.tsx
Due: prettier --write, oxlint --fix, eslint --fix, tsc --noEmit

Path conditions:
  prettier --write: any of: *.{js,jsx,ts,tsx,json,css,md}
  oxlint --fix: any of: *.{js,jsx,ts,tsx,json,css,md}
  eslint --fix: any of: *.{ts,tsx}
  tsc --noEmit: any of: *.{ts,tsx}
