Repository mhsnook/sunlo: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, oxlint --fix, eslint --fix, tsc --noEmit

Add `stage` to user_card_review, go append-only, retire day_first_review
  readme/fsrs-how-it-works.md
  readme/review-interface-flow-logic.md
  readme/testing-checklist.md
  scripts/reclassify-phase1-duplicates.ts
  scripts/recompute-reviews.ts
  src/features/review/bury-siblings.test.ts
  src/features/review/bury-siblings.ts
  src/features/review/find-chain-predecessor.test.ts
  src/features/review/fsrs.parity.test.ts
  src/features/review/hooks.ts
  src/features/review/review-map.test.ts
  src/features/review/review-utils.ts
  src/features/review/schemas.ts
  src/features/review/store.test.ts
  src/lib/fsrs.test.ts
  src/types/supabase.ts
  supabase/migrations/20260715120000_add_stage_to_user_card_review.sql
  supabase/schemas/base.sql
  supabase/seeds/seed-2-team1.sql
Due: prettier --write, oxlint --fix, eslint --fix, tsc --noEmit

Add plans from /improve skill
  plans/001-social-profile-scene-specs.md
  plans/002-friend-request-rpc.md
  plans/003-migrate-deprecated-mutations.md
  plans/004-admin-route-guard.md
  plans/005-upvote-action-factory.md
  plans/006-secret-scanning-precommit.md
  plans/007-split-review-setup-route.md
  plans/README.md
Due: prettier --write, oxlint --fix

Add user-specific tables to supabase_realtime publication (#723)
  supabase/migrations/20260715130000_enable_realtime_for_user_tables.sql
Due: none

Add useUserRealtime hook with upvote bindings (#723)
  src/hooks/use-user-realtime.ts
  src/routes/_user.tsx
Due: prettier --write, oxlint --fix, eslint --fix, tsc --noEmit

Sync user_card_review into cardReviewsCollection via realtime (#723)
  src/hooks/use-user-realtime.ts
Due: prettier --write, oxlint --fix, eslint --fix, tsc --noEmit

Split review-session progress into append-only review_milestone log (#723)
  src/features/review/collections.ts
  src/features/review/hooks.ts
  src/features/review/index.ts
  src/features/review/schemas.ts
  src/hooks/use-user-realtime.ts
  src/routes/_user/learn/$lang.review.go.tsx
  src/routes/_user/learn/$lang.review.index.tsx
  src/routes/_user/learn/$lang.review.preview.tsx
  src/routes/_user/learn/$lang.tsx
  src/types/supabase.ts
  supabase/migrations/20260715140000_split_review_state_into_milestones.sql
  supabase/schemas/base.sql
Due: prettier --write, oxlint --fix, eslint --fix, tsc --noEmit

Rename to user_review_session + user_review_milestone (#723)
  src/features/deck/hooks.ts
  src/features/review/collections.ts
  src/features/review/hooks.ts
  src/features/review/index.ts
  src/features/review/manifest.ts
  src/features/review/schemas.ts
  src/hooks/use-user-realtime.ts
  src/routes/_user/learn/$lang.review.go.tsx
  src/routes/_user/learn/$lang.review.index.tsx
  src/routes/_user/learn/$lang.review.preview.tsx
  src/routes/_user/learn/$lang.tsx
  src/routes/_user/learn/-deck-ranking.tsx
  src/test-runtime-helpers.ts
  src/types/supabase.ts
  supabase/migrations/20260715140000_split_review_state_into_milestones.sql
  supabase/schemas/base.sql
  supabase/seeds/seed-2-team1.sql
Due: prettier --write, oxlint --fix, eslint --fix, tsc --noEmit

Update stale base.sql and supabase types
  package.json
  src/types/supabase.ts
  supabase/schemas/base.sql
Due: prettier --write, oxlint --fix, eslint --fix, tsc --noEmit

Trim use-user-realtime comments to one-liners (#723)
  src/hooks/use-user-realtime.ts
Due: prettier --write, oxlint --fix, eslint --fix, tsc --noEmit

Reviews as collection actions (#723)
  src/features/review/collections.ts
  src/features/review/hooks.ts
Due: prettier --write, oxlint --fix, eslint --fix, tsc --noEmit

Upvotes as plain collection actions; drop set_*_upvote RPCs (#723)
  src/components/comments/upvote-comment-button.tsx
  src/components/playlists/upvote-playlist-button.tsx
  src/components/requests/upvote-request-button.tsx
  src/features/playlists/collections.ts
  src/features/requests/collections.ts
  supabase/migrations/20260715150000_drop_upvote_rpcs.sql
Due: prettier --write, oxlint --fix, eslint --fix, tsc --noEmit

Fix seed for the review-session split (#723)
  supabase/seeds/seed-2-team1.sql
Due: none

Fix review scene cleanups to target user_review_session
  scenetest/scenes/bidirectional-review.spec.md
  scenetest/scenes/learn.spec.md
  scenetest/scenes/review-answer-mode.spec.md
  scenetest/scenes/review-stats-consistency.spec.ts
  scenetest/scenes/reviews.spec.ts
  scenetest/scenes/set-membership-invariants.spec.ts
Due: prettier --write, oxlint --fix, eslint --fix, tsc --noEmit

Ignore generated src/types/supabase.ts in eslint
  eslint.config.js
Due: prettier --write, oxlint --fix

Release v0.30.0
  CHANGELOG.md
  package.json
Due: prettier --write, oxlint --fix

Add native-Postgres DB workflow for Docker-less web sessions
  scripts/db-native.sh
  supabase/.gitignore
  supabase/dev-native/bootstrap.sql
  supabase/dev-native/extensions/README.md
Due: prettier --write, oxlint --fix

Silence no-underscore-dangle on test-runtime window globals
  src/test-runtime-helpers.ts
Due: prettier --write, oxlint --fix, eslint --fix, tsc --noEmit

Batch the insert/delete persistence handlers (#723)
  src/features/playlists/collections.ts
  src/features/requests/collections.ts
  src/features/review/collections.ts
Due: prettier --write, oxlint --fix, eslint --fix, tsc --noEmit

Milestones as collection actions; stage updates fire-and-forget (#723)
  src/components/review/when-review-complete-screen.tsx
  src/features/review/collections.ts
  src/features/review/hooks.ts
  src/routes/_user/learn/$lang.review.index.tsx
Due: prettier --write, oxlint --fix, eslint --fix, tsc --noEmit

Let the database own user_card_review.updated_at
  src/features/review/bury-siblings.test.ts
  src/features/review/collections.ts
  src/features/review/find-chain-predecessor.test.ts
  src/features/review/fsrs.parity.test.ts
  src/features/review/hooks.ts
  src/features/review/review-map.test.ts
  src/features/review/schemas.ts
  src/features/review/store.test.ts
  src/lib/fsrs.test.ts
  supabase/migrations/20260716120000_user_card_review_updated_at_trigger.sql
  supabase/schemas/base.sql
Due: prettier --write, oxlint --fix, eslint --fix, tsc --noEmit

test(e2e): retire window.__reviewDaysCollection exfiltration in review session test
  e2e/helpers/both-helpers.ts
  e2e/helpers/collection-helpers.ts
  e2e/mutations/reviews.spec.ts
Due: prettier --write, oxlint --fix, eslint --fix, tsc --noEmit

Extend user-table realtime to deck, card, and friend summaries (#723)
  src/features/review/hooks.ts
  src/features/social/hooks.ts
  src/hooks/use-user-realtime.ts
  src/routes/_user/learn/$lang.review.go.tsx
  src/routes/_user/learn/$lang.review.preview.tsx
Due: prettier --write, oxlint --fix, eslint --fix, tsc --noEmit

Add public-facing short IDs (public_id) for route-addressable entities
  src/components/cards/big-phrase-card.tsx
  src/components/cards/card-result-simple.tsx
  src/components/cards/phrase-tiny-card.tsx
  src/components/comments/comment-context-menu.tsx
  src/components/comments/comment-dialog.tsx
  src/components/comments/comment-with-replies.tsx
  src/components/phrases/inline-phrase-creator.tsx
  src/components/playlists/playlist-list-item.tsx
  src/components/requests/request-form.tsx
  src/components/requests/request-header.tsx
  src/components/review/review-single-card.tsx
  src/components/share/share-phrase-button.tsx
  src/components/share/share-playlist-button.tsx
  src/components/share/share-request-button.tsx
  src/features/phrases/collections.ts
  src/features/phrases/hooks.ts
  src/features/phrases/mutations.ts
  src/features/phrases/schemas.ts
  src/features/playlists/hooks.ts
  src/features/playlists/schemas.ts
  src/features/requests/hooks.ts
  src/features/requests/schemas.ts
  src/lib/public-id.ts
  src/routes/_user/browse.index.tsx
  src/routes/_user/friends/-playlist-preview.tsx
  src/routes/_user/friends/-request-preview.tsx
  src/routes/_user/learn/$lang.bulk-add.tsx
  src/routes/_user/learn/$lang.phrases.$id.tsx
  src/routes/_user/learn/$lang.phrases.new.tsx
  src/routes/_user/learn/$lang.playlists.index.tsx
  src/routes/_user/learn/$lang.playlists.new.tsx
  src/routes/_user/learn/$lang.requests.$id.tsx
  src/routes/_user/learn/-contributions.tsx
  src/routes/_user/welcome.tsx
  src/types/supabase.ts
  supabase/migrations/20260717120000_public_facing_ids.sql
  supabase/schemas/base.sql
Due: prettier --write, oxlint --fix, eslint --fix, tsc --noEmit

Document the native-Postgres DB workflow for Docker-less sessions
  CLAUDE.md
  docs/database.md
Due: prettier --write, oxlint --fix

Fetch tailwind-oklch over git+https so pnpm install works without Docker/codeload
  package.json
  pnpm-lock.yaml
Due: prettier --write, oxlint --fix

Revert tailwind-oklch to github: shorthand (fix CI install)
  package.json
  pnpm-lock.yaml
Due: prettier --write, oxlint --fix

Require a JWT on the search Edge Function (verify_jwt = true)
  supabase/config.toml
Due: none

Trim search verify_jwt comment to essentials
  supabase/config.toml
Due: none

Drop the verify_jwt comment
  supabase/config.toml
Due: none

Enable JWT verification for search function (#732)
  supabase/config.toml
Due: none

Move review-session persistence into the collections; slim the store to a cursor
  src/components/review/continue-review.tsx
  src/components/review/new-cards-preview.tsx
  src/components/review/when-review-complete-screen.tsx
  src/features/review/hooks.ts
  src/features/review/index.ts
  src/features/review/store.ts
  src/lib/collections/local-cache.ts
  src/routes/_user/learn/$lang.review.go.tsx
  src/routes/_user/learn/$lang.review.index.tsx
  src/routes/_user/learn/$lang.review.preview.tsx
Due: prettier --write, oxlint --fix, eslint --fix, tsc --noEmit

Derive review card position from stage on mount + stage change
  src/routes/_user/learn/$lang.review.go.tsx
Due: prettier --write, oxlint --fix, eslint --fix, tsc --noEmit

Browse: section "see more" + browse-by-topic rows for a real browsing feel
  scenetest/TEST_IDS.md
  scenetest/scenes/browse-language.spec.md
  src/features/requests/hooks.ts
  src/features/requests/index.ts
  src/routes/_user/-browse-discover.tsx
  src/routes/_user/browse.$lang.tsx
Due: prettier --write, oxlint --fix, eslint --fix, tsc --noEmit

Match /fsrs grade colors to review buttons; fix top-label overlap
  src/routes/fsrs.lazy.tsx
Due: prettier --write, oxlint --fix, eslint --fix, tsc --noEmit

Fix CardReviewType construction in /fsrs simulation
  src/routes/fsrs.lazy.tsx
Due: prettier --write, oxlint --fix, eslint --fix, tsc --noEmit

Path conditions:
  prettier --write: any of: *.{js,jsx,ts,tsx,json,css,md}
  oxlint --fix: any of: *.{js,jsx,ts,tsx,json,css,md}
  eslint --fix: any of: *.{ts,tsx}
  tsc --noEmit: any of: *.{ts,tsx}
