Repository mhsnook/sunlo: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, oxlint --fix, eslint --fix, tsc --noEmit

Update review logic to respect only_reverse flag
  src/components/review/review-single-card.tsx
  src/types/supabase.ts
  supabase/migrations/20260116200000_add_only_reverse_to_phrase_meta.sql
  supabase/schemas/base.sql
  supabase/seed.sql
Due: prettier --write, oxlint --fix, eslint --fix, tsc --noEmit

Refactor review card for consistent phrase/translation styling
  src/components/review/review-single-card.tsx
  src/routes/_user/learn/$lang.add-phrase.tsx
Due: prettier --write, oxlint --fix, eslint --fix, tsc --noEmit

Add "Reverse only" badge to phrase detail card
  src/components/cards/big-phrase-card.tsx
Due: prettier --write, oxlint --fix, eslint --fix, tsc --noEmit

Improve tests (maybe)
  e2e/helpers/db-helpers.ts
  e2e/login-flow.spec.ts
  e2e/navigations/deck-workflows.spec.ts
  src/components/navs/app-nav.tsx
  src/components/navs/navbar.tsx
Due: prettier --write, oxlint --fix, eslint --fix, tsc --noEmit

Begin work doc for next deploy
  contexts/2026-01-16-work-doc.md
  contexts/completed-items.md
Due: prettier --write, oxlint --fix

Initial refactor to FSRS in TS
  contexts/2026-01-16-work-doc.md
  e2e/mutations/reviews.spec.ts
  src/components/review/review-single-card.tsx
  src/hooks/use-reviews.ts
  src/lib/fsrs.ts
  src/types/supabase.ts
  supabase/migrations/20260116000000_client_side_fsrs.sql
  supabase/schemas/base.sql
Due: prettier --write, oxlint --fix, eslint --fix, tsc --noEmit

Make it all work / add intervals to answer buttons
  CLAUDE.md
  src/components/phrase-extra-info.tsx
  src/components/review/review-single-card.tsx
  src/hooks/use-reviews.ts
  src/lib/dayjs.ts
  src/lib/fsrs.ts
  src/lib/utils.ts
  src/types/supabase.ts
  supabase/migrations/20260116000000_client_side_fsrs.sql
  supabase/schemas/base.sql
Due: prettier --write, oxlint --fix, eslint --fix, tsc --noEmit

Tests: navigation-only so we can run quickly without db reset (#283)
  contexts/2026-01-16-work-doc.md
  contexts/completed-items.md
  e2e/helpers/auth-helpers.ts
  e2e/helpers/db-helpers.ts
  e2e/navigations/deck-workflows.spec.ts
  e2e/navigations/logged-in.spec.ts
  e2e/navigations/logged-out.spec.ts
  package.json
  supabase/seed.sql
Due: prettier --write, oxlint --fix, eslint --fix, tsc --noEmit

Add GitHub Actions workflow for running tests
  .github/workflows/test.yaml
  contexts/2026-01-16-work-doc.md
Due: prettier --write, oxlint --fix

Run only navigation tests in CI for speed
  .github/workflows/test.yaml
Due: none

Add caching for Playwright browsers and Docker images
  .github/workflows/test.yaml
Due: none

Improve [re]fetching user collections on auth state change
  CLAUDE.md
  contexts/2026-01-16-work-doc.md
  src/components/auth-context.tsx
  src/routes/_auth/signup.tsx
Due: prettier --write, oxlint --fix, eslint --fix, tsc --noEmit

Add only_reverse field to phrase table for reverse reviews feature
  package.json
  src/components/phrases/inline-phrase-creator.tsx
  src/lib/schemas.ts
  src/routes/_user/learn/$lang.add-phrase.tsx
  src/routes/_user/learn/$lang.bulk-add.tsx
  src/types/supabase.ts
  supabase/migrations/20260116195845_add_phrase_no_reverse.sql
  supabase/schemas/base.sql
Due: prettier --write, oxlint --fix, eslint --fix, tsc --noEmit

Style the 'manage translations' dialog a bit more, allow un-archive
  src/components/card-pieces/add-translations.tsx
  src/components/cards/big-phrase-card.tsx
  src/components/confirm-destructive-action-dialog.tsx
  src/components/ui/authenticated-dialog.tsx
Due: prettier --write, oxlint --fix, eslint --fix, tsc --noEmit

Improve signup flow: auto-login if already registered, redirect if authenticated
  src/routes/_auth/signup.tsx
Due: prettier --write, oxlint --fix, eslint --fix, tsc --noEmit

Improve the signup page's redirects for when logged in
  contexts/2026-01-16-work-doc.md
  contexts/completed-items.md
  src/routes/_auth/signup.tsx
Due: prettier --write, oxlint --fix, eslint --fix, tsc --noEmit

Fix sidebar not updating after inline login
  src/components/auth-context.tsx
Due: prettier --write, oxlint --fix, eslint --fix, tsc --noEmit

Feature: Edit and soft-delete your own translations
  src/components/card-pieces/add-translations.tsx
  src/lib/schemas.ts
  src/types/supabase.ts
  supabase/migrations/20260116130436_add_translation_edit_delete.sql
  supabase/schemas/base.sql
Due: prettier --write, oxlint --fix, eslint --fix, tsc --noEmit

Add project doc for bidirectional cards feature
  contexts/2026-01-16-work-doc.md
  contexts/project-bidirectional-cards.md
Due: prettier --write, oxlint --fix

Replace roundAndTrim with toFixed (standard js)
  src/components/phrase-extra-info.tsx
  src/lib/utils.ts
Due: prettier --write, oxlint --fix, eslint --fix, tsc --noEmit

Move all FSRS calculations to the client
  src/hooks/use-deck.ts
  src/lib/schemas.ts
  src/types/supabase.ts
  supabase/migrations/20260116100000_remove_sql_retrievability.sql
  supabase/schemas/base.sql
Due: prettier --write, oxlint --fix, eslint --fix, tsc --noEmit

Fix auth state transition bugs causing sign out and login issues
  .gitignore
  contexts/2026-01-16-work-doc.md
  e2e/race-conditions/auth-state-transitions.spec.ts
  readme/fsrs-v5-verification.md
  src/components/navs/nav-user.tsx
  src/routes/_user.tsx
  src/routes/_user/getting-started.tsx
Due: prettier --write, oxlint --fix, eslint --fix, tsc --noEmit

Fix auth state bugs - clear React Query cache and check auth state
  contexts/2026-01-16-work-doc.md
  e2e/race-conditions/auth-state-transitions.spec.ts
  src/components/navs/nav-user.tsx
  src/lib/collections.ts
  src/routes/_user.tsx
  src/routes/index.tsx
Due: prettier --write, oxlint --fix, eslint --fix, tsc --noEmit

Path conditions:
  prettier --write: any of: *.{js,jsx,ts,tsx,json,css,md}
  oxlint --fix: any of: *.{js,jsx,ts,tsx,json,css,md}
  eslint --fix: any of: *.{ts,tsx}
  tsc --noEmit: any of: *.{ts,tsx}
