Repository mhsnook/sunlo: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, oxlint --fix, eslint --fix, tsc --noEmit

.lintstagedrc.json:

{
	"*.{js,jsx,ts,tsx,json,css,md}": ["prettier --write", "oxlint --fix"],
	"*.{ts,tsx}": ["eslint --fix", "tsc --noEmit"]
}

Restore 'Translations & Tags Split' title on v0.28 changelog
  CHANGELOG.md
Due: prettier --write, oxlint --fix

Drop phrase-creation RPCs; drive everything from collection actions
  CHANGELOG.md
  src/components/card-pieces/add-tags.tsx
  src/components/card-pieces/add-translations.tsx
  src/components/phrases/inline-phrase-creator.tsx
  src/features/languages/collections.ts
  src/features/phrases/collections.ts
  src/features/phrases/mutations.ts
  src/routes/_user/admin/$lang.phrases.$id.lazy.tsx
  src/routes/_user/learn/$lang.bulk-add.tsx
  src/routes/_user/learn/$lang.phrases.new.tsx
  src/types/supabase.ts
  supabase/migrations/20260606120000_drop_phrase_creation_rpcs.sql
Due: prettier --write, oxlint --fix, eslint --fix, tsc --noEmit

Tighten v0.28 changelog entry
  CHANGELOG.md
Due: prettier --write, oxlint --fix

Sync confirmed rows at end of mutationFn so the optimistic state survives
  src/components/card-pieces/add-tags.tsx
  src/features/phrases/mutations.ts
Due: prettier --write, oxlint --fix, eslint --fix, tsc --noEmit

Release v0.28: version bump, changelog, scenetest 0.10.0
  CHANGELOG.md
  package.json
  pnpm-lock.yaml
Due: prettier --write, oxlint --fix

Migrate to scenetest 0.12 consolidated package layout
  package.json
  pnpm-lock.yaml
  src/components/review/review-single-card.tsx
  src/features/deck/collections.ts
  src/features/deck/hooks.ts
  src/features/deck/mutations.ts
  src/features/requests/collections.ts
  src/lib/auth-lifecycle.ts
  src/routes/_user/learn/$lang.bulk-add.tsx
  src/routes/_user/learn/$lang.review.go.tsx
  src/routes/_user/learn/-archive-deck-button.tsx
  src/types/scenetest.d.ts
Due: prettier --write, oxlint --fix, eslint --fix, tsc --noEmit

chore: bump scenetest packages to new consolidated structure
  package.json
  pnpm-lock.yaml
Due: prettier --write, oxlint --fix

Bump scenetest packages and remove stale README
  package.json
  pnpm-lock.yaml
  scenetest/README.md
Due: prettier --write, oxlint --fix

Remove obsolete box-run.sh and fix box-db.sh comment
  scenetest/box-db.sh
  scenetest/box-run.sh
Due: none

Add scenetest-cloud pipeline and per-run scripts
  scenetest/box-db.sh
  scenetest/box-run.sh
  scenetest/pipeline.json
Due: prettier --write, oxlint --fix

spike: notifications collection on @supabase-labs/tanstack-db
  package.json
  pnpm-lock.yaml
  src/components/notifications/notification-item.tsx
  src/features/notifications/collections.ts
  src/features/notifications/hooks.ts
  src/features/notifications/index.ts
  src/routes/_user.tsx
Due: prettier --write, oxlint --fix, eslint --fix, tsc --noEmit

spike: add hydratePhrasesForLang building block (not yet wired)
  src/features/phrases/hydrate.ts
Due: prettier --write, oxlint --fix, eslint --fix, tsc --noEmit

Add per-language Browse/Discover page at /browse/$lang
  scenetest/TEST_IDS.md
  scenetest/scenes/browse-language.spec.md
  src/hooks/links.ts
  src/routeTree.gen.ts
  src/routes/_user/-browse-discover.tsx
  src/routes/_user/browse.$lang.tsx
Due: prettier --write, oxlint --fix, eslint --fix, tsc --noEmit

Browse: point /browse language nav at /browse/$lang; add request-tag sets
  scenetest/TEST_IDS.md
  scenetest/scenes/auth.spec.md
  src/features/requests/hooks.ts
  src/features/requests/index.ts
  src/routes/_user/-browse-discover.tsx
  src/routes/_user/browse.$lang.tsx
  src/routes/_user/browse.index.tsx
Due: prettier --write, oxlint --fix, eslint --fix, tsc --noEmit

Add plans from /improve skill
  plans/001-social-profile-scene-specs.md
  plans/002-friend-request-rpc.md
  plans/003-migrate-deprecated-mutations.md
  plans/004-admin-route-guard.md
  plans/005-upvote-action-factory.md
  plans/006-secret-scanning-precommit.md
  plans/007-split-review-setup-route.md
  plans/README.md
Due: prettier --write, oxlint --fix

Streamline CLAUDE.md from 1004 to 128 lines
  CLAUDE.md
  docs/database.md
  docs/deployment.md
  docs/mutations.md
  docs/styling.md
  docs/testing.md
Due: prettier --write, oxlint --fix

Drop stale rules that no longer match the codebase
  CLAUDE.md
  docs/database.md
  docs/mutations.md
  docs/styling.md
Due: prettier --write, oxlint --fix

Add phased plan for Instagram-style chat upgrade
  docs/plans/chat.md
Due: prettier --write, oxlint --fix

Add language-partition sync proposal (dream-code-first design doc)
  docs/proposals/language-partition-sync.md
Due: prettier --write, oxlint --fix

Rework sync proposal v2: per-user projections over a corpus-shaped registry
  docs/proposals/language-partition-sync.md
  docs/proposals/projection-sync.md
Due: prettier --write, oxlint --fix

Amend sync proposal (v2.1): ack-first four-beat write loop
  docs/proposals/projection-sync.md
Due: prettier --write, oxlint --fix

Rewrite sync proposal v3: entity_lang on tables, tables multiplex themselves
  docs/proposals/projection-sync.md
Due: prettier --write, oxlint --fix

Rewrite sync proposal v4: the entity corpus is the read model
  docs/proposals/projection-sync.md
Due: prettier --write, oxlint --fix

Extend sync proposal to v5: per-user Durable Object concierge
  docs/proposals/projection-sync.md
Due: prettier --write, oxlint --fix

Recalibrate v5 runtime-cost flag: Cloudflare already in the stack
  docs/proposals/projection-sync.md
Due: prettier --write, oxlint --fix

Add rollout section: split by data class, rooms before concierge
  docs/proposals/projection-sync.md
Due: prettier --write, oxlint --fix

Add Convex migration plan with open keep-vs-lose decisions
  docs/convex-migration.md
Due: prettier --write, oxlint --fix

Record migration decisions; correct FSRS to client-side-only scheduling
  docs/convex-migration.md
Due: prettier --write, oxlint --fix

Drop per-entity pinning: realtime is a property of the route segment
  docs/proposals/projection-sync.md
Due: prettier --write, oxlint --fix

Add `stage` to user_card_review, go append-only, retire day_first_review
  readme/fsrs-how-it-works.md
  readme/review-interface-flow-logic.md
  readme/testing-checklist.md
  scripts/reclassify-phase1-duplicates.ts
  scripts/recompute-reviews.ts
  src/features/review/bury-siblings.test.ts
  src/features/review/bury-siblings.ts
  src/features/review/find-chain-predecessor.test.ts
  src/features/review/fsrs.parity.test.ts
  src/features/review/hooks.ts
  src/features/review/review-map.test.ts
  src/features/review/review-utils.ts
  src/features/review/schemas.ts
  src/features/review/store.test.ts
  src/lib/fsrs.test.ts
  src/types/supabase.ts
  supabase/migrations/20260715120000_add_stage_to_user_card_review.sql
  supabase/schemas/base.sql
  supabase/seeds/seed-2-team1.sql
Due: prettier --write, oxlint --fix, eslint --fix, tsc --noEmit

Add four-rings table accounting to sync proposal
  docs/proposals/projection-sync.md
Due: prettier --write, oxlint --fix

Release v0.29: bump version and changelog
  CHANGELOG.md
  package.json
Due: prettier --write, oxlint --fix
