Repository mhsnook/sunlo: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, oxlint --fix, eslint --fix, tsc --noEmit

.lintstagedrc.json:

{
	"*.{js,jsx,ts,tsx,json,css,md}": ["prettier --write", "oxlint --fix"],
	"*.{ts,tsx}": ["eslint --fix", "tsc --noEmit"]
}

Add localStorage sidecar cache for profile data on app bootstrap (#676)
  src/components/auth-context.tsx
  src/lib/collections/clear-user.ts
  src/lib/collections/local-cache.ts
  src/main.tsx
Due: prettier --write, oxlint --fix, eslint --fix, tsc --noEmit

Add component showcase to themes page with mock language (#667)
  src/routes/themes.index.lazy.tsx
Due: prettier --write, oxlint --fix, eslint --fix, tsc --noEmit

Remove the period
  src/routes/_user/friends/chats.$friendUid.tsx
Due: prettier --write, oxlint --fix, eslint --fix, tsc --noEmit

Streamline chat message metadata (#677)
  src/routes/_user/friends/chats.$friendUid.tsx
Due: prettier --write, oxlint --fix, eslint --fix, tsc --noEmit

Port bulk-add e2e spec to a scenetest Markdown scene
  scenetest/TEST_IDS.md
  scenetest/scenes/bulk-add.spec.md
  src/routes/_user/learn/$lang.bulk-add.tsx
Due: prettier --write, oxlint --fix, eslint --fix, tsc --noEmit

Remove e2e specs whose coverage is preserved by scenetest scenes
  e2e/example.spec.ts
  e2e/login-flow.spec.ts
  e2e/mutations/bulk-add.spec.ts
  e2e/mutations/cards.spec.ts
  e2e/mutations/decks.spec.ts
  e2e/mutations/feed.spec.ts
  e2e/mutations/phrases.spec.ts
  e2e/mutations/profile.spec.ts
  e2e/mutations/requests.spec.ts
  e2e/mutations/social.spec.ts
Due: prettier --write, oxlint --fix, eslint --fix, tsc --noEmit

Demonstrate typeInto-replace behaviour in bulk-add staging scene
  scenetest/scenes/bulk-add.spec.md
Due: prettier --write, oxlint --fix

Restore phrases and requests e2e specs — coverage gaps found
  e2e/mutations/phrases.spec.ts
  e2e/mutations/requests.spec.ts
Due: prettier --write, oxlint --fix, eslint --fix, tsc --noEmit

Restore cards and feed e2e specs — coverage not yet complete
  e2e/mutations/cards.spec.ts
  e2e/mutations/feed.spec.ts
Due: prettier --write, oxlint --fix, eslint --fix, tsc --noEmit

Add serverCheck inline checks to collection mutation handlers
  src/features/deck/collections.ts
  src/features/requests/collections.ts
Due: prettier --write, oxlint --fix, eslint --fix, tsc --noEmit

Set added_by on the phrase_translation insert in cards scene
  scenetest/scenes/cards.spec.ts
Due: prettier --write, oxlint --fix, eslint --fix, tsc --noEmit

Migrate cards.spec.ts to the scenetest test() surface
  e2e/mutations/cards.spec.ts
  scenetest/scenes/cards.spec.ts
Due: prettier --write, oxlint --fix, eslint --fix, tsc --noEmit

Create the cards-scene phrase before building the action chain
  scenetest/scenes/cards.spec.ts
Due: prettier --write, oxlint --fix, eslint --fix, tsc --noEmit

Add logout-clearing check and port social/profile specs as stubs
  scenetest/scenes/profile.spec.md
  scenetest/scenes/social.spec.md
  src/lib/collections/clear-user.ts
Due: prettier --write, oxlint --fix, eslint --fix, tsc --noEmit

Remove dead serverCheck from card-status-dropdown
  src/components/card-pieces/card-status-dropdown.tsx
Due: prettier --write, oxlint --fix, eslint --fix, tsc --noEmit

Replace serverCheck with .select()-and-should() in collection handlers
  src/features/deck/collections.ts
  src/features/requests/collections.ts
Due: prettier --write, oxlint --fix, eslint --fix, tsc --noEmit

Add should() checks to deck create and archive mutations
  src/features/deck/mutations.ts
  src/routes/_user/learn/-archive-deck-button.tsx
Due: prettier --write, oxlint --fix, eslint --fix, tsc --noEmit

Surface password-reset errors instead of a doomed form
  scenetest/TEST_IDS.md
  src/routes/_auth/set-new-password.tsx
Due: prettier --write, oxlint --fix, eslint --fix, tsc --noEmit

Correct the sunlo bundle baseline to a credentialed build
  .claude/skills/react-to-solid-feasibility/SKILL.md
  .claude/skills/react-to-solid-feasibility/examples/sunlo-report.md
Due: prettier --write, oxlint --fix

Show a friendly error when login credentials are wrong
  scenetest/TEST_IDS.md
  scenetest/scenes/auth.spec.md
  src/components/login-card-body.tsx
Due: prettier --write, oxlint --fix, eslint --fix, tsc --noEmit

Restore generated colours for avatar placeholders
  src/components/card-pieces/user-permalink.tsx
  src/components/navs/nav-user.tsx
  src/components/select-multiple-friends.tsx
  src/components/ui/avatar-icon.tsx
  src/components/ui/avatar.tsx
  src/lib/lang-theme.ts
  src/routes/_user/friends/-chats-sidebar.tsx
  src/routes/_user/friends/-friends-feed.tsx
  src/routes/_user/friends/chats.$friendUid.tsx
  src/routes/index.tsx
  src/routes/themes.index.lazy.tsx
Due: prettier --write, oxlint --fix, eslint --fix, tsc --noEmit

Add scenetest coverage for the password-reset flow
  scenetest/TEST_IDS.md
  scenetest/scenes/password-reset.spec.md
  scenetest/scenes/password-reset.spec.ts
Due: prettier --write, oxlint --fix, eslint --fix, tsc --noEmit

Auto-create user profiles via trigger; replace onboarding redirect with a nudge
  scenetest/TEST_IDS.md
  scenetest/scenes/auth.spec.md
  scenetest/scenes/duplicate-profile-race.spec.ts
  scenetest/scenes/duplicate-profile.spec.md
  scenetest/scenes/login-test.spec.md
  scenetest/scenes/onboarding.spec.md
  src/components/navs/app-sidebar.tsx
  src/components/navs/onboarding-nudge.tsx
  src/features/profile/collections.ts
  src/features/profile/schemas.ts
  src/routes/_user.tsx
  src/routes/_user/getting-started.tsx
  src/routes/_user/welcome.tsx
  src/routes/chats.tsx
  src/types/supabase.ts
  supabase/migrations/20260520120000_auto_create_user_profile.sql
  supabase/schemas/base.sql
  supabase/seeds/seed-1-team1.sql
  supabase/seeds/seed-1-team2.sql
  supabase/seeds/seed-zzz.sql
Due: prettier --write, oxlint --fix, eslint --fix, tsc --noEmit

Fix seeText from a previous copy change
  scenetest/scenes/feed.spec.md
Due: prettier --write, oxlint --fix

Release v0.26: version bump and changelog
  CHANGELOG.md
  package.json
Due: prettier --write, oxlint --fix

Document the .env build-environment gotcha in CLAUDE.md
  CLAUDE.md
Due: prettier --write, oxlint --fix

Slim the wrong-password error to a one-line shake alert
  scenetest/TEST_IDS.md
  scenetest/scenes/auth.spec.md
  src/components/login-card-body.tsx
  src/styles/globals.css
Due: prettier --write, oxlint --fix, eslint --fix, tsc --noEmit

Fold row-guard into should() so production stripping is clean
  src/features/deck/collections.ts
  src/features/requests/collections.ts
Due: prettier --write, oxlint --fix, eslint --fix, tsc --noEmit

Improve login error messaging for invalid credentials (#680)
  scenetest/TEST_IDS.md
  scenetest/scenes/auth.spec.md
  src/components/login-card-body.tsx
  src/styles/globals.css
Due: prettier --write, oxlint --fix, eslint --fix, tsc --noEmit

Add react-to-solid-feasibility skill (#682)
  .claude/skills/react-to-solid-feasibility/SKILL.md
  .claude/skills/react-to-solid-feasibility/examples/sunlo-report.md
  .claude/skills/react-to-solid-feasibility/reference/dependency-registry.md
  .claude/skills/react-to-solid-feasibility/reference/solid-2-semantic-map.md
  .claude/skills/react-to-solid-feasibility/reference/system-archetypes.md
  CLAUDE.md
Due: prettier --write, oxlint --fix

Drop the legacy Playwright nav-tests CI job
  .github/workflows/test.yaml
Due: none

Remove legacy Playwright npm scripts
  CLAUDE.md
  package.json
Due: prettier --write, oxlint --fix
