Repository mhsnook/sunlo: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, oxlint --fix, eslint --fix, tsc --noEmit

.lintstagedrc.json:

{
	"*.{js,jsx,ts,tsx,json,css,md}": ["prettier --write", "oxlint --fix"],
	"*.{ts,tsx}": ["eslint --fix", "tsc --noEmit"]
}

Remove class-variance-authority; no more colour-in-variant
  package.json
  pnpm-lock.yaml
  src/components/cards/big-phrase-card.tsx
  src/components/comments/comment-dialog.tsx
  src/components/errors.tsx
  src/components/fields/language-picker.tsx
  src/components/ui/badge.css
  src/components/ui/badge.tsx
  src/components/ui/button.css
  src/components/ui/callout.tsx
  src/components/ui/choice-tile.tsx
  src/components/ui/item.css
  src/components/ui/item.tsx
  src/components/ui/label.tsx
  src/components/ui/navigation-menu.tsx
  src/components/ui/sheet.css
  src/components/ui/sheet.tsx
  src/components/ui/sidebar.css
  src/components/ui/sidebar.tsx
  src/routes/__root.tsx
  src/routes/_auth/set-new-password.tsx
  src/routes/_user/admin/$lang.phrases.$id.lazy.tsx
  src/routes/_user/admin/$lang.phrases.lazy.tsx
  src/routes/_user/admin/$lang.requests.$id.lazy.tsx
  src/routes/_user/admin/$lang.requests.lazy.tsx
  src/routes/_user/admin/index.lazy.tsx
  src/routes/_user/admin/messages.$id.lazy.tsx
  src/routes/_user/admin/messages.lazy.tsx
  src/routes/_user/friends/-card-preview.tsx
  src/routes/_user/friends/-friends-feed.tsx
  src/routes/_user/friends/-playlist-preview.tsx
  src/routes/_user/friends/-request-preview.tsx
  src/routes/_user/learn/$lang.feed.tsx
  src/routes/_user/learn/-recommended-phrases.tsx
  src/routes/_user/learn/index.tsx
  src/routes/microcopy.lazy.tsx
  src/routes/themes.index.lazy.tsx
  src/styles/globals.css
Due: prettier --write, oxlint --fix, eslint --fix, tsc --noEmit

Remove the last derived tokens; add fill/stroke utilities
  src/components/activity-chart.tsx
  src/components/cards/big-phrase-card.tsx
  src/components/fields/language-picker.tsx
  src/components/fields/multi-select-creatable.tsx
  src/components/library-charts.tsx
  src/components/share/friend-picker.tsx
  src/components/ui/badge.tsx
  src/components/ui/button.tsx
  src/components/ui/callout.tsx
  src/components/ui/chart.tsx
  src/components/ui/checkbox.tsx
  src/components/ui/choice-tile.tsx
  src/components/ui/destructive-octagon-badge.tsx
  src/components/ui/dialog.tsx
  src/components/ui/input.tsx
  src/components/ui/item.tsx
  src/components/ui/select.tsx
  src/components/ui/sheet.tsx
  src/components/ui/sidebar.tsx
  src/components/ui/switch.tsx
  src/components/ui/tabs.tsx
  src/components/ui/textarea.tsx
  src/lib/chart-colors.ts
  src/routes/-homepage/hero-section.tsx
  src/routes/_user/admin/routes.lazy.tsx
  src/routes/fsrs.lazy.tsx
  src/routes/index.tsx
  src/routes/themes.index.lazy.tsx
  src/styles/globals.css
Due: prettier --write, oxlint --fix, eslint --fix, tsc --noEmit

Remove the sidebar, chart and border token layers
  src/components/activity-chart.tsx
  src/components/library-charts.tsx
  src/components/navs/deck-switcher.tsx
  src/components/navs/mode-toggle.tsx
  src/components/navs/right-sidebar.tsx
  src/components/ui/sidebar.tsx
  src/lib/chart-colors.ts
  src/routes/_user/admin/routes.lazy.tsx
  src/styles/globals.css
Due: prettier --write, oxlint --fix, eslint --fix, tsc --noEmit

Remove the last brand tokens; put the homepage hero on the system
  src/components/browse-search-overlay.tsx
  src/components/card-pieces/card-status-dropdown.tsx
  src/components/review/review-single-card.tsx
  src/components/share/friend-picker.tsx
  src/components/ui/card-like.tsx
  src/components/ui/navigation-menu.tsx
  src/routes/-homepage/hero-section.tsx
  src/routes/_user/friends/-card-preview.tsx
  src/routes/_user/friends/-playlist-preview.tsx
  src/routes/_user/friends/-request-preview.tsx
  src/routes/_user/learn/-archived-deck-tile.tsx
  src/routes/_user/learn/-deck-tile.tsx
  src/routes/_user/welcome.tsx
  src/routes/themes.index.lazy.tsx
  src/styles/globals.css
Due: prettier --write, oxlint --fix, eslint --fix, tsc --noEmit

Fix --con-off collision; make standard text the inherited default
  src/components/browse-search-overlay.tsx
  src/components/comments/comment-dialog.tsx
  src/components/comments/select-phrases-for-comment.tsx
  src/components/feed/feed-composer.tsx
  src/components/fields/translation-language-field.tsx
  src/components/form/fields/error-list.tsx
  src/components/login-card-body.tsx
  src/components/navs/app-nav.tsx
  src/components/navs/one-sidebar-menu.tsx
  src/components/ui/badge.tsx
  src/components/ui/button.tsx
  src/components/ui/checkbox.tsx
  src/components/ui/dropdown-menu.tsx
  src/components/ui/input.tsx
  src/components/ui/label.tsx
  src/components/ui/navigation-menu.tsx
  src/components/ui/popover.tsx
  src/components/ui/sonner.tsx
  src/components/ui/tabs.tsx
  src/components/ui/textarea.tsx
  src/components/ui/tooltip.tsx
  src/routes/_user/-search-page.tsx
  src/routes/_user/browse.$lang.tsx
  src/routes/_user/learn/$lang.bulk-add.tsx
  src/routes/_user/learn/-deck-tile.tsx
  src/routes/_user/profile/-avatar-editor-field.tsx
  src/routes/_user/profile/index.tsx
  src/routes/fsrs.lazy.tsx
  src/routes/microcopy.lazy.tsx
  src/routes/privacy-policy.lazy.tsx
  src/styles/globals.css
Due: prettier --write, oxlint --fix, eslint --fix, tsc --noEmit

Add a skill for oklch colour conversion
  .claude/skills/oklch-color-migration/SKILL.md
  CLAUDE.md
  src/routes/_user/friends/chats.index.tsx
  src/routes/_user/friends/invite.lazy.tsx
  src/styles/globals.css
Due: prettier --write, oxlint --fix, eslint --fix, tsc --noEmit

Move focus rings into one global rule
  docs/styling.md
  src/components/fields/language-picker.tsx
  src/components/fields/multi-select-creatable.tsx
  src/components/share/friend-picker.tsx
  src/components/ui/badge.css
  src/components/ui/button.css
  src/components/ui/checkbox.tsx
  src/components/ui/choice-tile.tsx
  src/components/ui/dialog.tsx
  src/components/ui/input.tsx
  src/components/ui/item.css
  src/components/ui/select.tsx
  src/components/ui/sheet.tsx
  src/components/ui/sidebar.css
  src/components/ui/sidebar.tsx
  src/components/ui/switch.tsx
  src/components/ui/tabs.tsx
  src/components/ui/textarea.tsx
  src/routes/index.tsx
  src/styles/globals.css
Due: prettier --write, oxlint --fix, eslint --fix, tsc --noEmit

Add ASD-STE100 Simplified Technical English skill
  .claude/skills/asd-ste100/LICENSE
  .claude/skills/asd-ste100/SKILL.md
  .claude/skills/asd-ste100/examples/before-after.md
  .claude/skills/asd-ste100/references/writing-rules.md
Due: prettier --write, oxlint --fix

Add "Clear Technical" output style
  .claude/output-styles/clear-technical.md
Due: prettier --write, oxlint --fix

ci: track formatter drift as a shrinking-debt metric
  .github/workflows/test.yaml
Due: none

ci: merge typecheck, lint & format-drift into one pr-checks job
  .github/workflows/test.yaml
Due: none

ci(pr-checks): share the diff engine, parallelize, retire old comments
  .github/workflows/test.yaml
Due: none

ci(pr-checks): break formatter drift down by file extension
  .github/workflows/test.yaml
Due: none

Retarget prose skill and style at human readers, and activate it
  .claude/output-styles/clear-technical.md
  .claude/settings.json
  .claude/skills/asd-ste100/SKILL.md
  .claude/skills/asd-ste100/examples/before-after.md
  .claude/skills/prose-clarity/LICENSE
  .claude/skills/prose-clarity/SKILL.md
  .claude/skills/prose-clarity/examples/before-after.md
  .claude/skills/prose-clarity/references/writing-rules.md
Due: prettier --write, oxlint --fix

Add a GitHub issue row to the channel tables
  .claude/output-styles/clear-technical.md
  .claude/skills/prose-clarity/SKILL.md
Due: prettier --write, oxlint --fix

Restore two STE rules, inline the examples, flatten the structure
  .claude/output-styles/clear-technical.md
  .lintstagedrc.js
  .prettierignore
Due: prettier --write, oxlint --fix

Retarget prose skill and style at human readers, and activate it (#753)
  .claude/output-styles/clear-technical.md
  .claude/settings.json
  .claude/skills/asd-ste100/SKILL.md
  .claude/skills/asd-ste100/examples/before-after.md
  .claude/skills/prose-clarity/LICENSE
  .claude/skills/prose-clarity/SKILL.md
  .claude/skills/prose-clarity/examples/before-after.md
  .claude/skills/prose-clarity/references/writing-rules.md
  .lintstagedrc.js
  .prettierignore
Due: prettier --write, oxlint --fix

Migrate mark-as-read mutations to collection ops (#625)
  src/components/notifications/notification-item.tsx
  src/components/notifications/notification-list.tsx
  src/features/notifications/collections.ts
  src/features/notifications/hooks.ts
  src/features/notifications/index.ts
  src/features/social/collections.ts
  src/features/social/hooks.ts
  src/features/social/index.ts
  src/lib/collections/group-updates.ts
  src/routes/_user/friends/chats.$friendUid.tsx
Due: prettier --write, oxlint --fix, eslint --fix, tsc --noEmit

Write confirmed rows back in the mark-as-read handlers (#625)
  src/features/notifications/collections.ts
  src/features/social/collections.ts
Due: prettier --write, oxlint --fix, eslint --fix, tsc --noEmit

Subscribe to realtime UPDATE on notification and chat_message
  src/features/notifications/hooks.ts
  src/features/social/hooks.ts
  src/lib/collections/realtime-row.ts
Due: prettier --write, oxlint --fix, eslint --fix, tsc --noEmit

Shorten Clear Technical and take four rules from journo-harness
  .claude/output-styles/clear-technical.md
  .claude/skills/prose-clarity/SKILL.md
Due: prettier --write, oxlint --fix

Add formatter drift tracking to CI (#752)
  .github/workflows/test.yaml
Due: none

Add Em Snook's copyright line to the prose-clarity LICENSE
  .claude/skills/prose-clarity/LICENSE
Due: none

State the { refetch: false } rule correctly in the docs
  CLAUDE.md
  docs/mutations.md
Due: prettier --write, oxlint --fix

Replace the OKLCH axis system with stock Tailwind palettes
  CLAUDE.md
  docs/styling.md
  readme/2026-02-21-tailwind-oklch-migration-status.md
  src/components/cards/tap-to-select.tsx
  src/components/ui/avatar.tsx
  src/components/ui/badge.tsx
  src/components/ui/button.tsx
  src/lib/lang-theme.ts
  src/lib/utils.ts
  src/routes/_user/friends/-playlist-preview.tsx
  src/routes/_user/friends/-request-preview.tsx
  src/routes/themes.index.lazy.tsx
  src/styles/globals.css
  src/styles/oklch.css
  src/styles/palette.css
  src/styles/theme.css
Due: prettier --write, oxlint --fix, eslint --fix, tsc --noEmit

Trim the colors doc to what is not stock Tailwind
  docs/styling.md
Due: prettier --write, oxlint --fix

Tighten the comments added in this branch
  src/features/notifications/collections.ts
  src/features/notifications/hooks.ts
  src/features/social/collections.ts
  src/features/social/hooks.ts
  src/lib/collections/group-updates.ts
  src/lib/collections/realtime-row.ts
Due: prettier --write, oxlint --fix, eslint --fix, tsc --noEmit

Mark-as-read on collection ops, realtime UPDATE, and the { refetch: false } contract (#760)
  CLAUDE.md
  docs/mutations.md
  src/components/notifications/notification-item.tsx
  src/components/notifications/notification-list.tsx
  src/features/notifications/collections.ts
  src/features/notifications/hooks.ts
  src/features/notifications/index.ts
  src/features/social/collections.ts
  src/features/social/hooks.ts
  src/features/social/index.ts
  src/lib/collections/group-updates.ts
  src/lib/collections/realtime-row.ts
  src/routes/_user/friends/chats.$friendUid.tsx
Due: prettier --write, oxlint --fix, eslint --fix, tsc --noEmit

Read user_deck as rows: drop the language graft, write back, sync realtime
  docs/mutations.md
  readme/testing-checklist.md
  scenetest/TEST_IDS.md
  scenetest/scenes/decks.spec.md
  src/components/browse-search-overlay.tsx
  src/components/ui/choice-tile.tsx
  src/features/deck/collections.ts
  src/features/deck/index.ts
  src/features/deck/mutations.ts
  src/features/deck/schemas.test.ts
  src/features/deck/schemas.ts
  src/hooks/use-user-realtime.ts
  src/routes/_user/learn/-archived-deck-tile.tsx
  src/routes/_user/learn/-deck-tile.tsx
  src/routes/_user/learn/-review-banner.tsx
  src/routes/_user/learn/index.tsx
Due: prettier --write, oxlint --fix, eslint --fix, tsc --noEmit

Stop the merged-branch guard from blocking a branch's first push
  .claude/hooks/guard-merged-branch-push.sh
Due: none

fixup! Read user_deck as rows: drop the language graft, write back, sync realtime
  .claude/hooks/guard-merged-branch-push.sh
  scenetest/scenes/decks.spec.md
  src/components/ui/choice-tile.tsx
  src/features/deck/collections.ts
  src/hooks/use-user-realtime.ts
Due: prettier --write, oxlint --fix, eslint --fix, tsc --noEmit
