Repository mhsnook/sunlo: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, oxlint --fix, eslint --fix, tsc --noEmit

Add components for: upvote, delete/update comment
  src/components/comments/delete-comment-dialog.tsx
  src/components/comments/update-comment-dialog.tsx
  src/components/comments/upvote.tsx
Due: prettier --write, oxlint --fix, eslint --fix, tsc --noEmit

Make highlighting work, post-form navigations
  src/components/comments/add-comment-dialog.tsx
  src/components/comments/comment-with-replies.tsx
  src/routes/_user/learn/$lang.requests.$id.tsx
Due: prettier --write, oxlint --fix, eslint --fix, tsc --noEmit

Rename comment-phrase to comment-phrase-link
  src/components/comments/add-comment-dialog.tsx
  src/components/comments/answers-only-view.tsx
  src/components/navs/deck-switcher.tsx
  src/hooks/use-comments.tsx
  src/lib/collections.ts
  src/lib/schemas.ts
  src/routes/_user/learn/$lang.bulk-add.tsx
  src/types/supabase.ts
  supabase/migrations/20251215000000_add_phrase_request_comments.sql
  supabase/seed-comments.sql
Due: prettier --write, oxlint --fix, eslint --fix, tsc --noEmit

Redo migrations and schema for this PR
  src/components/comments/comment-with-replies.tsx
  src/components/comments/upvote.tsx
  src/hooks/use-comments.tsx
  src/lib/schemas.ts
  src/types/supabase.ts
  supabase/migrations/20251215000000_add_phrase_request_comments.sql
  supabase/schemas/base.sql
  supabase/seed-comments.sql
Due: prettier --write, oxlint --fix, eslint --fix, tsc --noEmit

Remove anon permissions
  supabase/schemas/base.sql
Due: none

Fix lots of things and tidy lots of things (see desc)
  src/components/card-pieces/user-permalink.tsx
  src/components/cards/card-result-simple.tsx
  src/components/comments/add-comment-dialog.tsx
  src/components/comments/answers-only-view.tsx
  src/components/comments/comment-with-replies.tsx
  src/components/comments/top-level-comments.tsx
  src/components/ui/card-like.tsx
  src/hooks/use-comments.tsx
  src/routes/_user/learn/$lang.add-phrase.tsx
  src/routes/_user/learn/$lang.requests.$id.tsx
Due: prettier --write, oxlint --fix, eslint --fix, tsc --noEmit

Redo back btn and getting-around links
  src/components/navs/navbar.tsx
  src/routes/_user/learn/$lang.feed.tsx
  src/routes/_user/learn/$lang.review.tsx
Due: prettier --write, oxlint --fix, eslint --fix, tsc --noEmit

Tweak the primary-outline button to make it stand out
  src/components/ui/button-variants.tsx
  src/routes/_user/learn/$lang.feed.tsx
  src/routes/_user/learn/-contributions.tsx
Due: prettier --write, oxlint --fix, eslint --fix, tsc --noEmit

Show comment and answer counts on request card
  src/components/comments/answers-only-view.tsx
  src/hooks/use-requests.tsx
  src/routes/_user/learn/$lang.requests.$id.tsx
Due: prettier --write, oxlint --fix, eslint --fix, tsc --noEmit

Make request-bottons-row its own import & use in feed view
  src/components/card-pieces/request-header-footer.tsx
  src/components/comments/answers-only-view.tsx
  src/components/requests/request-buttons-row.tsx
  src/components/requests/request-header.tsx
  src/components/requests/request-list-item.tsx
  src/routes/_user/learn/$lang.requests.$id.tsx
Due: prettier --write, oxlint --fix, eslint --fix, tsc --noEmit

Make this useRequestLinks work, for list view and chat preview
  src/components/cards/phrase-tiny-card.tsx
  src/components/comments/comment-with-replies.tsx
  src/components/requests/request-list-item.tsx
  src/hooks/use-language.ts
  src/hooks/use-requests.tsx
  src/routes/_user/friends/-request-preview.tsx
Due: prettier --write, oxlint --fix, eslint --fix, tsc --noEmit

Consolidate single-use components into route file
  src/components/comments/answers-only-view.tsx
  src/components/comments/top-level-comments.tsx
  src/components/requests/request-buttons-row.tsx
  src/components/requests/request-list-item.tsx
  src/hooks/use-requests.tsx
  src/lib/utils.ts
  src/routes/_user/friends/-request-preview.tsx
  src/routes/_user/learn/$lang.requests.$id.tsx
Due: prettier --write, oxlint --fix, eslint --fix, tsc --noEmit

Fix user_deck_plus view again
  supabase/migrations/20251215000000_add_phrase_request_comments.sql
Due: none

Fix up the look of these card-result-simples
  src/components/card-pieces/card-status-dropdown.tsx
  src/components/cards/card-result-simple.tsx
  src/components/comments/comment-with-replies.tsx
Due: prettier --write, oxlint --fix, eslint --fix, tsc --noEmit

Make the request list items link-ish
  src/components/requests/request-buttons-row.tsx
  src/components/requests/request-list-item.tsx
  src/routes/_user/learn/$lang.requests.$id.tsx
Due: prettier --write, oxlint --fix, eslint --fix, tsc --noEmit

Return and update new comment phrase links as well
  src/components/comments/add-comment-dialog.tsx
  supabase/migrations/20251215000000_add_phrase_request_comments.sql
Due: prettier --write, oxlint --fix, eslint --fix, tsc --noEmit

Add request upvotes
  e2e/helpers/db-helpers.ts
  e2e/mutations/requests.spec.ts
  src/components/comments/comment-with-replies.tsx
  src/components/requests/request-buttons-row.tsx
  src/components/requests/request-list-item.tsx
  src/components/requests/upvote-request-button.tsx
  src/components/ui/button-variants.tsx
  src/lib/collections.ts
  src/lib/schemas.ts
  src/routes/_user/learn/$lang.requests.$id.tsx
  src/types/supabase.ts
  supabase/migrations/20251220040500_add_phrase_request_upvotes.sql
Due: prettier --write, oxlint --fix, eslint --fix, tsc --noEmit

Add titles to all interactables
  src/components/card-pieces/card-status-dropdown.tsx
  src/components/card-pieces/share-request-button.tsx
  src/components/cards/card-result-simple.tsx
  src/components/comments/add-comment-dialog.tsx
  src/components/comments/comment-with-replies.tsx
  src/components/comments/delete-comment-dialog.tsx
  src/components/comments/update-comment-dialog.tsx
  src/components/comments/upvote-comment-button.tsx
  src/components/copy-link-button.tsx
  src/components/navs/nav-main.tsx
  src/components/permalink-button.tsx
  src/components/phrase-accordion-item.tsx
  src/components/requests/request-buttons-row.tsx
  src/components/requests/request-header.tsx
  src/components/requests/request-list-item.tsx
  src/components/requests/upvote-request-button.tsx
  src/components/ui/button-group.tsx
  src/routes/_user/learn/$lang.requests.$id.tsx
Due: prettier --write, oxlint --fix, eslint --fix, tsc --noEmit

Clean up the schema file from recent migrations
  supabase/schemas/base.sql
  supabase/seed.sql
Due: none

Catch /requests/index and redirect to the feed
  src/routeTree.gen.ts
  src/routes/_user/learn/$lang.requests.index.tsx
Due: prettier --write, oxlint --fix, eslint --fix, tsc --noEmit

Fix layout/ui for form to select comment phrase links
  src/components/comments/add-comment-dialog.tsx
  src/components/comments/select-phrases-for-comment.tsx
Due: prettier --write, oxlint --fix, eslint --fix, tsc --noEmit

Fix migration
  supabase/migrations/20251215000000_add_phrase_request_comments.sql
Due: none

Do more encapsulation for the select phrase attachments dialog
  src/components/comments/add-comment-dialog.tsx
  src/components/comments/select-phrases-for-comment.tsx
Due: prettier --write, oxlint --fix, eslint --fix, tsc --noEmit

Use non-interactive phrase-tiny-card for search results
  src/components/cards/phrase-tiny-card.tsx
  src/components/comments/select-phrases-for-comment.tsx
Due: prettier --write, oxlint --fix, eslint --fix, tsc --noEmit

Fix height/scroll issue in the dialog
  src/components/comments/select-phrases-for-comment.tsx
  src/components/ui/dialog.tsx
Due: prettier --write, oxlint --fix, eslint --fix, tsc --noEmit

Configure persistent supabase branch "next"
  supabase/config.toml
Due: none

Feature version bump to 0.3 for social feed/comments/votes
  CHANGELOG.md
Due: prettier --write, oxlint --fix

Add a bunch of IDs to things, for the test runner
  src/components/card-pieces/share-request-button.tsx
  src/components/comments/add-comment-dialog.tsx
  src/components/comments/comment-with-replies.tsx
  src/components/comments/select-phrases-for-comment.tsx
  src/components/copy-link-button.tsx
  src/components/requests/request-buttons-row.tsx
  src/components/requests/upvote-request-button.tsx
  src/routes/_user/learn/$lang.requests.$id.tsx
  src/routes/_user/learn/$lang.requests.new.tsx
Due: prettier --write, oxlint --fix, eslint --fix, tsc --noEmit

Add view transitions across cards, requests, and most 'main's
  src/components/awaiting-auth-loader.tsx
  src/components/cards/big-phrase-card.tsx
  src/components/cards/card-result-simple.tsx
  src/components/cards/phrase-tiny-card.tsx
  src/components/cards/tap-to-select.tsx
  src/components/navs/navbar.tsx
  src/components/requests/request-list-item.tsx
  src/components/review/review-single-card.tsx
  src/main.tsx
  src/routes/_auth/login.tsx
  src/routes/_user/friends/-card-preview.tsx
  src/routes/_user/getting-started.tsx
  src/routes/_user/learn/$lang.$id.tsx
  src/routes/_user/learn/$lang.add-phrase.tsx
  src/routes/_user/learn/$lang.bulk-add.tsx
  src/routes/_user/learn/$lang.contributions.tsx
  src/routes/_user/learn/$lang.deck-settings.tsx
  src/routes/_user/learn/$lang.feed.tsx
  src/routes/_user/learn/$lang.requests.$id.tsx
  src/routes/_user/learn/$lang.stats.tsx
  src/routes/_user/learn/archived.tsx
  src/routes/_user/learn/index.tsx
Due: prettier --write, oxlint --fix, eslint --fix, tsc --noEmit

WIP: Add big giant spec to surf the thread and comment
  e2e/comment-thread-flow.spec.ts
Due: prettier --write, oxlint --fix, eslint --fix, tsc --noEmit

Don't forget version bump in package.json
  package.json
Due: prettier --write, oxlint --fix

Add /learn/contributions page to view everything you've made
  src/components/card-pieces/user-permalink.tsx
  src/components/navs/nav-main.tsx
  src/components/plus-menu.tsx
  src/hooks/links.ts
  src/lib/schemas.ts
  src/routeTree.gen.ts
  src/routes/_user/learn.tsx
  src/routes/_user/learn/$lang.contributions.tsx
  src/routes/_user/learn/-contributions.tsx
  src/routes/_user/learn/contributions.tsx
Due: prettier --write, oxlint --fix, eslint --fix, tsc --noEmit

Add playlist routes, schemas, collections, migrations, hooks, list item
  src/components/playlists/playlist-list-item.tsx
  src/hooks/use-playlists.ts
  src/lib/collections.ts
  src/lib/schemas.ts
  src/routes/_user/learn/$lang.playlists.$playlistId.tsx
  src/routes/_user/learn/$lang.playlists.index.tsx
  src/types/supabase.ts
  supabase/migrations/20251229000000_add_playlist_tables.sql
  supabase/schemas/base.sql
Due: prettier --write, oxlint --fix, eslint --fix, tsc --noEmit

Remove a bunch of unnecessary context rules
  GEMINI.md
  code-rules.md
Due: prettier --write, oxlint --fix

Update types for removed meta_request_info
  src/types/supabase.ts
Due: prettier --write, oxlint --fix, eslint --fix, tsc --noEmit

New playlist page w submit logic, form schemas -- no RPC yet
  src/components/ui/button-variants.tsx
  src/components/ui/input.tsx
  src/components/ui/textarea.tsx
  src/lib/schemas-playlist.ts
  src/lib/schemas.ts
  src/routes/_user/learn/$lang.playlists.new.tsx
Due: prettier --write, oxlint --fix, eslint --fix, tsc --noEmit

Add new-playlist RPC fn and types
  prettier.config.mjs
  src/types/supabase.ts
  supabase/migrations/20260102000000_add_create_playlist_rpc.sql
  supabase/schemas/base.sql
Due: prettier --write, oxlint --fix, eslint --fix, tsc --noEmit

Path conditions:
  prettier --write: any of: *.{js,jsx,ts,tsx,json,css,md}
  oxlint --fix: any of: *.{js,jsx,ts,tsx,json,css,md}
  eslint --fix: any of: *.{ts,tsx}
  tsc --noEmit: any of: *.{ts,tsx}
